<tr class="success">
  <td style="text-align:left">
    Базовая <sup style="color: red; font-size: 7pt"><%= (get_prices_eur(product)[0]/get_prices_eur(product)[5]).round(2) %></sup>:
  </td>
  <td style="text-align:left">
  </td>
  <td style="color: blue; text-align:right;">
  <button class="" data-clipboard-text="<%= article_text %><%= product.title %> — Базовая цена: <%= get_prices_eur(product)[0].round(2) %> евро c НДС. <%= information_on_the_availability %>">
    &euro;<%= get_prices_eur(product)[0].round(2) %>
    </button>
  </td>
  <td style="color: green; text-align:right; ">
  <button class="" data-clipboard-text="<%= article_text %><%= product.title %> — Базовая цена: <%= get_prices_rub(product)[0].round(2) %> рублей c НДС. <%= information_on_the_availability %>">
    <%= get_prices_rub(product)[0].round(2) %>р.
    </button>
  </td>
  <td width="25%"style="color: brown; text-align:right; ">
  <button class="" data-clipboard-text="<%= article_text %><%= product.title %> — Базовая цена: <%= (get_prices_rub(product)[0] / 1.20).round(2) %> рублей без НДС. <%= information_on_the_availability %>">
    <%= (get_prices_rub(product)[0] / 1.20).round(2) %>р.
    </button>
  </td>
</tr>