Получена заявка или подбор аналогов:<br>
Имя: <%= @contact&.name %><br>
Телефон: <%= @contact&.phone %><br>
E-mail: <%= @contact&.email %><br>
Сообщение: <%= @contact&.message %><br>

<% unless @contact.contact_attachments.empty? %>
  Вложения файлов:
  <% @contact.contact_attachments.each do |att| %>
    <% url = att.file.url %>
    <a href="<%= "#{root_url}#{url}" %>">
      <%= "#{root_url}#{url}" %>
    </a>
    <br>
  <% end %>
<% end %>