Получен вопрос / запрос:<br>

Страница сайта: <a href="http://poligon.info/products/<%= @product.id %>"><%= @product.title %></a><br>
Изделие: (<%= @product.article %>)<%= @product.title %><br>
Город:  <%= @city %><br>
Компания: <%= @company %><br>
Имя: <%= @name %><br>
Телефон: <%= @phone %><br>
E-mail: <%= @email %><br>
Сообщение: <%= @message %><br>

