<br>

<% if !@products.results.nil? and @products.results.size > 0 %>
  <%= render "shared/products_search_table", locals: { products: @products } %>
  <div class="flickr_pagination" id="products_pgn">
    <div class="page_info">
      <%= page_entries_info @products.results %>
    </div>
    <%= will_paginate @products.results, :param_name => 'products_page', :container => false %>
  </div>
<% else %>
  <br>
  <div class="alert alert-danger" role="alert">
    <strong>Поиск по складу не дал результатов.</strong> Попробуйте переформулировать запрос.
  </div>
<% end %>

<!-- If current user isn't a dealer, we'll show him search results by analogs and farnell -->
<% if current_user.group_id != 1 %>

  <% if !@analogs.results.nil? and @analogs.results.size > 0 %>
    <%= render "shared/analogs_search_table", locals: { analogs: @analogs } %>
    <div class="flickr_pagination">
      <div class="page_info">
        <%= page_entries_info @analogs.results %>
      </div>
      <%= will_paginate @analogs.results, :param_name => 'analogs_page', :container => false %>
    </div>
  <% else %>
    <br>
    <div class="alert alert-info" role="alert">
      <strong>Поиск по аналогам не дал результатов.</strong> Попробуйте переформулировать запрос.
    </div>
  <% end %>

  <% if !@farnell_products.nil? and @farnell_products.size > 0 %>
    <%= render "shared/farnell_search_table", locals: { farnell_products: @farnell_products } %>
  <% else %>
    <br>
    <div class="alert alert-warning" role="alert">
      <strong>Поиск по складам FARNELL не дал результатов.</strong> Попробуйте переформулировать запрос.
    </div>
  <% end %>

<% end %>

<hr>

<%= render "shared/common_search" %>
