<% title = params[:q] %>
<% description = "Найдено больше #{@products.results.count} товаров по запросу #{params[:q]}" if !@products.results.empty? %>
<% generate_meta_from title, description %>

<h1 style="color: red; text-transform: none;"><i><b><%= params[:q].mb_chars.capitalize.to_s %></b></i></h1>

<% if !@products.results.empty? %>
  <h4>Товары:</h4>
    <table class="table">
      <% @products.results.each do |product| %>
        <tr>
          <td>
            <b><%= link_to product.title, category_product_path(id: product, category_id: product.category) %></b> <% if !product.article.blank? %> (<%= product.article %>) <% end %> | <%= product.description %></td>
          <td class="stock-td">

          <% if signed_in? %>

            <% if product&.stock > 0 || product.remote_stock > 0 %>
              <span class="in_stock"><%= product.stock.to_s + ' шт.' %></span>
            <% elsif product.ordered_on_stock > 0 %>
              <span class="ordered_on_stock">Ожидается</span>
            <% else %>
              <i><%= product.delivery_time %></i>
            <% end %>

          <% else %>

            <% if product&.stock > 0 || product.remote_stock > 0 %>
              <span class="in_stock">В наличии</span>
            <% elsif product.ordered_on_stock > 0 %>
              <span class="ordered_on_stock">Ожидается</span>
            <% else %>
              <i><%= product.delivery_time %></i>
            <% end %>

          <% end %>

          </td>
          <td style="min-width: 350px;">
            <div class="product-incart product-incart-search">
              <%= form_tag(line_items_path, method: "post",  remote: true, class: "form-search") do %>
                <%= hidden_field_tag(:product_id, product.id) %>
                <%= hidden_field_tag(:price, calculate_price(product)) %>
                <%= hidden_field_tag(:minimum, 1) %>
                <div class="card-quan">
                  <%= number_field_tag(:quantity, 1, class: "product-quantity",  step: 1, min: 1, pattern: "^[0-9]+$") %> <span>шт.</span>
                </div>
                <button type="submit" data-toggle="modal" data-target="#quick-cart">В корзину</button>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @products.results %>
    </div>
    <%= will_paginate @products.results, :param_name => 'products_page', :container => false %>
  </div>
<% end %>
<% render "shared/common_search" %>
