<br>
<h2>Результат поиска по запросу <i><b>"<%= params[:q] %>"</b></i>:</h2>

<% if !@products.results.empty? %>
<h3>Поиск по устройствам:</h3>
<% @products.results.each do |product| %>
    <h4><%= link_to product.title, product %></h4>
    <%= product.description %>
<% end %>
<% end %>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @products.results %>
  </div>
  <%= will_paginate @products.results, :container => false %>
</div>

<% if !@articles.results.empty? %>
<h3>Поиск по статьям:</h3>
<% @articles.results.each do |article| %>
    <h4><%= article.title %></h4>
<% end %>
<% end %>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @articles.results %>
  </div>
  <%= will_paginate @articles.results, :container => false %>
</div>

    <% if !@news_items.results.empty? %>
<h3>Поиск по новостям:</h3>
<% @news_items.results.each do |news_item| %>
    <h4><%= news_item.title %></h4>
<% end %>
<% end %>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @news_items.results %>
  </div>
  <%= will_paginate @news_items.results, :container => false %>
</div>

<% if !@static_contents.results.empty? %>
<h3>Поиск по контенту:</h3>
<% @static_contents.results.each do |static_content| %>
    <h4><%= static_content.title %></h4>
<% end %>
<% end %>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @static_contents.results %>
  </div>
  <%= will_paginate @static_contents.results, :container => false %>
</div>
<br>
