<section class="module">

  <header>
    <% title = "Публикации" %>
    <% generate_meta_from title %>
    <h1><%= title %></h1>
  </header>

  <section class="wraper">

    <%= render "shared/index_figure", locals: {
      image_path: "design/articles.png",
      title: "Статьи",
      description: "Список познавательных статей о продукции, предлагаемой нашей компанией",
      link: articles_path(scope: "article"),
      tag_class: "small2"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/video.png",
      title: "Видео",
      description: "Сборник видео-обзоров, объясняющих назначение и принципы эксплуатации некоторых устройств",
      link: articles_path(scope: "video"),
      tag_class: "small2"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/reviews.png",
      title: "Обзоры",
      description: "Сборник материалов, позволяющих получить более полное представление о разных группах предлагаемых нами устройств",
      link: articles_path(scope: "review"),
      tag_class: "small2"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/package.png",
      title: "Дополнения",
      description: "Разнообразная дополнительная уточняющая информация по тем или иным видам устройств",
      link: articles_path(scope: "addition"),
      tag_class: "small2"} %>

  </section>

</section>
