<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Date created</th>
    <th>Date updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content.html_safe %></td>
    <td><%= article.created_at %></td>
    <td><%= article.updated_at %></td>
    <td><%= link_to 'Show', article %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
