<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @article.title %>
</p>

<p>
  <b>Содержание:</b>
  <%= @article.content.html_safe %>
</p>

<p>
  <b>Дата создания:</b>
  <%= @article.created_at %>
</p>

<%= link_to 'К списку статей', articles_path %>
