<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content.html_safe %>
</p>

<p>
  <b>Date created:</b>
  <%= @article.created_at %>
</p>

<p>
  <b>Date updated:</b>
  <%= @article.updated_at %>
</p>


<%= link_to 'Back', articles_path %>
