<%= render "shared/breadcrumb_search", locals: {for: "publications", item: @article} %>
<p id="notice"><%= notice %></p>
<br>
<% title = @article.title %>
<% generate_meta_from title %>
<h2><%= title %></h2>
<p>
  <%= @article.content.html_safe
      .gsub('href="/PDF', 'href="/PDF')
      .gsub('src="/js', 'src="/js')
      .gsub('src="/images', 'src="/images')
      .gsub('<img', '<img class="img-responsive" ')
      .html_safe %>
</p>

<%= render 'shared/article_footer', locals: { item: @article } %>
