<br>

<header>
  <% title = "Карта сайта" %>
  <% generate_meta_from title %>
  <h1 align="center"><%= title %></h1>
</header>


<p>
  <i>(Карта сайта в формате XML доступна по ссылке
     <a href="/sitemap.xml">sitemap.xml</a>)
  </i>
</p>

<h3>Новости</h3>
<% @news_items.each do |news_item| %>
  <a href="<%= news_item_url(news_item) %>">
    <%= news_item.title %>
  </a><br>
<% end %>
<hr>

<h3>Статьи</h3>
<% @articles.each do |article| %>
  <a href="<%= article_url(article) %>">
    <%= article.title %>
  </a><br>
<% end %>
<hr>

<h3>Видео</h3>
<% @videos.each do |video| %>
  <a href="<%= video_url(video) %>">
    <%= video.title %>
  </a><br>
<% end %>
<hr>

<h3>Обзоры</h3>
<% @reviews.each do |review| %>
  <a href="<%= review_url(review) %>">
    <%= review.title %>
  </a><br>
<% end %>
<hr>

<h3>Дополнения</h3>
<% @additions.each do |addition| %>
  <a href="<%= addition_url(addition) %>">
    <%= addition.title %>
  </a><br>
<% end %>
<hr>

<h3>Категории</h3>
<% @categories.each do |category| %>
  <a href="<%= category_url(category) %>">
    <%= category.title %><br>
  </a>
<% end %>
<hr>

<h3>Устройства</h3>
<% @products.each do |product| %>
  <a href="<%= product_url(product) %>">
    <%= product.title %><br>
  </a>
<% end %>
