<h1>Сертификаты</h1>
<% @vendors.each do |vendor| %>
  <div style="display: inline">
    <h2><%= vendor.title %></h2>
    <span>
      <%= form_for :vendor_id,
        url:  { action:"download", controller: "sertificates"},
        html: { method: :get} do |f| %>
        <%= f.hidden_field :vendor_id, value: vendor.id%>
        <%= f.submit "Скачать все PDF одним архивом", class: "btn btn-info" %>
      <% end %>
    </span>
  </div>
  <br>
    <% @sertificates.each do |sertificate| %>
    <ul style="list-style-type:none">
      <%  if vendor.id == sertificate.vendor_id %>
        <li><%= render 'shared/sertificates_list', locals: { sertificate: sertificate } %></li>
      <% end %>
    </ul>
    <% end %>

<% end %>
