<div class="category-menu">
  <ul>
    <li><%= link_to "Релейная автоматика", category_path(142) %></li>
    <li><%= link_to "Промежуточные реле", category_path(5933) %></li>
    <li><%= link_to "Контакторы", category_path(5094) %></li>
    <li><a href="#!">Коммутационная аппаратура</a></li>
    <li><a href="#!">Таймеры</a></li>
    <li><a href="#!">Устройства плавного пуска</a></li>
    <li><%= link_to "Молниезащита", category_path(74) %></li>
    <li><%= link_to "Управление освещением", category_path(5414) %></li>
    <li><%= link_to "Распределительные щиты", category_path(6925) %></li>
    <li><%= link_to "Автоматические выключатели CBI", category_path(5512) %></li>
    <li><a href="#!">Стабилизаторы напряжения</a></li>
  </ul>
</div>