<div class="category-menu">
  <%# Меню правится вручную, sorting не задействован %>
  <ul>
    <li><%= link_to "Релейная автоматика", category_path("promyshlennaya-avtomatizaciya-tele") %></li>
    <li><%= link_to "Промежуточные реле", category_path("produkciya-comatreleco") %></li>
    <li><%= link_to "Контакторы", category_path("kontaktory-i-puskateli-magnitnye") %></li>
    <li><%= link_to "Коммутационная аппаратура", category_path("kontaktory-puskateli-zasshita-benedict") %></li>
    <li><%= link_to "Таймеры", category_path("tajmery-graesslin") %></li>
    <li><%= link_to "Устройства плавного пуска ", category_path("ustrojstva-plavnogo-puska") %></li>
    <li><%= link_to "Молниезащита", category_path("ustrojstva-grozozasshity-i-uzip-citel") %></li>
    <li><%= link_to "Управление освещением", category_path("vremya-teplo-svet-graesslin") %></li>
    <li><%= link_to "Распределительные щиты", category_path("tehnoplast") %></li>
    <li><%= link_to "Автоматические выключатели CBI", category_path("avtomaticheskie-vyklyuchateli-cbi") %></li>
  </ul>
</div>