<div class="category-menu">
  <%# Меню правится вручную, sorting не задействован %>
  <ul>
    <li><%= link_to "Релейная автоматика", category_path(142) %></li>
    <li><%= link_to "Промежуточные реле", category_path(77) %></li>
    <li><%= link_to "Контакторы", category_path(5094) %></li>
    <li><%= link_to "Коммутационная аппаратура", category_path(5094) %></li>
    <li><%= link_to "Таймеры", category_path(5094) %></li>
    <li><%= link_to "Устройства плавного пуска ", category_path(5094) %></li>
    <li><%= link_to "Молниезащита", category_path(74) %></li>
    <li><%= link_to "Управление освещением", category_path(5414) %></li>
    <li><%= link_to "Распределительные щиты", category_path(6371) %></li>
    <li><%= link_to "Автоматические выключатели CBI", category_path(5512) %></li>
  </ul>
</div>