<footer>
  <div class="footer-partners">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/tele.png", alt: '"TELE"', title: "Промышленная автоматика из Австрии"), category_path(142) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/benedict.png", alt: '"Benedict"', title: "Контакторы, пускатели, защита Benedict"), category_path(5094) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/citel.png", alt: '"CITEL"', title: "CITEL - устройства молниезащиты"), category_path(74) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/graesslin.png", alt: '"Graesslin"', title: "Graesslin - таймеры и фотореле. Сделано в Германии"), category_path(5414) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/sonder.png", alt: '"SONDER"', title: "SONDER - термостаты"), category_path(5535) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/relequick.png", alt: '"RELEQUICK"', title: "RELEQUICK - интерфейсные реле"), category_path(5818) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/comat_releco.png", alt: '"COMAT-RELECO"', title: "COMAT-RELECO - промышленные промежуточные реле"), category_path(5933) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/emko.png", alt: '"EMKO"', title: "EMKO - температурные датчики и и контроллеры"), category_path(5583) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/cbi.png", alt: '"CBI"', title: "Профессиональные автоматические выключатели"), category_path(5512) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/tehnoplast.png", alt: '"TEHNOPLAST"', title: "Электротехнические шкафы TEHNOPLAST"), category_path(6371) %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/logo_mete_enerji.jpg", alt: '"Mete Enerji"', title: "") %>
        </div>
        <div class="col-sm-3 col-md-1 partner-logo">
          <%= link_to image_tag("logo/brands/polygon.png", alt: '"ПОЛИГОН"', title: "ПОЛИГОН - производитель модульных устройств автоматики и защиты из Санкт-Петербурга"), category_path(6321) %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer-block">
      <div class="row footer-top">
        <div class="hidden-sm col-sm-4 footer-search">
          <form method="get" action="/search">
            <input type="text" name="q" placeholder="поиск по всему сайту">
            <button type="submit">Найти</button>
          </form>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-offset-1 col-lg-7">
          <div class="row footer-sign">
            <%= form_tag(feedback_subscribe_path, method: "POST") do %>
              <div class="col-sm-6 col-md-6 footer-sign-block">
                <!--<input type="text" placeholder="e-mail">-->
                <%= text_field_tag 'email', nil, placeholder: "e-mail" %>
                <button type="submit">Подписаться</button>
              </div>
              <div class="col-sm-6 col-md-6 footer-agree">
                <!--<input type="checkbox" id="footer-agree">-->
                <%= check_box_tag 'footer_agree' %>
                <!--<label for="footer-agree"> Согласен с политикой конфиденциальности и соглашением об использовании сайта</label>-->
                <label>Согласен с <a href="/company/privacy_policy" style="text-decoration: underline; color: #3f6bd2;">политикой конфиденциальности</a> и <a href="/company/agreement" style="text-decoration: underline; color: #3f6bd2;">соглашением об использовании сайта</a></label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row footer-bottom">
        <div class="col-sm-4 col-md-3 logo">
          <a href=<%= root_path %>><%= image_tag('logo/logo.png', alt: 'Компания "ПОЛИГОН"') %></a>
          <div class="slogan">дистрибуция электротехники</div>
          <div class="twenty">Нам 20 лет!</div>
        </div>
        <div class="col-sm-4 col-md-3 footer-info">
          Информация на сайте <%= link_to "poligon.info", root_path %> не является публичной офертой.
          При использовании материалов ссылка на сайт обязательна. 18+.
          <p><a href="#">Политика конфиденциальности.</a></p>
          <p><a href="#">Соглашение об использовании сайта.</a></p>
          <div class="copyright">© 1997-2018 ООО "ПОЛИГОН".</div>
        </div>
        <div class="hidden-sm col-md-2 footer-catalog">
          <p>Скачать каталоги PDF <br>
            Товары на складе <br>
            Примеры применения <br>
            Статьи и обзоры <br>
            Распродажа <br>
            <%= link_to "ПЕРЕЙТИ В КАТАЛОГ >>", categories_path %>
          </p>
        </div>
        <div class="col-sm-4 col-md-4 footer-contacts">
          <p><a href="tel:<%= @phone1.text_value.gsub(" ","") %>"><%= @phone1.text_value %></a> - Санкт-Петербург</p>
          <p><a href="tel:<%= @phone2.text_value.gsub(" ","") %>"><%= @phone2.text_value %></a> - бесплатно по России</p>
          <p>e-mail: <a href="mailto:elcomp@poligon.info">elcomp@poligon.info</a></p>
          <p class="footer-address">Санкт-Петербург, Льва Толстого, д.7</p>
          <div class="footer-carousel">
            <div class="owl-carousel" id="footer-carousel">
              <div class="item"><%= link_to image_tag("office/artphoto_1.jpg"), company_about_path %></div>
              <div class="item"><%= link_to image_tag("office/artphoto_2.jpg"), company_about_path %></div>
              <div class="item"><%= link_to image_tag("office/artphoto_3.jpg"), company_about_path %></div>
              <div class="item"><%= link_to image_tag("office/artphoto_4.jpg"), company_about_path %></div>
              <div class="item"><%= link_to image_tag("office/artphoto_5.jpg"), company_about_path %></div>
              <div class="item"><%= link_to image_tag("office/artphoto_6.jpg"), company_about_path %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>