<%
  newsItems = NewsItem.all.order("created_at DESC").limit(3)
%>
<div class="main-news">
  <div class="container">
    <h2>Свежие новости и изделия</h2>
    <div class="row">
      <% newsItems.each do |newsItem| %>
      <div class="col-sm-4">
        <div class="row news-item">
          <% image_path = newsItem&.image %>
          <div class="col-xs-6 news-photo"><%= link_to image_tag(image_path), news_item_path(newsItem) %></div>
          <div class="col-xs-6 news-info">
            <div class="news-date"><%= newsItem.created_at.strftime("%Y-%m-%d") %></div>
            <div class="news-title"><%= link_to newsItem.title, news_item_path(newsItem) %></div>
            <div class="news-text"><%= newsItem.preview.html_safe %></div>
            <div class="news-link"><%= link_to "читать далее", news_item_path(newsItem) %></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="view-all"><%= link_to "Все новости", news_items_path %></div>
  </div>
</div>