<div class="partners">
  <div class="row">
    <div class="partners-block">
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/tele.png", alt: '"TELE"', title: "Промышленная автоматика из Австрии"), category_path(142) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/benedict.png", alt: '"Benedict"', title: "Контакторы, пускатели, защита Benedict"), category_path(5094) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/citel.png", alt: '"CITEL"', title: "CITEL - устройства молниезащиты"), category_path(74) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/graesslin.png", alt: '"Graesslin"', title: "Graesslin - таймеры и фотореле. Сделано в Германии"), category_path(5414) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/sonder.png", alt: '"SONDER"', title: "SONDER - термостаты"), category_path(5535) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/relequick.png", alt: '"RELEQUICK"', title: "RELEQUICK - интерфейсные реле"), category_path(5818) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/comat_releco.png", alt: '"COMAT-RELECO"', title: "COMAT-RELECO - промышленные промежуточные реле"), category_path(5933) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/emko.png", alt: '"EMKO"', title: "EMKO - температурные датчики и и контроллеры"), category_path(5583) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/cbi.png", alt: '"CBI"', title: "Профессиональные автоматические выключатели"), category_path(5512) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/tehnoplast.png", alt: '"TEHNOPLAST"', title: "Электротехнические шкафы TEHNOPLAST"), category_path(6925) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/huber_suhner.png", alt: '"HUBER+SUHNER"', title: "ВЧ-разъемы, оптические компоненты"), category_path(4847) %>
      </div>
      <div class="col-xs-4 col-md-2 partner-logo">
        <%= link_to image_tag("logo/brands/polygon.png", alt: '"ПОЛИГОН"', title: "ПОЛИГОН - производитель модульных устройств автоматики и защиты из Санкт-Петербурга"), category_path(6321) %>
      </div>
    </div>
  </div>
  <div class="partners-button"><%= link_to "Все производители", categories_path %></div>
  <div class="partners-text">
    Используйте качественное оборудование от специализированных европейских брендов из Австрии, Германии, Франции, Швейцарии, Испании, Швеции, Сербии и России.
  </div>
</div>