<p id="notice"><%= notice %></p>
<br>
<% title = @video.title %>
<% generate_meta_from title %>
<h1><%= title %></h1>
<p>
  <%= @video.content.html_safe
      .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
      .gsub('src="/js', 'src="http://www.poligon.info/js')
      .gsub('src="/images', 'src="http://www.poligon.info/images')
      .html_safe %>
</p>
<%= render partial: 'shared/videos_list', locals: { videos: @videos } %>

<%= render 'shared/article_footer', locals: { item: @video } %>
