<% item_class = locals[:items][0] %>

<% if controller.controller_name == "news_items" && controller.action_name %>
<% else %>
  <%= render "shared/breadcrumb_search", locals: {for: "publications", class: item_class } %>
<% end %>

<div class="apply-tags-block" style="margin-top: 0px; margin-bottom: 20px;">
    <div class="container">
      <ul class="apply-tags">
          <li>
            <a href="/articles">Все публикации</a>
          </li>
          <li>
            <a href="/articles?scope=article">Статьи</a>
          </li>
          <li>
            <a href="/articles?scope=video">Видео</a>
          </li>
          <li>
            <a href="/articles?scope=review">Обзоры</a>
          </li>
          <li>
            <a href="/articles?scope=addition">Дополнения</a>
          </li>
      </ul>
    </div>
  </div>


<table class="table table-striped">
  <tr>
    <th style="width: 10%;">Иллюстрация</th>
    <% if item_class.is_a? NewsItem %>
      <th style="width: 80%;">Краткое описание</th>
    <% else %>
      <th style="width: 80%;">Название</th>
    <% end %>
    <th style="width: 10%;">Дата</th>
  </tr>
  <% locals[:items].each do |item| %>
    <tr>
      <% if item.is_a? NewsItem %>
        <td><%= image_tag(item.image, alt: item.title, title: item.title, class: 'img img-responsive news-image') if item.image %></td>
      <% else %>
       <td><%= image_tag(item.image, alt: item.title, title: item.title, class: 'img img-responsive news-image') if item.image %></td>
      <% end %>
      <% if item.is_a? NewsItem %>
        <td>
          <table>
            <tr><td><b><%= link_to item.title, item %></b></td></tr>
            <tr><td><%= item.preview.html_safe %></td></tr>
          </table>
        </td>
      <% else %>
        <td><b><%= link_to item.title, item %></b></td>
      <% end %>
      <td><%= item.created_at.strftime("%d.%m.%Y") %></td>
    </tr>
  <% end %>
</table>
