<% if !locals[:product].nil? and locals[:for].nil? %>
  <ol class="breadcrumb">
    <li><%= link_to 'Каталог', categories_path %></li>
    <% if Category.find(locals[:product].category_id).published == 1 %>
      <% parents_of(locals[:product].category_id).reverse_each do |item| %>
        <li><%= link_to item.title, item %></li>
      <% end %>
    <% else %>
      <% element = Category.find(locals[:product].category_id) %>
      <% untouchable = element.title %>
      <% parents_of(locals[:product].category_id).reverse_each do |item| %>
        <% if item.title == untouchable %>
          <li style="color: grey;" ><%= item.title %></li>
        <% else %>
          <li><%= link_to item.title, item %></li>
        <% end %>
      <% end %>
    <% end %>
  </ol>
<% else %>
  <% if (locals[:for] == 'categories') %>
    <div class="row breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Каталог', categories_path %></li>
          <% @parents_array.reverse_each do |item| %>
            <li class="breadcrumb-item"><%= link_to item.title, item %></li>
          <% end %>
        </ol>
      </nav>
    </div>
  <% elsif (locals[:for] == 'publications') %>

    <%
      publication_types = [
        {type: "addition", title: "Дополнения", path: articles_path(scope: "addition")},
        {type: "article", title: "Статьи", path: articles_path(scope: "article")},
        {type: "review", title: "Обзоры", path: articles_path(scope: "review")},
        {type: "video", title: "Видео", path: articles_path(scope: "video")}
      ]
    %>
      <% if controller.controller_name == "news_items" && controller.action_name %>
          
      <% else %>
        <div class="row breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
              <%= link_to 'Публикации', articles_path %></li>

              <% publication_types.each do |item| %>
                <% a = locals[:item].class.name %>
   
                <% if locals[:class].class.name == "Article" && params[:scope] && item[:type].include?(params[:scope]) %>
                  <li class="breadcrumb-item"><%= link_to item[:title], item[:path] %></li>
                <% end %>
              <% end %>
              
            </ol>
          </nav>
        </div>
      <% end %>
  <% elsif (locals[:for] == 'news_items') %>

    <% item = locals[:item] %>
    <div class="row breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Новости', news_items_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to item[:title], news_items_path(item) %>
          </li>
        </ol>
      </nav>
    </div>
  <% end %>
<% end %>