<% items = {} %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Корзина</h3>
</div>
<div class="modal-body">
  <ul>
    <% @cart.line_items.each do |line_item| %>
      <li id="line-item-<%= line_item.id.to_s %>">
        <div>
          <%= line_item.quantity %> &times; <%= line_item.product.title %> <%= line_item.price * line_item.quantity %>
          <%= form_tag(carts_remove_from_cart_path(id: line_item.product.id), method: "post", remote: true) do %>
            <%= submit_tag "Удалить позицию" %>
          <% end %>
        </div>
      </li>
      <% items[line_item.product.id] = line_item.quantity %>
    <% end %>
    <%= button_to 'Очистить корзину', @cart, method: :delete, confirm: 'Вы уверены?' %>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Продолжить покупки</button>
  <button class="btn btn-danger">Оформить заказ</button>
  <div>
    <%= form_tag(orders_send_order_email_path, method: "post") do %>
      <% items.each do |key, item| %>
        <%= hidden_field_tag "items["+key.to_s+"]", item %>
      <% end %>
      <%= phone_field_tag(:phone, nil, placeholder: "Введите номер телефона") %>
      <button type="submit">Жду звонка</button>
    <% end %>
  </div>
</div>