<div id="category-catalogs-div">
  <table class="category-catalogs-table">
    <% case @vendors_categories_ids & @parents_categories_ids %>
    <% when [142] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/TELE/TELE_Main_Catalogue_2011-2012_RU.pdf" %>
        <td><%= link_to( " Основной каталог TELE", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5094] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/BENEDICT/benedict-general-catalogue-D946E-2015.pdf" %>
        <td><%= link_to( " Основной каталог на 2015г. (англ.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/BENEDICT/Benedict_2012-Main_catalog_rus.pdf" %>
        <td><%= link_to( " Основной каталог на 2012г. (рус.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [74] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/CITEL/citel-catalog-rus.pdf" %>
        <td><%= link_to( " Основной каталог CITEL (рус.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/CITEL/AC1000V.pdf" %>
        <td><%= link_to( " Устройства грозозащиты, молниезащиты и УЗИП для сетей переменного тока до 1000В", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/CITEL/DC1000V.pdf" %>
        <td><%= link_to( " Устройства грозозащиты, молниезащиты и УЗИП для сетей постоянного тока до 1000В", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/CITEL/2-class.pdf" %>
        <td><%= link_to( " Обзор УЗИП 2го класса", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5414] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/GRAESSLIN/Trade_Program_2014-2015_EN.pdf" %>
        <td><%= link_to( " Каталог Graesslin на 2014-2015гг. (англ.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/GRAESSLIN/GRAESSLIN_Main_Catalogue_rus.pdf" %>
        <td><%= link_to( " Каталог Graesslin на 2010-2011гг. (рус.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5535] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/SONDER/Manual_TA1000_TA3000.pdf" %>
        <td><%= link_to( " Инструкция для термостатов серий TA1000 и TA3000", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5818] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/RELEQUICK/Catalogue.pdf" %>
        <td><%= link_to( " Основной каталог RELEQUICK", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5933] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/RELECO/Comat-Releco_World_of_relays_2015-2016.pdf" %>
        <td><%= link_to( " Полный каталог Comat/Releco 2015-2016 (англ.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/RELECO/RELECO_CATALOG.pdf" %>
        <td><%= link_to( " Каталог продукции RELECO (рус.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/RELECO/RELECO_Ka_Railway_2012e.pdf" %>
        <td><%= link_to( " Каталог изделий для жд-транспорта", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5583] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/EMKO/EMKO_Main_Catalogue(thermocontrollers)_rus.pdf" %>
        <td><%= link_to( " Основной каталог EMKO (рус.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5512] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/CBI/CBI-circuit_breaker.en.pdf" %>
        <td><%= link_to( " Краткий обзор автоматических выключателей CBI (англ.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [6441] %>
    <tr>
    <% when [4847] %>
    <tr>
      <p>
        <% pdfPath = "http://www.hubersuhner.com/ru/Service-Contact/Downloads" %>
        <td><%= link_to( " Все каталоги HUBER+SUHNER", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [6321] %>
    <tr>
      <p>
        <% pdfPath = "http://poligonspb.ru/about/sertifikaty/" %>
        <td><%= link_to( ' Все каталоги НПФ "ПОЛИГОН"', pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% when [5650] %>
    <tr>
      <p>
        <% pdfPath = "http://www.poligon.info/PDF/VEMER/VEMER_main.pdf" %>
        <td><%= link_to( " Основной каталог VEMER (рус.)", pdfPath, target: "_blank") %></td>
      </p>
    </tr>
    <% else %>
    <% end %>
  </table>
</div>
