<div id="vendors-logo-div">
  <% case @vendors_categories_ids & @parents_categories_ids %>
  <% when [142] %>
    <%= link_to image_tag("logo/category_vendors/tele.gif", alt: '"TELE"', title: "реле времени и контроля из Австрии", :class => 'vendors-logos'), :action => 'show', :controller => 'categories', :id => '142' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/TELE/TELE_Main_Catalogue_2011-2012_RU.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог TELE", pdfPath) %>
    </p>
  <% when [5094] %>
    <%= link_to image_tag("logo/category_vendors/benedict.gif", alt: '"Benedict"', title: "Контакторы, пускатели, защита Benedict", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5094' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/BENEDICT/benedict-general-catalogue-D946E-2015.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог на 2015г. (англ.)", pdfPath) %>
    </p>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/BENEDICT/Benedict_2012-Main_catalog_rus.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог на 2012г. (рус.)", pdfPath) %>
    </p>
  <% when [74] %>
    <%= link_to image_tag("logo/category_vendors/citel.gif", alt: '"CITEL"', title: "CITEL - устройства молниезащиты", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '74' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/CITEL/citel-catalog-rus.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог CITEL (рус.)", pdfPath) %>
    </p>
  <% when [5414] %>
    <%= link_to image_tag("logo/category_vendors/graesslin.gif", alt: '"Graesslin"', title: "Graesslin - таймеры и фотореле. Сделано в Германии.", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5414' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/GRAESSLIN/Trade_Program_2014-2015_EN.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Каталог Graesslin на 2014-2015гг. (англ.)", pdfPath) %>
    </p>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/GRAESSLIN/GRAESSLIN_Main_Catalogue_rus.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Каталог Graesslin на 2010-2011гг. (рус.)", pdfPath) %>
    </p>
  <% when [5535] %>
    <%= link_to image_tag("logo/category_vendors/sonder.gif", alt: '"SONDER"', title: "SONDER - термостаты", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5535' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/SONDER/Manual_TA1000_TA3000.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Инструкция для термостатов серий TA1000 и TA3000", pdfPath) %>
    </p>
  <% when [5818] %>
    <%= link_to image_tag("logo/category_vendors/relequick.gif", alt: '"RELEQUICK"', title: "RELEQUICK - интерфейсные реле", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5818' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/RELEQUICK/Catalogue.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог RELEQUICK", pdfPath) %>
    </p>
  <% when [5933] %>
    <%= link_to image_tag("logo/category_vendors/comat_releco.gif", alt: '"COMAT-RELECO"', title: "COMAT-RELECO - промышленные промежуточные реле", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5933' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/RELECO/Comat-Releco_World_of_relays_2015-2016.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Полный каталог Comat/Releco 2015-2016 (англ.)", pdfPath) %>
    </p>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/RELECO/RELECO_CATALOG.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Каталог продукции RELECO (рус.)", pdfPath) %>
    </p>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/RELECO/RELECO_Ka_Railway_2012e.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Каталог изделий для жд-транспорта", pdfPath) %>
    </p>
  <% when [5583] %>
    <%= link_to image_tag("logo/category_vendors/emko.gif", alt: '"EMKO"', title: "EMKO - температурные датчики и и контроллеры", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5583' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/EMKO/EMKO_Main_Catalogue(thermocontrollers)_rus.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог EMKO (рус.)", pdfPath) %>
    </p>
  <% when [5512] %>
    <%= link_to image_tag("logo/category_vendors/cbi.gif", alt: '"CBI"', title: "Профессиональные автоматические выключатели", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5512' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/CBI/CBI-circuit_breaker.en.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Краткий обзор автоматических выключателей CBI (англ.)", pdfPath) %>
    </p>
  <% when [6441] %>
    <%= link_to image_tag("logo/category_vendors/tehnoplast.gif", alt: '"TEHNOPLAST"', title: "Электротехнические шкафы TEHNOPLAST", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '6441' %>
  <% when [4847] %>
    <%= link_to image_tag("logo/category_vendors/huber-suhner.gif", alt: '"HUBER+SUHNER"', title: "ВЧ-разъемы, оптические компоненты", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '4847' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.hubersuhner.com/ru/Service-Contact/Downloads" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Все каталоги HUBER+SUHNER", pdfPath) %>
    </p>
  <% when [6321] %>
    <%= link_to image_tag("logo/category_vendors/poligonspb.gif", alt: '"ПОЛИГОН"', title: "ПОЛИГОН - производитель модульных устройств автоматики и защиты из Санкт-Петербурга", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '6321' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://poligonspb.ru/about/sertifikaty/" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( ' Все каталоги НПФ "ПОЛИГОН"', pdfPath) %>
    </p>
  <% when [5650] %>
    <%= link_to image_tag("logo/category_vendors/vemer.gif", alt: '"VEMER"', title: "производитель промышленных решений для измерения и контроля основных электрических параметров", :class => "vendors-logos"), :action => 'show', :controller => 'categories', :id => '5650' %>
    <p class="vendors-catalog-link">
      <% pdfPath = "http://www.poligon.info/PDF/VEMER/VEMER_main.pdf" %>
      <%= image_tag("design/pdf_doc.gif", height: '20', width: '20') %>
      <%= link_to( " Основной каталог VEMER (рус.)", pdfPath) %>
    </p>
  <% else %>
  <% end %>
</div>
