<div class="cart-table">
  <% items = locals[:items] %>
  <% if @current_cart.line_items.count > 0 %>
    <div>
      <div>
        <table class="table-responsive">
          <tr>
            <td class="cart-name">Наименование</td>
            <td class="cart-price">Цена</td>
            <td class="cart-quantity">Количество</td>
            <td class="cart-cost">Сумма</td>
            <td class="cart-status">Статус</td>
            <td class="cart-remove">Удалить</td>
          </tr>
          <% sum = 0 %>
          <% @current_cart.line_items.each do |line_item| %>
            <tr>
              <td class="cart-name">
                <div class="row">
                  <div class="col-md-5 cart-photo">
                    <%= render "shared/product_image", locals: {product: line_item.product} %>
                  </div>
                  <div class="col-md-7 cart-title">
                    <%= link_to(line_item.product.title, product_path(line_item.product.id)) %>
                  </div>
                </div>
              </td>
              <td class="cart-price"><%= line_item.price %> Руб.</td>
              <td class="cart-quantity">
                <span class="number-plus-minus">
                  <%= number_field_tag(:quantity, line_item.quantity, class: "quantity-in-cart", id: line_item.id.to_s,  step: 1, min: 1, pattern: "^[0-9]+$") %> <span>шт.</span>
                </span>
              </td>
              <td class="cart-cost" id="cart-cost-<%= line_item.id.to_s %>"><%= line_item.price * line_item.quantity %> Руб.</td>
              <td class="cart-status" id="cart-status-<%= line_item.id.to_s %>">
                <% if line_item.overflow > 0 and (line_item.overflow != line_item.quantity) %>
                  <span><%= image_tag("yellow.gif") %></span>
                  <span>Частично в наличии</span>
                <% elsif line_item.overflow == line_item.quantity %>
                  <span><%= image_tag("grey.gif") %></span>
                  <span><%= line_item.product.delivery_time %></span>
                <% else %>
                  <span><%= image_tag("green.gif") %></span>
                  <span>На складе</span>
                <% end %>
              </td>
              <td>
                <%= button_to carts_remove_from_cart_path(id: line_item.product.id), id: "delete-glyphicons", remote: true do %>
                  <span class="glyphicon glyphicon-remove-circle" style="color: red; background: white; width: 100%; height: 100%;"></span>
                <% end %>
              </td>
            </tr>
            <% sum += line_item.price * line_item.quantity %>
            <% items[line_item.id.to_s] = "quantity:" + line_item.quantity.to_s + ";price:" + sum.to_s %>
          <% end %>
        </table>
        <div class="cart-total">
          <div class="row">
            <div class="col-md-6 cart-spec">
              <% if get_excel_spec @current_cart %>
                <a href="#"><span></span>Скачать спецификацию в формате excel</a>
              <% end %>
            </div>
            <div class="col-md-6 cart-total-price"><span>Общая стоимость:</span> <%= sum %> Руб.</div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    Ваша корзина пока пуста...
  <% end %>
</div>
<div class="quick-order">
  <h3>Введите номер телефона для быстрого оформления:</h3>
  <%= form_tag(orders_send_order_email_path, method: "post") do %>
    <% items.each do |key, item| %>
      <%= hidden_field_tag :order_type, "fast_order" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag "items["+key.to_s+"]", item %>
    <% end %>
    <div class="row">
      <div class="col-sm-7 quick-phone">
        <%= phone_field_tag(:phone_wait, nil, {class: "phone-send", placeholder: "+7 ( ___ ) ___-__-__"}) %>
      </div>
      <div class="col-sm-5 quick-button">
        <button type="submit">Жду звонка</button>
      </div>
    </div>
    <div class="quick-order-hint">
      Нажимая на кнопку "Жду звонка" Вы даете согласие на обработку <a href="/company/privacy_policy" target="_blank">персональных данных.</a>
    </div>
  <% end %>
</div>
<div class="cart-buttons">
  <div class="row">
    <div class="col-sm-6 stay-but">
      <a href="<%= categories_path %>">
        <button type="button"><span></span>Продолжить покупки</button>
      </a>
    </div>
    <div class="col-sm-6 buy-but">
      <button type="submit" id="send-order-button"><span></span>Оформить заказ</button>
    </div>
  </div>
</div>
