<% product_image = DataFile.where('owner_id = ? and file_type_id = 1', locals[:product_array][0].id).first %>
<% product_pdf   = DataFile.where("owner_id = ? and file_type_id = 2", locals[:product_array][0].id).first %>
<% product = locals[:product_array][0] %>

<div class="product">
  <div class="row">
    <div class="col-xs-7 product-left">
      <div class="col-xs-4 product-photo">
        <div class="product-photo-img">
          <% unless product_image.nil? %>
            <% if product_image.path[0] != 'c' %>
              <% imagePath = product_image.path.gsub("\\\\Server03\\бд_сайта\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
            <% else %>
              <% imagePath = product_image.path.gsub("c:\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
            <% end %>
            <%= link_to image_tag(imagePath, class: "img-responsive center-block product-image-container"), imagePath, class: "fancybox" %>
          <% else %>
            <p></p>
          <% end %>
        </div>
        <!--<div class="product-adv"><a href="card.html#tab-advant" class="to-advant" target="_blank">Преимущества</a></div>-->
      </div>
      <div class="col-xs-8 product-descr">
        <h3><%= link_to locals[:product_array][0].title, locals[:product_array][0] %></h3>
        <p class="product-art">Артикул: <span><%= locals[:product_array][0].article.nil? ? "-" : locals[:product_array][0].article %></span></p>
        <p class="product-manuf">Производитель: <span><a href="/categories/<%= locals[:product_array][3].code %>"><%= locals[:product_array][3].title %></a></span></p>
        <p class="product-text"><%= locals[:product_array][0].description %></p>
        <ul class="product-list">
          <!--<li><a>Параметры</a>-->
            <!--<div class="hid-text">-->
              <!--<strong>Параметры</strong>-->
              <!--<p>Здесь какой-то текст</p>-->
              <!--<p>или пункт характеристики</p>-->
              <!--<div class="hide-hid-text">Свернуть</div>-->
            <!--</div>-->
          <!--</li>-->
          <li>
            <% if product_pdf != nil and product_pdf.path != "c:\\poligon_datasheets\\" and product_pdf.path != "\\\\Server03\\бд_сайта\\poligon_datasheets\\" %>
              <%= link_to( "Скачать PDF", content_download_pdf_path(product_id: product.id)) %>
            <% end %>
          </li>
          <li>
            <%= render "shared/category_catalogs_links", locals: {vendor_id: locals[:product_array][3].code}  %>
          </li>
          <!--<li><a href="card.html" target="_blank">Преимущества</a></li>-->
        </ul>
        <div class="row product-options">
          <div class="col-xs-6 product-option product-quick-delivery">
            <a href="#">Быстрая доставка</a>
            <div class="info"><span></span>
              <div class="info-text">
                <p>Доставляем Деловыми линиями Major, СДЭК, Пони Экспресс. Возможна доставка до пункта выдачи. Отправка ежедневно.</p>
                <a href="#">Более подробная инфомация</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 product-option product-condition-payment">
            <a href="#">Условия оплаты</a>
            <div class="info"><span></span>
              <div class="info-text"><p>Тут другая подсказка</p></div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-5 product-right">
      <div class="product-price">
        Цена:
        <!--<span class="product-old-price">-->
          <!--<% if locals[:product_array][1] == 0 %>-->
            <!--<span class="price">Звоните:<br>(812)325-42-20</span>-->
          <!--<% else %>-->
            <!--<span class="price"><%= locals[:product_array][1].to_s + ' руб.' %></span>-->
          <!--<% end %>-->
        <!--</span>-->
        <span class="product-new-price">
          <% if locals[:product_array][1] == 0 %>
            <span class="price">Звоните:<br>(812)325-42-20</span>
          <% else %>
            <span class="price"><%= locals[:product_array][1].to_s + ' руб.' %></span>
          <% end %>
        </span>
      </div>
      <div class="price-request">
        <%= submit_tag "Запросить спец.цену", class: "price-request", data: { toggle: "modal", target: "#special", product: locals[:product_array][0].id } %>
      </div>
      <div class="product-presence">
        <% if locals[:product_array][2] > 0 %>
          <span><%= image_tag("green.gif") %></span>
          <span>На складе: <%= locals[:product_array][2] %> шт. </span><br>
          <!--<span>Срок дополнительной поставки: <%#= locals[:product_array][0].delivery_time %></span>-->
        <% else %>
          <span><%= image_tag("grey.gif") %></span>
          <span>Под заказ, </span><br>
          <span>срок поставки <%= locals[:product_array][0].delivery_time %></span>
        <% end %>
      </div>
      <div class="product-list">
        <ul>
          <li>Страна бренда:  <%= locals[:product_array][0].vendor.address %></li>
          <li>Отгрузка кратно:  1шт.</li>
          <li>Официальный дистрибьютор в РФ</li>
        </ul>
      </div>
      <div class="product-incart">
        <%= form_tag(line_items_path, method: "post",  remote: true) do %>
          <%= hidden_field_tag(:product_id, product.id) %>
          <%= hidden_field_tag(:price, locals[:product_array][1]) %>
          <%= hidden_field_tag(:minimum, 1) %>
          <button type="submit" data-toggle="modal" data-target="#quick-cart">В корзину</button>
          <%= number_field_tag(:quantity, 1, class: "quantity",  step: 1, min: 1, pattern: "^[0-9]+$") %> <span>шт.</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/mainpage/modal_special", locals: {product: locals[:product_array][0]} %>