<% productImage = DataFile.where('owner_id = ? and file_type_id = 1', locals[:product_array][0].id).first %>
<div class="catalog-col">
  <div class="catalog-col-left">
    <div class="catalog-col-img">
      <% unless productImage.nil? %>
        <% if productImage.path[0] != 'c' %>
          <% imagePath = productImage.path.gsub("\\\\Server03\\бд_сайта\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
        <% else %>
          <% imagePath = productImage.path.gsub("c:\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
        <% end %>
        <%= link_to image_tag(imagePath, class: "img-responsive center-block product-image-container"), imagePath, class: "fancybox" %>
      <% else %>
        <p></p>
      <% end %>
    </div>
    <!--<p class="buy-p">С этим покупают <a data-modal="buy_modal" href="#">Посмотреть</a></p>-->
  </div>
  <div class="catalog-col-middle">
    <h2>
      <span class="product-title"><%= link_to locals[:product_array][0].title, locals[:product_array][0] %></span>
    </h2>
    <p><%= locals[:product_array][0].description %></p>
    <ul>
      <li><span>Артикул</span> <span><%= locals[:product_array][0].article.nil? ? "Не указан" : locals[:product_array][0].article %></span></li>
      <li><span>Производитель</span> <span><a href="/categories/<%= locals[:product_array][3].code %>"><%= locals[:product_array][3].title %></a></span></li>
    </ul>
    <div class="icons">
      <div class="icons-col right">
        <img alt="" style="width: 150px;" src="http://poligon.info<%= locals[:product_array][3].logo %>">
      </div>
    </div>
  </div>
  <div class="catalog-col-right sale">
    <div class="catalog-st">
      <% if locals[:product_array][1] == 0 %>
        <span class="price">Звоните:<br>(812)325-42-20</span>
      <% else %>
        <span class="price"><%= locals[:product_array][1].ruspace(true) %></span>
      <% end %>
      <span class="retail-title">Розничная цена</span>
      <span class="retail-price dont-sale">
        <%= locals[:product_array][1] == 0 ? "Не указана" : locals[:product_array][1].ruspace(true) %>
      </span><br>
      <% if locals[:product_array][2] > 0 %>
        <span><%= image_tag("green.gif") %></span>
        <span>На складе: <%= locals[:product_array][2] %> шт. </span>
        <span>Срок дополнительной поставки: <%= locals[:product_array][0].delivery_time %></span>
      <% else %>
        <span><%= image_tag("grey.gif") %></span>
        <span>Товар временно отсутствует. </span>
        <span>Срок поставки: <%= locals[:product_array][0].delivery_time %></span>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="catalog-st">
      <span class="p-m">
      <input type="hidden" class="price" value="<%= locals[:product_array][1] %>">
      <input type="hidden" class="minMainNumber" value="1">
      <input type="number" placeholder="" class="requestedNumber" step="1" min="1" value="1" pattern="^[0-9]+$">
      <span class="sht">шт</span>
      <span class="modal-input"><span>0</span> руб.</span>
      </span>
      <a href="" class="add-basket active">В корзину</a>
    </div>
    <!--<div class="catalog-st">-->
      <!--<div class="nav-catalog-card">-->
        <!--<span class="availability">Посмотреть наличие</span>-->
        <!--<span class="add-my-catalog">В Мое избранное</span>-->
        <!--<br>-->
        <!--<span class="compare">Сравнить</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>