<!-- propose we would get maximum 5 schemes per product -->
<% if @product.plug_image_1 != nil %>
  <p><%# Выводим схему подключения %>
  <%# Формируем путь к изображению схемы подключения %>
  <% imagePath = "http://www.poligon.info/images/catalog/" + (@vendor.folder_name).to_s + "/plugs/"+ (@product.plug_image_1).to_s %>
  <%# Формируем Alt для изображения схемы подключения %>
  <% unless @product.article.nil? %>
    <% imageAlt = "Схема подключения " + (@vendor.title).to_s + " " +(@product.title).to_s + " (" + @product.article + ")" %>
  <% else %>
    <% imageAlt = "Схема подключения " + (@vendor.title).to_s + " " +(@product.title).to_s %>
  <% end %>
  <%= link_to(image_tag(imagePath, class: "img-responsive center-block", style: "max-width: 400px;", height: 'auto'), imagePath, class: "fancybox") %>
  </p>
 <% else %>
  <p></p>
  <% end %>

<% if @product.plug_image_2 != nil %>
  <p><%# Выводим схему подключения %>
  <%# Формируем путь к изображению схемы подключения %>
  <% imagePath = "http://www.poligon.info/images/catalog/" + (@vendor.folder_name).to_s + "/plugs/"+ (@product.plug_image_2).to_s %>
  <%# Формируем Alt для изображения схемы подключения %>
  <% unless @product.article.nil? %>
    <% imageAlt = "Схема подключения 2:" + (@vendor.title).to_s + " " +(@product.title).to_s + " (" + @product.article + ")" %>
  <% else %>
    <% imageAlt = "Схема подключения 2:" + (@vendor.title).to_s + " " +(@product.title).to_s %>
  <% end %>
  <%= link_to(image_tag(imagePath, class: "img-responsive center-block", style: "max-width: 400px;", height: 'auto'), imagePath, class: "fancybox") %>
  </p>
 <% else %>
  <p></p>
  <% end %>

<% if @product.plug_image_3 != nil %>
  <p><%# Выводим схему подключения %>
  <%# Формируем путь к изображению схемы подключения %>
  <% imagePath = "http://www.poligon.info/images/catalog/" + (@vendor.folder_name).to_s + "/plugs/"+ (@product.plug_image_3).to_s %>
  <%# Формируем Alt для изображения схемы подключения %>
  <% unless @product.article.nil? %>
    <% imageAlt = "Схема подключения 3:" + (@vendor.title).to_s + " " +(@product.title).to_s + " (" + @product.article + ")" %>
  <% else %>
    <% imageAlt = "Схема подключения 3:" + (@vendor.title).to_s + " " +(@product.title).to_s %>
  <% end %>
  <%= link_to(image_tag(imagePath, class: "img-responsive center-block", style: "max-width: 400px;", height: 'auto'), imagePath, class: "fancybox") %>
  </p>
 <% else %>
  <p></p>
  <% end %>

<% if @product.plug_image_4 != nil %>
  <p><%# Выводим схему подключения %>
  <%# Формируем путь к изображению схемы подключения %>
  <% imagePath = "http://www.poligon.info/images/catalog/" + (@vendor.folder_name).to_s + "/plugs/"+ (@product.plug_image_4).to_s %>
  <%# Формируем Alt для изображения схемы подключения %>
  <% unless @product.article.nil? %>
    <% imageAlt = "Схема подключения 4:" + (@vendor.title).to_s + " " +(@product.title).to_s + " (" + @product.article + ")" %>
  <% else %>
    <% imageAlt = "Схема подключения 4:" + (@vendor.title).to_s + " " +(@product.title).to_s %>
  <% end %>
  <%= link_to(image_tag(imagePath, class: "img-responsive center-block", style: "max-width: 400px;", height: 'auto'), imagePath, class: "fancybox") %>
  </p>
 <% else %>
  <p></p>
  <% end %>

  <% if @product.plug_image_5 != nil %>
  <p><%# Выводим схему подключения %>
  <%# Формируем путь к изображению схемы подключения %>
  <% imagePath = "http://www.poligon.info/images/catalog/" + (@vendor.folder_name).to_s + "/plugs/"+ (@product.plug_image_5).to_s %>
  <%# Формируем Alt для изображения схемы подключения %>
  <% unless @product.article.nil? %>
    <% imageAlt = "Схема подключения 5:" + (@vendor.title).to_s + " " +(@product.title).to_s + " (" + @product.article + ")" %>
  <% else %>
    <% imageAlt = "Схема подключения 5:" + (@vendor.title).to_s + " " +(@product.title).to_s %>
  <% end %>
  <%= link_to(image_tag(imagePath, class: "img-responsive center-block", style: "max-width: 400px;", height: 'auto'), imagePath, class: "fancybox") %>
  </p>
 <% else %>
  <p></p>
  <% end %>