<% product = locals[:product_array][0] %>
<% product_pdf   = product&.pdf_name %>
<div class="product">
  <div class="row">
    <div class="col-xs-7 product-left">
      <div class="col-xs-4 product-photo">
        <div class="product-photo-img">
          <%= render "shared/product_image", locals: {product: product} %>
        </div>
        <!--<div class="product-adv"><a href="card.html#tab-advant" class="to-advant" target="_blank">Преимущества</a></div>-->
      </div>
      <div class="col-xs-8 product-descr">
        <h3>

          <% category_slug = Category.find_by(id: locals[:product_array][0].category_id).slug %>
          <%= link_to locals[:product_array][0].title, category_product_path(id: locals[:product_array][0], category_id: category_slug) %>
            
          </h3>
        <p class="product-art">
          Артикул: <span><%= (locals[:product_array][0].article.nil? || locals[:product_array][0].article == "") ? "-" : locals[:product_array][0].article %></span></p>

          <% if locals[:product_array][3].code.nil? %>
            <p class="product-manuf">Производитель: <span>
              <%= locals[:product_array][0].vendor.title %></span>
            </p>
          <% else %>
            <% manuf_slug = Category.find_by(id: locals[:product_array][3].code) %>
            <p class="product-manuf">Производитель: <span>
              <a href="/catalog/<%= manuf_slug.slug %>"><%= locals[:product_array][3].title %></a></span>
            </p>
          <% end %>

        <p class="product-text"><%= locals[:product_array][0].description %></p>
        <ul class="product-list">
          <!--<li><a>Параметры</a>-->
            <!--<div class="hid-text">-->
              <!--<strong>Параметры</strong>-->
              <!--<p>Здесь какой-то текст</p>-->
              <!--<p>или пункт характеристики</p>-->
              <!--<div class="hide-hid-text">Свернуть</div>-->
            <!--</div>-->
          <!--</li>-->
          <li>

            <% if !product.pdf_name.nil? and product.pdf_name != "" %>
              <% product_pdf = product.pdf_name %>
              <% vendor_folder_name = product.vendor.folder_name %>
              <% pdf_path = "/PDF/" + vendor_folder_name + "/" + product_pdf %>
              <a href="<%= pdf_path %>" target="_blank">Скачать PDF</a>
            <% end %>
          </li>
          <li>
            <%= render "shared/category_catalogs_links", locals: {vendor_id: locals[:product_array][3].code}  %>
          </li>
          <!--<li><a href="card.html" target="_blank">Преимущества</a></li>-->
        </ul>
        <div class="row product-options">
          <div class="col-xs-6 product-option product-quick-delivery info">

            <a href="#">Быстрая доставка</a>
            <div class="info"><span></span>
              <div class="info-text">
                <p><%= @fastDelivery.text_value.html_safe %></p>
              </div>
            </div>

          </div>
          <div class="col-xs-6 product-option product-condition-payment info">

            <a href="#">Условия оплаты</a>
            <div class="info"><span></span>
              <div class="info-text"><p><%= @deliveryInfo.text_value.html_safe %></p></div>
            </div>

          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-5 product-right">
      <div class="product-price">
        Цена:
        <!--<span class="product-old-price">-->
          <!--<% if locals[:product_array][1] == 0 %>-->
            <!--<span class="price">Звоните:<br>(812)325-42-20</span>-->
          <!--<% else %>-->
            <!--<span class="price"><%= locals[:product_array][1].to_s + ' руб.' %></span>-->
          <!--<% end %>-->
        <!--</span>-->
        <span class="product-new-price">
          <% @product = locals[:product_array][0] %>

          <% if @product.special_price.zero? && @product.base_price.zero? %>
            <span class="price">Звоните:<br>(812)325-42-20</span>
          <% elsif !@product.special_price.zero? && !@product.base_price.zero? %>
            <span class="price price-red bold">
              <%= calculate_price(@product, @product.special_price).round(2).to_s + ' руб.' %>
              </span>
            <span class="price line-through">
              <%= calculate_price(@product, @product.base_price).round(2).to_s + ' руб.' %>
            </span>
          <% else %>
            <span class="price">
              <%= calculate_price(@product, @product.base_price).round(2).to_s + ' руб.' %>
            </span>
          <% end %>

        </span>
      </div>
      <div class="price-request">
        <%= submit_tag "Запросить спец.цену", class: "price-request", data: { toggle: "modal", target: "#special", product: locals[:product_array][0].id } %>
      </div>
      <div class="product-presence">

          <% if signed_in? %>

            <% if @product.stock > 0 || @product.reserved > 0 || @product.remote_stock > 0 %>
              <span><%= image_tag("green.gif") %></span>
              В наличии: <%= (@product.stock+@product.remote_stock).to_s + ' шт.' %>
            <% elsif @product.ordered_on_stock > 0 %>
              <span class="ordered_on_stock">Ожидается</span>
            <% else %>
              <span><%= image_tag("grey.gif") %></span>
              <span><%= locals[:product_array][0].delivery_time %></span>
            <% end %>

          <% else %>

            <% if @product.stock > 0 || @product.reserved > 0 || @product.remote_stock > 0 %>
              <span><%= image_tag("green.gif") %></span>
              <span class="in_stock">В наличии</span>
            <% elsif @product.ordered_on_stock > 0 %>
              <span class="ordered_on_stock">Ожидается</span>
            <% else %>
              <span><%= image_tag("grey.gif") %></span>
              <i>Срок поставки: <%= product.delivery_time %></i>
            <% end %>

          <% end %>

      </div>
      <div class="product-list">
        <ul>
          <li>Страна бренда: <%= locals[:product_array][0].vendor.address %></li>
          <li>Отгрузка кратно: 1шт.</li>
          <% if locals[:product_array][0].vendor.status_text != "" %>
            <% if locals[:product_array][0].vendor.status_link != "" %>
              <li>
                <a href="<%= locals[:product_array][0].vendor.status_link %>"> 
                  <%= locals[:product_array][0].vendor.status_text %>
                </a>
              </li>
            <% else %>
              <li><%= locals[:product_array][0].vendor.status_text %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="product-incart">
        <%= form_tag(line_items_path, method: "post",  remote: true) do %>
          <%= hidden_field_tag(:product_id, product.id) %>
          <%= hidden_field_tag(:price, locals[:product_array][1]) %>
          <%= hidden_field_tag(:minimum, 1) %>
          <button type="submit" data-toggle="modal" data-target="#quick-cart">В корзину</button>
          <%= number_field_tag(:quantity, 1, class: "quantity",  step: 1, min: 1, pattern: "^[0-9]+$", data: {product: locals[:product_array][0].id}) %> <span>шт.</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/mainpage/modal_special", locals: {product: locals[:product_array][0]} %>