<% if user_signed_in? %>
  <!-- 1 means dealer group -->
  <!-- 2 means marketing group -->
  <!-- 3 means sales group -->
  <!-- 4 means director group -->

  <% article_text = "" %>
  <% if product.article.nil? or product.article == "" %>
    <% article_text = "" %>
  <% else %>
    <% article_text = "(" + product.article + ") " %>
  <% end %>

  <% information_on_the_availability = "Информация по сроку поставки требует уточнения у поставщика." %>
    <% if (product.stock - product.reserved) > 0 %>
    <% information_on_the_availability = "Наличие на складе: " + (product.stock - product.reserved).to_s + " шт." %>
  <% else %>
    <% unless product.delivery_time.nil? %>
      <% information_on_the_availability = "Срок поставки: " + (product.delivery_time) + "." %>
    <% end %>
  <% end %>



  <% if product.currency_id == 1 || product.currency_id == 2 %>
      
      <table class="table table-condensed table-responsive prices-table">
      <tbody>
 
        <%# Dealer+ Marketing + Sales %>
        <% if [1,2,3].include?(current_user.group_id) %>
          <%= render 'shared/prices/special_price', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability %>
        <% end %>

        <%# Dealer+ Marketing + Sales %>
        <% if [1,2,3].include?(current_user.group_id) %>
          <%= render 'shared/prices/base_price', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability  %>
        <% end %>

        <%# Marketing + Sales%>
        <% if [2,3].include?(current_user.group_id) %>
          <%= render 'shared/prices/price_10', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability %>
        <% end %>

        <% if [2,3].include?(current_user.group_id) %>
           <%= render 'shared/prices/opt_price', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability %>
        <% end %>

        <%# Dealer+ Marketing + Sales %>
        <% if [1,2,3].include?(current_user.group_id) %>
          <%= render 'shared/prices/dealer_price', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability %>
        <% end %>

        <%# Dealer + Marketing + Sales %>
        <% if [2,3].include?(current_user.group_id) %>
          <%= render 'shared/prices/dealer_price2', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability %>
        <% end %>
  
        <%# Marketing %>
        <% if current_user.group_id == 2 %>
          <%= render 'shared/prices/supplier_price', product: product, article_text: article_text, information_on_the_availability: information_on_the_availability %>
        <% end %>

      </table>
    <% elsif product.currency_id == 2 %> 
      <table class="table table-condensed table-responsive prices-table">
      <% if current_user.group_id == 1 or current_user.group_id == 2 or current_user.group_id == 3 or current_user.group_id == 4 %>
        <tr class="warning">
          <td width="21%" style="text-align:left">
            Розница:
          </td>
          <td width="10%" style="text-align:right; color: green;">
          </td>
          <td width="23%" style="text-align:right; color: green;">
          </td>
          <td width="23%" style="text-align:right; color: green;">
            <button class="clipboard-btn btn btn-xs btn-success btn-block" data-clipboard-text="<%= article_text %><%= product.title %> — Базовая цена: <%= get_prices_rub(product)[0].round(2) %> рублей c НДС. <%= information_on_the_availability %>">
              <%= get_prices_rub(product)[0].round(2) %>р.
              </button>
          </td>
          <td width="23%" style="text-align:right; color: brown;">
            <button class="btn btn-xs btn-danger clipboard-btn btn-block" data-clipboard-text="<%= article_text %><%= product.title %> — Базовая цена: <%= (get_prices_rub(product)[0] / 1.20).round(2) %> рублей без НДС. <%= information_on_the_availability %>">
              <%= (get_prices_rub(product)[0] / 1.20).round(2) %>р.
            </button>
          </td>
        </tr>
        <% end %>
        <% if current_user.group_id == 2 or current_user.group_id == 4 %>
        <tr class="success">
          <td style="text-align:left">
            Закупочная:
          </td>
          <td style="text-align:right; color: green;">
          </td>
          <td style="text-align:right; color: green;">
          </td>
          <td style="text-align:right; color: green;">
            <%= get_prices_rub(product)[5].round(2) %>р.
          </td>
          <td style="text-align:right; color: green;">
          </td>
        </tr>
        <% end %>
        <% if current_user.group_id == 3 %>
        <tr class="info">
          <td style="text-align:left">
            Закупочная:
          </td>
          <td style="text-align:right; color: green;">
          </td>
          <td style="text-align:right; color: green;">
          </td>
          <td style="text-align:right; color: lightgreen;">
            <%= product.supplier_price.round(2) %>р.
          </td>
          <td style="text-align:right; color: green;">
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>


<% end %>