<% if !@products.empty? %>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10%;">Изображение</th>
        <th style="width: 60%;">Продукт</th>
        <th style="width: 5%;">Наличие</th>
        <th style="width: 15%;">Поставка</th>
        <th style="width: 10%;">Стоимость</th>
      </tr>
    </thead>
    <% sorted_products = @products.sort_by! {|obj| obj[0].title}.reverse %>
    <% sorted_products = sorted_products.sort_by {|obj| obj[2]}.reverse %>
    <% sorted_products.each do |product_array| %>
      <tr>
        <% vendorFolder = Vendor.where('id = ?', product_array[0].vendor_id).first %>
        <% productImage = Files_copy.where('product_id = ?', product_array[0].id).first %>
        <% unless productImage.image_name_1.nil? %>
          <% imagePath = "http://www.poligon.info/images/catalog/" + (vendorFolder.folder_name).to_s + "/devices/"+ (productImage.image_name_1).to_s %>
          <td><%= link_to image_tag(imagePath, class: "img-responsive center-block product-image-container"), imagePath, class: "fancybox" %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <table>
            <tr>
              <td><span class="product-title"><%= link_to product_array[0].title, product_array[0] %></span></td>
            </tr>
            <tr>
              <td><%= product_array[0].description %></td>
            </tr>
          </table>
        </td>
        <% if product_array[2] > 0 %>
          <td style="text-align: center;"><%= image_tag("green.gif") %></td>
          <td>Есть на складе</td>
        <% else %>
            <td style="text-align: center;"><%= image_tag("grey.gif") %></td>
            <td><%= product_array[0].delivery_time %></td>
        <% end %>
        <% unless product_array[1] == 0 %>
            <td><%= product_array[1] %> руб.</td>
        <% else %>
            <td style="align-content: center;">Звоните:<br>(812)325-42-20</td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
