<table width="100%" class="table table-bordered table-condensed table-responsive" >
  <caption>Поиск по складу</caption>
  <thead>
    <tr>
      <th width="9%" style="text-align:center">Изображение</th>
      <th width="40%" style="text-align:center">Наименование</th>
      <th width="19%" style="text-align:center">Склад</th>
      <th width="32%" style="text-align:center">Цены</th>
    </tr>
  </thead>
  <tbody>
    <% locals[:products].results.sort_by! {|obj| obj.title}.each do |product| %>
    <% folder_name = Vendor.find_by(id: product.vendor_id).folder_name %>
    <% imagefile_name = Image.where("product_id = ?", product.id).first.name %>
      <tr>
         <% unless imagefile_name.nil? %>
           <% imagePath = "http://www.poligon.info/images/catalog/" + folder_name.to_s + "/devices/"+ imagefile_name.to_s %>
           <td><%= link_to image_tag(imagePath, class: "img-responsive center-block product-image-container"), imagePath, class: "fancybox" %>
        <% else %>
           <td>
        <% end %>
        
        </td>
        <td style="vertical-align: top;">
          <table class="table table-responsive" style="height: 100%">
            
            <tr>
            <% unless product.article.nil? or product.article == '' %>
              <td>
                <span class="product-title">
                  <%= link_to "(" + product.article + ") " + product.title, product %>
                </span>
              </td>
              <% else %>
                <td>
                  <span class="product-title">
                    <%= link_to product.title, product %>
                  </span>
                </td>
              <% end %>
            </tr>
            <tr>
            <b>Производитель: <%= Vendor.find_by(id: product.vendor_id).title %></b>
            </tr>
            <tr>
              <td><%= product.description %></td>
            </tr>
            <tr>
              <td>
              <div style="float: left;">
              <% pdffile_name = Datasheet.where("product_id = ?", product.id).first.name %>
                  <% if !pdffile_name.nil? %>
                    <% pdf_path = "http://www.poligon.info/PDF/" + folder_name+ "/" + pdffile_name %>
                      <button type="button" class="btn btn-danger btn-xs" target="_blank" onclick="window.open(&quot;<%= pdf_path %>&quot;)" >
                      PDF
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-danger disabled btn-xs" target="_blank" onclick="no_pdf()" >
                      no PDF
                      </button>
                    <% end %>
                  </div>
               </td>
            </tr>
          </table>
        </td>
        <% if user_signed_in? %>
          <td style="vertical-align: top;">
            <%= render partial: 'shared/product_quantities_table', locals: {product: product} %>
          </td>
          <td style="vertical-align: top;">
            <table class="table table-responsive" style="width: 100%">
              <tr>
              <% unless product.price == 0 %>
                <td style="vertical-align: top;">
                  <%= render partial: 'shared/product_prices_table_header' %>
                  <%= render partial: 'shared/product_prices_table', locals: {product: product} %>
                </td>
              <% else %>
                <td style="align-content: center;">
                  Звоните:<br>(812)325-42-20
                </td>
              <% end %>
              </tr>
              <!--tr>
                <td>
                  <%= render "shared/copy_buttons", locals: { product: product } %>
                </td>
              </tr-->
            </table>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
