<div class="list-group left-vendors-list">
  <%= link_to image_tag("logo/logo_200x60/tele.gif", alt: '"TELE"', title: "реле времени и контроля из Австрии", :class => 'partners list-group-item img-responsive'), category_path(142) %>
  <%= link_to image_tag("logo/logo_200x60/benedict.gif", alt: '"Benedict"', title: "Контакторы, пускатели, защита Benedict", :class => "partners list-group-item img-responsive"), category_path(5094) %>
  <%= link_to image_tag("logo/logo_200x60/citel.gif", alt: '"CITEL"', title: "CITEL - устройства молниезащиты", :class => "partners list-group-item img-responsive"), category_path(74) %>
  <%= link_to image_tag("logo/logo_200x60/graesslin.gif", alt: '"Graesslin"', title: "Graesslin - таймеры и фотореле. Сделано в Германии.", :class => "partners list-group-item img-responsive"), category_path(5414) %>
  <%= link_to image_tag("logo/logo_200x60/sonder.gif", alt: '"SONDER"', title: "SONDER - термостаты", :class => "partners list-group-item img-responsive"), category_path(5535) %>
  <%= link_to image_tag("logo/logo_200x60/relequick.gif", alt: '"RELEQUICK"', title: "RELEQUICK - интерфейсные реле", :class => "partners list-group-item img-responsive"), category_path(5818) %>
  <%= link_to image_tag("logo/logo_200x60/comat_releco.gif", alt: '"COMAT-RELECO"', title: "COMAT-RELECO - промышленные промежуточные реле", :class => "partners list-group-item img-responsive"), category_path(77) %>
</div>
