<% category = locals[:category] %>
<div class="row">
  <div class="col-md-2">
    <div class="category-picture-container">
      <% unless category.image_path.nil? %>
        <% category_image_path = category.image_path.gsub(
        '\\\\Server03\\бд_сайта\\poligon_images', 'http://www.poligon.info/images')
        .gsub("\\", "/") %>
        <%= link_to (
          image_tag(
            category_image_path,
            alt: category.title,
            class: "img img-responsive"
          )
        ), category_path(category.id) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-10" style="max-height: 140px;  overflow: hidden;">
    <div style="max-height: 100px;  min-height: 100px;  overflow: hidden;">
      <div style="max-height: 98px;  min-height: 98px;  overflow: hidden;">
        <p style="color: blue; font-weight: bolder;">
          <%= link_to category.title, category_path(category.id) %>
        </p>
        <% unless category.summary.nil? %>
          <p style="max-height: 100%;">
            <% if category.summary.size < 280 %>
              <%= simple_format category.summary %>
            <% else %>
              <%= category.summary.slice!(0..280) %>
              <span style="color: blue;">
                <%= link_to " ...читать далее", category_path(category.id) %>
              </span>
            <% end %>
          </p>
        <% end %>
      </div>
      <div style="max-height: 2px;  min-height: 2px;  overflow: hidden;">
        <hr style="max-height: 100%; margin-top: 1px; margin-bottom: 0px;" />
      </div>
    </div>
  </div>
</div>
