<div id="vendors-logo-div">
  <% case @vendors_categories_ids & @parents_categories_ids %>
  <% when [142] %>
    <%= image_tag("design/vendors_locations/tele_location.jpg", alt: '"TELE"', title: "реле времени и контроля из Австрии", class: 'img img-responsive vendor-location-picture') %>
  <% when [5094] %>
    <%= image_tag("design/vendors_locations/benedict_location.jpg", alt: '"Benedict"', title: "Контакторы, пускатели, защита Benedict", class: 'img img-responsive vendor-location-picture') %>
  <% when [74] %>
    <%= image_tag("design/vendors_locations/citel_location.jpg", alt: '"CITEL"', title: "CITEL - устройства молниезащиты", class: 'img img-responsive vendor-location-picture') %>
  <% when [5414] %>
    <%= image_tag("design/vendors_locations/graesslin_location.jpg", alt: '"Graesslin"', title: "Graesslin - таймеры и фотореле. Сделано в Германии.", class: 'img img-responsive vendor-location-picture') %>
  <% when [5535] %>
    <%= image_tag("design/vendors_locations/sonder_location.jpg", alt: '"SONDER"', title: "SONDER - термостаты", class: 'img img-responsive vendor-location-picture') %>
  <% when [5818] %>
    <%= image_tag("design/vendors_locations/relequick_location.jpg", alt: '"RELEQUICK"', title: "RELEQUICK - интерфейсные реле", class: 'img img-responsive vendor-location-picture') %>
  <% when [5933] %>
    <%= image_tag("design/vendors_locations/comat-releco_location.jpg", alt: '"COMAT-RELECO"', title: "COMAT-RELECO - промышленные промежуточные реле", class: 'img img-responsive vendor-location-picture') %>
  <% when [5583] %>
    <%= image_tag("design/vendors_locations/emko_location.jpg", alt: '"EMKO"', title: "EMKO - температурные датчики и и контроллеры", class: 'img img-responsive vendor-location-picture') %>
  <% when [5512] %>
    <%= image_tag("design/vendors_locations/cbi_location.jpg", alt: '"CBI"', title: "Профессиональные автоматические выключатели", class: 'img img-responsive vendor-location-picture') %>
  <% when [6441] %>
    <%= image_tag("design/vendors_locations/tehnoplast_location.jpg", alt: '"TEHNOPLAST"', title: "Электротехнические шкафы TEHNOPLAST", class: 'img img-responsive vendor-location-picture') %>
  <% when [4847] %>
    <%= image_tag("design/vendors_locations/huber-suhner_location.jpg", alt: '"HUBER+SUHNER"', title: "ВЧ-разъемы, оптические компоненты", class: 'img img-responsive vendor-location-picture') %>
  <% when [6321] %>
    <%= image_tag("design/vendors_locations/poligonspb_location.jpg", alt: '"ПОЛИГОН"', title: "ПОЛИГОН - производитель модульных устройств автоматики и защиты из Санкт-Петербурга", class: 'img img-responsive vendor-location-picture') %>
  <% when [5650] %>
    <%= image_tag("design/vendors_locations/vemer_location.jpg", alt: '"VEMER"', title: "производитель промышленных решений для измерения и контроля основных электрических параметров", class: 'img img-responsive vendor-location-picture') %>
  <% else %>
  <% end %>
</div>
