<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            <div class="navbar-header">
              <a class="navbar-brand" style="margin-bottom: 5px; margin-top: -25px" href=<%= root_path %>><%= image_tag('logo/poligon_logo_185w.png', class: 'poligon-logo', alt: 'Компания "ПОЛИГОН"') %></a>
            </div>
          </h3>
          <ul class="nav masthead-nav">
            <li><%= link_to 'Главная',         root_path %></li>
            <li><%= link_to 'Новости',         news_items_path %></li>
            <li><%= link_to 'Публикации',      publications_index_path %></li>
            <li><%= link_to 'Каталог',         categories_path %></li>
            <li class="active">
                <%= link_to '(812) 325-42-20', company_contacts_path %></li>
          </ul>
        </div>
      </div>

      <div class="inner hello-cover">
        <%= image_tag("poligon_1000_trans.jpg", class: "img-responsive center-block", width: '400px') %>
        <br>
        <h1 class="cover-heading">Электротехнические устройства и электронные компоненты</h1>
          <p class="lead">
            Офицальный дистрибьютер ведущих европейских электротехнических брендов в России
          </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>&copy; ООО "ПОЛИГОН" 2016</p>
        </div>
      </div>

    </div>

  </div>

</div>
