<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_item.title %>
</p>

<p>
  <b>Content:</b>
  <%= @news_item.content.html_safe %>
</p>

<p>
  <b>Date created:</b>
  <%= @news_item.created_at %>
</p>

<p>
  <b>Date updated:</b>
  <%= @news_item.updated_at %>
</p>


<%= link_to 'Back', news_items_path %>
