<%= render "shared/breadcrumb_search", locals: {for: "news_items", item: @news_item } %>

<p>
  <% title = @news_item.title %>
  <% generate_meta_from title %>
  <h1><%= title %></h1>
</p>
<br/>

<div class="container-fluid">
  <div class="row" >
    <div class="col-xs-3 col-md-3" >
      <% image_path = @news_item&.image %>
      <%= image_tag(image_path, alt: @news_item.image_alt, title: @news_item.title, class: 'img img-responsive news-image') %>
    </div>
    <div class="col-xs-9 col-md-9" >
      <%= @news_item.content.html_safe %>
    </div>
  </div>
</div>

<%= render 'shared/article_footer', locals: { item: @news_item } %>
