<table id="module-contactors" class="table benedict">
<caption>Модульные контакторы</caption>
<thead>
<tr>
	<th class="th" colspan="8">Модульные контакторы — серия R20, 20А, 1 и 2 полюса, 1 модуль (17,5 мм)</th>
</tr>
<tr>
		<th width="32" rowspan="2" bgcolor="#CCCCCC"></th>
		<th bgcolor="#CCCCCC" width="117" rowspan="2"><strong>Тип</strong></th>
		<th bgcolor="#CCCCCC" width="83" rowspan="2"><strong>Питание<br/>
		катушки</strong></th>
		<th bgcolor="#CCCCCC" colspan="5"><strong>Выходные контакты</strong></th>
	</tr>
	<tr>
		<th width="52" bgcolor="#CCCCCC"><strong>Ток [A]</strong></th>
		<th width="69" bgcolor="#CCCCCC"><strong>AC1 230В<br/>
		[кВт]</strong></th>
		<th width="69" bgcolor="#CCCCCC"><strong>AC1 400В<br/>
		[кВт]</strong></th>
		<th width="69" bgcolor="#CCCCCC"><strong>AC3 400В<br/>
		[кВт]</strong></th>
		<th width="75" bgcolor="#CCCCCC"><strong>Контакты</strong></th>
	</tr>
</thead>
<tbody>
	<tr>
		<th class="img" rowspan="4"><img title="модульные контакторы Benedict-Jager" alt="Модульные контакторы - серия R20" src="http://www.poligon.info/images/design/categories/BENEDICT/R20_20GN.jpg" class="h200px"></th>
		<td><% product_id = Product.find_by(title: 'R20-10 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-10 230</a><br/>
		<% product_id = Product.find_by(title: 'R20-10 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-10 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>20</td>
		<td>4,6</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора R20-10" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-10.contacts.jpg"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R20-20 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-20 230</a><br/>
			<% product_id = Product.find_by(title: 'R20-20 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-20 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>20</td>
		<td>4,6</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора R20-20" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-20.contacts.jpg"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R20-11 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-11 230</a><br/>
		<% product_id = Product.find_by(title: 'R20-11 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-11 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>20</td>
		<td>4,6</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора R20-11" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-11.contacts.jpg"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R20-02 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-02 230</a><br/>
		<% product_id = Product.find_by(title: 'R20-02 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R20-02 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>20</td>
		<td>4,6</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора (2 НЗ)" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-02.contacts.jpg"></td>
	</tr>

<!-- ------------------ -->
<!-- ------------------ -->
<!-- ------------------ -->
<!-- ------------------ -->


	<tr>
		<th colspan="8" class="th">Модульные контакторы — серия R25, 25А, 2 полюса, 1 модуль (17,5 мм)</th>
	</tr>

<tr>
		<th bgcolor="#CCCCCC" rowspan="2"></th>
		<th bgcolor="#CCCCCC" width="117" rowspan="2"><strong>Тип</strong></th>
		<th bgcolor="#CCCCCC" width="83" rowspan="2"><strong>Питание<br/>
		катушки</strong></th>
		<th bgcolor="#CCCCCC" colspan="5"><strong>Выходные контакты</strong></th>
	</tr>
	<tr>
		<th bgcolor="#CCCCCC"><strong>Ток [A]</strong></th>
		<th bgcolor="#CCCCCC"><strong>AC1 230В<br/>
		[кВт]</strong></th>
		<th bgcolor="#CCCCCC"><strong>AC1 400В<br/>
		[кВт]</strong></th>
		<th bgcolor="#CCCCCC"><strong>AC3 400В<br/>
		[кВт]</strong></th>
		<th bgcolor="#CCCCCC"><strong>Контакты</strong></th>
	</tr>

	<tr>
		<th class="img" rowspan="3"><img title="модульные контакторы Benedict-Jager" alt="Модульные контакторы - серия R25" src="http://www.poligon.info/images/design/categories/BENEDICT/R20_20GN.jpg" class="h200px"></th>
		<td><% product_id = Product.find_by(title: 'R25-20 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-20 230</a><br/>
			<%# product_id = Product.find_by(title: 'R25-20 24').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> R25-20 24</td>
		<td>230VAC<br/>
24VAC</td>
		<td>25</td>
		<td>5,5</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора R25-20" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-20.contacts.jpg" /></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R25-11 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-11 230</a><br/>
		<%# product_id = Product.find_by(title: 'R25-11 24').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> R25-11 24</td>
		<td>230VAC<br/>
24VAC</td>
		<td>25</td>
		<td>5,5</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора R25-11" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-11.contacts.jpg" /></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R25-02 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-02 230</a><br/>
		<%# product_id = Product.find_by(title: 'R25-02 24').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> R25-02 24</td>
		<td>230VAC<br/>
24VAC</td>
		<td>25</td>
		<td>5,5</td>
		<td>-</td>
		<td>-</td>
		<td><img class="h50px" alt="схема контактов модульного контактора R25-02" src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-02.contacts.jpg" /></td>
	</tr>


<!-- ------------------ -->
<!-- ------------------ -->
<!-- ------------------ -->
<!-- ------------------ -->


<tr>
	<th class="th" colspan="8">Модульные контакторы - серия R25, 25А, 4 полюса, 2 модуля (35 мм)</th>
</tr>


<tr>
	<th bgcolor="#CCCCCC" rowspan="2"></th>
	<th bgcolor="#CCCCCC" width="117" rowspan="2">Тип</th>
	<th bgcolor="#CCCCCC" width="83" rowspan="2">Питание<br/>
	катушки </th>
	<th bgcolor="#CCCCCC" colspan="5">Выходные контакты </th>
</tr>
	<tr>
		<th bgcolor="#CCCCCC">Ток [A]</th>
		<th bgcolor="#CCCCCC">AC1
		230В<br/>
		[кВт]</th>
		<th bgcolor="#CCCCCC">AC1
		400В<br/>
		[кВт]</th>
		<th bgcolor="#CCCCCC">AC3
			400В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">Контакты</th>
	</tr>
	<tr>
		<th class="img" rowspan="5"><img src="http://www.poligon.info/images/design/categories/BENEDICT/R25_40gn.jpg"  class="h200px" alt="Модульные контакторы R25" title="модульные контакторы Benedict-Jager"></th>
		<td><% product_id = Product.find_by(title: 'R25-40 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-40 230</a><br/>
			<% product_id = Product.find_by(title: 'R25-40 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-40 24</a><br/>
			<% product_id = Product.find_by(title: 'R25-40 230VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-40 230VM</a><br/>
			<% product_id = Product.find_by(title: 'R25-40 24VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-40 24VM</a></td>
		<td>230VAC<br/>
		24VAC<br/>
		230VAC/DC<br/>
		24VAC/DC</td>
		<td>25</td>
		<td>5,7</td>
		<td>17</td>
		<td>4</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-40.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R25-40"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R25-31 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-31 230</a><br/>
		<% product_id = Product.find_by(title: 'R25-31 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-31 24</a><br/>
		<% product_id = Product.find_by(title: 'R25-31 230VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-31 230VM</a><br/>
		<% product_id = Product.find_by(title: 'R25-31 24VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-31 24VM</a></td>
		<td>230VAC<br/>
		24VAC<br/>
		230VAC/DC<br/>
		24VAC/DC</td>
		<td>25</td>
		<td>5,7</td>
		<td>17</td>
		<td>4</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-31.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R25-31"></td>
	</tr>
	<tr>
		<td>
		<% product_id = Product.find_by(title: 'R25-13 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-13 230</a><br/>
		<% product_id = Product.find_by(title: 'R25-13 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-13 24</a><br/>
		<% product_id = Product.find_by(title: 'R25-13 230VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-13 230VM</a><br/>
		<% product_id = Product.find_by(title: 'R25-13 24VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-13 24VM</a></td>
		<td>230VAC<br/>
		24VAC<br/>
		230VAC/DC<br/>
		24VAC/DC</td>
		<td>25</td>
		<td>5,7</td>
		<td>17</td>
		<td>4</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-13.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R25-13"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R25-22 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-22 230</a><br/>
		<% product_id = Product.find_by(title: 'R25-22 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-22 24</a><br/>
		<% product_id = Product.find_by(title: 'R25-22 230VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-22 230VM</a><br/>
		<% product_id = Product.find_by(title: 'R25-22 24VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-22 24VM</a><br/>
		</td>
		<td>230VAC<br/>
		24VAC<br/>
		230VAC/DC<br/>
		24VAC/DC</td>
		<td>25</td>
		<td>5,7</td>
		<td>-</td>
		<td>-</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-22.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R25-22"></td>
	</tr>
	<tr>
		<td height="76"><% product_id = Product.find_by(title: 'R25-04 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-04 230</a><br/>
		<% product_id = Product.find_by(title: 'R25-04 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-04 24</a><br/>
		<% product_id = Product.find_by(title: 'R25-04 230VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-04 230VM</a><br/>
		<% product_id = Product.find_by(title: 'R25-04 24VM').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R25-04 24VM</a></td>
		<td>
		230VAC<br/>
		24VAC<br/>
		230VAC/DC<br/>
		24VAC/DC</td>
		<td>25</td>
		<td>5,7</td>
		<td>17</td>
		<td>4</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-04.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R25-04"></td>
	</tr>

<tr>
	<th class="th" colspan="8">Модульные контакторы - серии R40 (40 А) и R63 (63 А), 2 полюса, 2 модуля (35 мм)</th>
</tr>

<tr>
		<th bgcolor="#CCCCCC" rowspan="2"></th>
		<th bgcolor="#CCCCCC" width="117" rowspan="2">Тип</th>
		<th bgcolor="#CCCCCC" width="83" rowspan="2">Питание<br/>
		катушки </th>
		<th bgcolor="#CCCCCC" colspan="5">Выходные контакты </th>
	</tr>
	<tr>
		<th bgcolor="#CCCCCC">Ток [A]</th>
		<th bgcolor="#CCCCCC">AC1
			230В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">AC1
			400В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">AC3
			400В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">Контакты</th>
	</tr>
	<tr>
		<th class="img" rowspan="2"><img src="http://www.poligon.info/images/design/categories/BENEDICT/R63-20.jpg" alt="Модульные контакторы R40" title="модульные контакторы Benedict-Jager"  class="h200px"></th>
		<td><% product_id = Product.find_by(title: 'R40-20 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-20 230</a><br/>
		<%# product_id = Product.find_by(title: 'R40-20 24').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> R40-20 24</td>
		<td>230VAC<br/>
		24VAC</td>
		<td>40</td>
		<td>9</td>
		<td>-</td>
		<td>-</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-20.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R40-20"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R63-20 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-20 230</a><br/>
			<%# product_id = Product.find_by(title: 'R63-20 24').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> R63-20 24</td>
		<td>230VAC<br/>
24VAC</td>
		<td>63</td>
		<td>14,3</td>
		<td>-</td>
		<td>-</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-20.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R63-20"></td>
	</tr>

<tr>
	<th class="th" colspan="8">Модульные контакторы - серии R40 (40 А) и R63 (63 А), 4 полюса, 3 модуля (52,5 мм)</th>
</tr>

<tr>
		<th bgcolor="#CCCCCC" rowspan="2"></th>
		<th bgcolor="#CCCCCC" width="117" rowspan="2">Тип</th>
		<th bgcolor="#CCCCCC" width="83" rowspan="2">Питание<br/>
		катушки </th>
		<th bgcolor="#CCCCCC" colspan="5">Выходные контакты </th>
	</tr>
	<tr>
		<th bgcolor="#CCCCCC">Ток [A]</th>
		<th bgcolor="#CCCCCC">AC1
			230В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">AC1
			400В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">AC3
			400В<br/>
			[кВт]</th>
		<th bgcolor="#CCCCCC">Контакты</th>
	</tr>
	<tr>
		<th class="img" rowspan="8"><img src="http://www.poligon.info/images/design/categories/BENEDICT/R40_40gn.jpg" alt="Модульные контакторы R40" title="модульные контакторы Benedict-Jager"  class="h200px"></th>
		<td><% product_id = Product.find_by(title: 'R40-40 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-40 230</a><br/>
		<% product_id = Product.find_by(title: 'R40-40 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-40 24</a></td>
		<td>230VAC<br/>
		24VAC</td>
		<td>40</td>
		<td>9</td>
		<td>27,5</td>
		<td>12,5</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-40.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R40-40"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R40-31 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-31 230</a><br/>
			<% product_id = Product.find_by(title: 'R40-31 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-31 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>40</td>
		<td>9</td>
		<td>27,5</td>
		<td>12,5</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-31.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R40-31"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R40-22 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-22 230</a><br/>
			<% product_id = Product.find_by(title: 'R40-22 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-22 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>40</td>
		<td>9</td>
		<td>-</td>
		<td>-</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-22.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R40-22"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R40-04 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-04 230</a><br/>
			<% product_id = Product.find_by(title: 'R40-04 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R40-04 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>40</td>
		<td>9</td>
		<td>27,5</td>
		<td>12,5</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-04.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R40-04"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R63-40 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-40 230</a><br/>
			<% product_id = Product.find_by(title: 'R63-40 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-40 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>63</td>
		<td>14,3</td>
		<td>43</td>
		<td>15</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-40.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R63-40"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R63-31 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-31 230</a><br/>
			<% product_id = Product.find_by(title: 'R63-31 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-31 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>63</td>
		<td>14,3</td>
		<td>43</td>
		<td>15</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-31.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R63-31"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R63-22 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-22 230</a><br/>
			<% product_id = Product.find_by(title: 'R63-22 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-22 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>63</td>
		<td>14,3</td>
		<td>-</td>
		<td>-</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-22.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R63-22"></td>
	</tr>
	<tr>
		<td><% product_id = Product.find_by(title: 'R63-04 230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-04 230</a><br/>
			<% product_id = Product.find_by(title: 'R63-04 24').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>R63-04 24</a></td>
		<td>230VAC<br/>
24VAC</td>
		<td>63</td>
		<td>14,3</td>
		<td>43</td>
		<td>15</td>
		<td><img src="http://www.poligon.info/images/design/categories/BENEDICT/RXX-04.contacts.jpg" class="h50px" alt="схема контактов модульного контактора R63-04"></td>
	</tr>
</tbody></table>
