<table class="table ThermalOverloadRelays">
<thead>
	<tr>
		<th rowspan="2"></th>
		<th colspan="2">Диапазон срабатывания</th>
		<th rowspan="2">Тип</th>
		<th rowspan="2">Схема монтажа</th>
	</tr>
	<tr>
		<th>D.O.L. (A)</th>
		<th>Звезда-треуг. (A)</th>
	</tr>
</thead>
<tbody>
<tr><td colspan="4" class="caption">С ручным сбросом, для контакторов K1-...</td></tr>
<tr>
	<td rowspan="13" class="img"><img src="/images/design/categories/BENEDICT/U12-16EK3.jpg" alt="Тепловое реле U12/16"/></td>
	<td>0,12–0,18</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 0,18 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 0,18 K1</a></td>
	<td rowspan="13" class="img"><img src="/images/design/categories/BENEDICT/U12-16.scheme.jpg" alt="Монтажная схема теплового реле U12/16"/><br/>
	ручной сброс</td>
</tr>

<tr>
	<td>0,18–0,27</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 0,27 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 0,27 K1</a></td>
</tr>
<tr>
	<td>0,27–0,4</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 0,4 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 0,4 K1</a></td>
</tr>
<tr>
	<td>0,4–0,6</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 0,6 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 0,6 K1</a></td>
</tr>
<tr>
	<td>0,6—0,9</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 0,9 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 0,9 K1</a></td>
</tr>
<tr>
	<td>0,8–1,2</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 1,2 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 1,2 K1</a></td>
</tr>
<tr>
	<td>1,2–1,8</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 1,8 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 1,8 K1</a></td>
</tr>
<tr>
	<td>1,8–2,7</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 2,7 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 2,7 K1</a></td>
</tr>
<tr>
	<td>2,7–4</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 4 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 4 K1</a></td>
</tr>
<tr>
	<td>4–6</td>
	<td>7–10,5</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 6 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 6 K1</a></td>
</tr>
<tr>
	<td>6–9</td>
	<td>10,5–15,5</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 9 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 9 K1</a></td>
</tr>
<tr>
	<td>8–11</td>
	<td>14–19</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 11 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 11 K1</a></td>
</tr>
<tr>
	<td>10–14</td>
	<td>18–24</td>
	<td><% product_id = Product.find_by(title: 'U12/16E 14 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16E 14 K1</a></td>
</tr>

<tr><td colspan="4" class="caption">С автоматическим сбросом, для контакторов K1-...</td></tr>
<tr>
	<td rowspan="13" class="img"><img src="/images/design/categories/BENEDICT/U12_16E.JPG" alt="Теловое реле U12/16"/></td>
	<td>0,12–0,18</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 0,18 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 0,18 K1</a></td>
	<td rowspan="13" class="img"><img src="/images/design/categories/BENEDICT/U12-16A.scheme.jpg" alt="Монтажная схема теплового реле U12/16A"/><br/>
	автоматический сброс</td>
</tr>
<tr>
	<td>0,18–0,27</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 0,27 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 0,27 K1</a></td>
</tr>
<tr>
	<td>0,27–0,4</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 0,4 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 0,4 K1</a></td>
</tr>
<tr>
	<td>0,4–0,6</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 0,6 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 0,6 K1</a></td>
</tr>
<tr>
	<td>0,6–0,9</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 0,9 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 0,9 K1</a></td>
</tr>
<tr>
	<td>0,8–1,2</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 1,2 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 1,2 K1</a></td>
</tr>
<tr>
	<td>1,2–1,8</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 1,8 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 1,8 K1</a></td>
</tr>
<tr>
	<td>1,8–2,7</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 2,7 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 2,7 K1</a></td>
</tr>
<tr>
	<td>2,7–4</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 4 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 4 K1</a></td>
</tr>
<tr>
	<td>4–6</td>
	<td>7–10,5</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 6 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 6 K1</a></td>
</tr>
<tr>
	<td>6–9</td>
	<td>10,5–15,5</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 9 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 9 K1</a></td>
</tr>
<tr>
	<td>8–11</td>
	<td>14–19</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 11 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 11 K1</a></td>
</tr>
<tr>
	<td>10–14</td>
	<td>18–24</td>
	<td><% product_id = Product.find_by(title: 'U12/16A 14 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16A 14 K1</a></td>
</tr>




<tr><td colspan="4" class="caption">Быстрого срабатывания, для двигателей EEx и погружных насосов, для контакторов K1-...</td></tr>
<tr>
	<td rowspan="13" class="img"><img src="/images/design/categories/BENEDICT/U12_16E.JPG" alt="Тепловое реле U12/16"/></td>
        <td>0,4–0,6</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 0,6 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 0,6 K1</a></td>
	<td rowspan="13" class="img"><img src="/images/design/categories/BENEDICT/U12-16.scheme.jpg" alt="Монтажная схема теплового реле U12/16"/><br/>
	ручной сброс</td>
</tr>
<tr>
	<td>0,6–0,9</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 0,9 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 0,9 K1</a></td>
</tr>
<tr>
	<td>0,8–1,2</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 1,2 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 1,2 K1</a></td>
</tr>
<tr>
	<td>1,2–1,8</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 1,8 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 1,8 K1</a></td>
</tr>
<tr>
	<td>1,8–2,7</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 2,7 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 2,7 K1</a></td>
</tr>
<tr>
	<td>2,7–4</td>
	<td>–</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 4 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 4 K1</a></td>
</tr>
<tr>
	<td>4–6</td>
	<td>7–10,5</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 6 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 6 K1</a></td>
</tr>
<tr>
	<td>6–9</td>
	<td>10,5–15,5</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 9 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 9 K1</a></td>
</tr>
<tr>
	<td>8–11</td>
	<td>14–19</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 11 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 11 K1</a></td>
</tr>
<tr>
	<td>10–14</td>
	<td>18–24</td>
	<td><% product_id = Product.find_by(title: 'U12/16EQ 14 K1').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>U12/16EQ 14 K1</a></td>
</tr>

</tbody>
</table>
