<table class="gdt"><thead>
<tr>
	<td colspan="2"></td>
	<th>Код изделия</th>
	<th>Напряжение пробоя для постоянного тока (100В/с)</th>
	<th>Импульсное напряжение пробоя (1кВ/1мкс)</th>
	<th>Сопротивление изоляции (при 100В dc)</th>
	<th>Ёмкость</th>
	<th>Удерживаемое напряжение (R = 330Ом в последовательном подкл. R = 150Ом 100нФ в параллельном подкл.</th>
	<th>Разряд переменного тока (50Гц, 1с, 5-кратно)</th>
	<th>Номинальный импульсный ток (8/20мкс, 1-кратно)</th>
	<th>Номинальный импульсный ток (8/20мкс, 10-кратно)</th>
	<th>Типоразмеры</th>
</tr>
	</thead>
	<tbody>
<tr>
	<td rowspan="23">
		<img src="http://www.poligon.info/images/design/categories/CITEL/2-el.png" alt="двухэлектродные газовые разрядники"/>
	</td>
	<td rowspan="6" class="gdt-icon">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BA.jpg",
							class: "img img-responsive center-block category-image",
							alt: "газовый разрядник BA",
							title: "газовый разрядник BA"),
								"http://www.poligon.info/images/design/categories/CITEL/BA.jpg",
									class: "fancybox" ) %>
	</td>
	<td>BA90</td>
	<td>72—108B</td>
	<td>&lt;=640В</td>
	<td>&gt;=10GГОм</td>
	<td>&lt;=0.3 пФ</td>
	<td>&gt;В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
	<td rowspan="6">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BA-mechanical.jpg",
							class: "img img-responsive center-block category-image",
							alt: "Типоразмеры газовых разрядников BA",
							title: "нажмите для увеличения"),
								"http://www.poligon.info/images/design/categories/CITEL/BA-mechanical.jpg",
									class: "fancybox" ) %>
	</td>
</tr>
<tr>
	<td>BA150</td>
	<td>120—180В</td>
	<td>&lt;=700В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.3пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BA230</td>
	<td>184—276В</td>
	<td>&lt;=700В</td>
	<td>&gt;=ГОм</td>
	<td>&lt;=0.3пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BA300</td>
	<td>240—360В</td>
	<td>&lt;=900В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.3пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BA350</td>
	<td>280—420В</td>
	<td>&lt;=900В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.3пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BA550</td>
	<td>440—660В</td>
	<td>&lt;=1200В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.3пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td rowspan="6" class="gdt-icon">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BB.jpg",
							class: "img img-responsive center-block category-image",
							alt: "газоразрядник BB",
							title: "газоразрядник BB"),
								"http://www.poligon.info/images/design/categories/CITEL/BB.jpg",
									class: "fancybox" ) %>
	</td>
	<td>BB75</td>
	<td>60—90В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;60В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
	<td rowspan="6">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BB-mechanical.jpg",
							class: "img img-responsive center-block category-image",
							alt: "Типоразмеры газовых разрядников BB",
							title: "нажмите для увеличения"),
								"http://www.poligon.info/images/design/categories/CITEL/BB-mechanical.jpg",
									class: "fancybox" ) %>
	</td>
</tr>
<tr>
	<td>BB90</td>
	<td>72—108В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;60В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BB150</td>
	<td>120—180В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;75В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BB230</td>
	<td>184—276В</td>
	<td>&lt;=700В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BB350</td>
	<td>280—420В</td>
	<td>&lt;=850В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BB500</td>
	<td>400—600В</td>
	<td>&lt;=1200В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td rowspan="11" class="gdt-icon">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BH.jpg",
							class: "img img-responsive center-block category-image",
							alt: "газовый разрядник BH",
							title: "газовый разрядник BH"),
								"http://www.poligon.info/images/design/categories/CITEL/BH.jpg",
									class: "fancybox" ) %>
	</td>
	<td>BH75</td>
	<td>60—90В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;60В</td>
	<td>15А</td>
	<td>30кА</td>
	<td>15кА</td>
	<td rowspan="11">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BH-mechanical.jpg",
							class: "img img-responsive center-block category-image",
							alt: "Типоразмеры газовых разрядников BH",
							title: "нажмите для увеличения"),
								"http://www.poligon.info/images/design/categories/CITEL/BH-mechanical.jpg",
									class: "fancybox" ) %>
	</td>
</tr>
<tr>
	<td>BH90</td>
	<td>72—108В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;60В</td>
	<td>20А</td>
	<td>40кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BH230</td>
	<td>184—276В</td>
	<td>&lt;=700В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>40кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BH350</td>
	<td>280—420В</td>
	<td>&lt;=850В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>40кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BH470</td>
	<td>376—564В</td>
	<td>&lt;=1100В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>40кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BH500</td>
	<td>400—600В</td>
	<td>&lt;=1200В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>40кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BH600</td>
	<td>480—720В</td>
	<td>&lt;=1200В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>40кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BH800</td>
	<td>640—960В</td>
	<td>&lt;=1400В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BH1400</td>
	<td>1120—1680В</td>
	<td>&lt;=2000В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;120В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BH2500</td>
	<td>2000—3000В</td>
	<td>&lt;=3800В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;120В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BH3500</td>
	<td>2800—4200В</td>
	<td>&lt;=4600В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.8пФ</td>
	<td>&gt;120В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td rowspan="10">
		<img src="http://www.poligon.info/images/design/categories/CITEL/3-el.png" alt="трёхэлектродные газоразрядники"/>
	</td>
	<td rowspan="5" class="gdt-icon">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BT.jpg",
							class: "img img-responsive center-block category-image",
							alt: "газовый разрядник BT",
							title: "газовый разрядник BT"),
								"http://www.poligon.info/images/design/categories/CITEL/BT.jpg",
									class: "fancybox" ) %>
	</td>
	<td>BT90</td>
	<td>72—108В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.9пФ</td>
	<td>&gt;70В</td>
	<td>20А</td>
	<td>25кА</td>
	<td>25кА</td>
	<td rowspan="5">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BT-mechanical.jpg",
							class: "img img-responsive center-block category-image",
							alt: "Типоразмеры газовых разрядников BT",
							title: "нажмите для увеличения"),
								"http://www.poligon.info/images/design/categories/CITEL/BT-mechanical.jpg",
									class: "fancybox" ) %>
	</td>
</tr>
<tr>
	<td>BT150</td>
	<td>120—180В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.9пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>25кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BT230</td>
	<td>184—276В</td>
	<td>&lt;=750В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.9пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>25кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BT350</td>
	<td>280—420В</td>
	<td>&lt;=900В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.9пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>25кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td>BT500</td>
	<td>400—600В</td>
	<td>&lt;=1100В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.9пФ</td>
	<td>&gt;80В</td>
	<td>20А</td>
	<td>25кА</td>
	<td>20кА</td>
</tr>
<tr>
	<td rowspan="5" class="gdt-icon">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BM.jpg",
							class: "img img-responsive center-block category-image",
							alt: "газовый разрядник BM",
							title: "газовый разрядник BM"),
								"http://www.poligon.info/images/design/categories/CITEL/BM.jpg",
									class: "fancybox" ) %>
	</td>
	<td>BM90</td>
	<td>72—108В</td>
	<td>&lt;=640В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.5пФ</td>
	<td>&gt;60В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
	<td rowspan="5">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BM-mechanical.jpg",
							class: "img img-responsive center-block category-image",
							alt: "Типоразмеры газовых разрядников BM",
							title: "нажмите для увеличения"),
								"http://www.poligon.info/images/design/categories/CITEL/BM-mechanical.jpg",
									class: "fancybox" ) %>
	</td>
</tr>
<tr>
	<td>BM150</td>
	<td>120—180В</td>
	<td>&lt;=700В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.5пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BM230</td>
	<td>184—276В</td>
	<td>&lt;=800В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.5пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BM350</td>
	<td>280—420В</td>
	<td>&lt;=1000В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.5пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td>BM500</td>
	<td>400—600В</td>
	<td>&lt;=1200В</td>
	<td>&gt;=10ГОм</td>
	<td>&lt;=0.5пФ</td>
	<td>&gt;80В</td>
	<td>10А</td>
	<td>25кА</td>
	<td>10кА</td>
</tr>
<tr>
	<td colspan="3"></td>
	<th>Код изделия</th>
	<th>Напряжение пробоя для постоянного тока (100В/с)</th>
	<th>Импульсное напряжение пробоя (1.2/50мкs - 6 кВ)</th>
	<th>Удерживаемое напряжение (при 100А)</th>
	<th>Сопротивление изоляции (при 100В dc)</th>
	<th>Номинальный ток(8/20мкс, в соответсвии NF EN 616473-11)</th>
	<th>Макс. ток разряда (8/20мксс, в соответсвии NF EN 616473-11)</th>
	<th>Макс. ток разряда (10/350&#956;с, в соответсвии NF EN 616473-11)</th>
	<th>Типоразмеры</th>
</tr>
<tr>
	<td rowspan="5">
		<img src="http://www.poligon.info/images/design/categories/CITEL/1-cl.png" alt="газоразрядники первого класса"/>
	</td>
	<td rowspan="5" class="gdt-icon">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BG.jpg",
							class: "img img-responsive center-block category-image",
							alt: "газовый разрядник BG",
							title: "газовый разрядник BG"),
								"http://www.poligon.info/images/design/categories/CITEL/BG.jpg",
									class: "fancybox" ) %>
	</td>
	<td colspan="2">BG600</td>
	<td>480—720В</td>
	<td>&lt;=1500В</td>
	<td>&gt;255Vrms</td>
	<td>&gt;=10ГОм</td>
	<td>60кА</td>
	<td>100кА</td>
	<td>&gt;15кА</td>
	<td rowspan="5">
		<%= link_to(
					image_tag(
						"http://www.poligon.info/images/design/categories/CITEL/BG-mechanical.jpg",
							class: "img img-responsive center-block category-image",
							alt: "Типоразмеры газовых разрядников BG",
							title: "нажмите для увеличения"),
								"http://www.poligon.info/images/design/categories/CITEL/BG-mechanical.jpg",
									class: "fancybox" ) %>
	</td>
</tr>
<tr>
	<td colspan="2">BG-800</td>
	<td>640—960В</td>
	<td>&lt;=1500В</td>
	<td>&gt;255Vrms</td>
	<td>&gt;=10ГОм</td>
	<td>60кА</td>
	<td>100кА</td>
	<td>&gt;15кА</td>
</tr>
<tr>
	<td colspan="2">BG-1000</td>
	<td>800—1200В</td>
	<td>&lt;=1800В</td>
	<td>&gt;255Vrms</td>
	<td>&gt;=10ГОм</td>
	<td>60кА</td>
	<td>100кА</td>
	<td>&gt;15кА</td>
</tr>
<tr>
	<td colspan="2">BG-1300</td>
	<td>1040—1560В</td>
	<td>&lt;=2000В</td>
	<td>&gt;255Vrms</td>
	<td>&gt;=10ГОм</td>
	<td>60кА</td>
	<td>100кА</td>
	<td>&gt;15кА</td>
</tr>
<tr>
	<td colspan="2">BG-800</td>
	<td>640—690В</td>
	<td>&lt;=1500В</td>
	<td>&gt;255Vrms</td>
	<td>&gt;=10ГОм</td>
	<td>80кА</td>
	<td>140кА</td>
	<td>&gt;40кА</td>
</tr>
</tbody></table>
