<table class="table table-striped" border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td><strong>Интерфейсное реле 6,2мм</strong></td>
    <td> </td>
  </tr>
  <tr>
    <td width="600" valign="top"><p><br>
      • миниатюрные PCB-реле с колодкой для монтажа на DIN-рейку<br>
      • 1 перекидной контакт, ток до 6А (AC1/250В; DC1/30В)<br>
      • напряжения питания: 12, 24, 60, 100-110, 220-240V (AC/DC)<br>
      • встроенная схема индикации и защиты катушки<br>
      • ширина 6.2 мм<br>
      • производство: Relequick (Испания)<br>
      • сертификат CE, ГОСТ</p>
      <p><strong>Соответствие колодок и реле:</strong></p>
      <table class="table table-striped" border="1" cellspacing="0" cellpadding="1">
        <tbody>
          <tr>
            <td><strong>Напряжение питания</strong></td>
            <td><strong>Тип колодки</strong></td>
            <td><strong>Тип реле</strong></td>
          </tr>
          <tr>
            <td>12VAC/DC</td>
            <td><% product_id = Product.find(88294) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/88294'  title='' style=''>SVB10D010012V</a></td>
            <td><% product_id = Product.find(77656) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77656'  title='' style=''>RVS10N012V000</a></td>
          </tr>
          <tr>
            <td>24VAC/DC</td>
            <td><% product_id = Product.find(77660) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77660'  title='' style=''>SVB10D010024V</a></td>
            <td><% product_id = Product.find(77657) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77657'  title='' style=''>RVS10N024V000</a></td>
          </tr>
          <tr>
            <td>48VAC/DC</td>
            <td><% product_id = Product.find(77661) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77661'  title='' style=''>SVB10D010060V</a></td>
            <td><% product_id = Product.find(77658) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77658'  title='' style=''>RVS10N048V000</a></td>
          </tr>
          <tr>
            <td>60VAC/DC</td>
            <td><% product_id = Product.find(77661) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77661'  title='' style=''>SVB10D010060V</a></td>
            <td><% product_id = Product.find(77659) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77659'  title='' style=''>RVS10N060V000</a></td>
          </tr>
          <tr>
            <td>100-110VAC/DC</td>
            <td><% product_id = Product.find(77662) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77662'  title='' style=''>SVB10D010110V</a></td>
            <td><% product_id = Product.find(77659) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77659'  title='' style=''>RVS10N060V000</a></td>
          </tr>
          <tr>
            <td>220-240VAC/DC</td>
            <td><% product_id = Product.find(77663) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77663'  title='' style=''>SVB10D010240V</a></td>
            <td><% product_id = Product.find(77659) %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/77659'  title='' style=''>RVS10N060V000</a></td>
          </tr>
        </tbody>
            </table>      <p></p></td>
    <td width="300" valign="top"><img class="img-responsive" src="http://www.poligon.info/images/design/categories/RELEQUICK/SVR_SET_300.jpg" alt="" width="300" height="369"></td>
  </tr>
</table>
