<table class="table table-striped tele-zebra">
<caption>Колодки для реле</caption>
<thead>
	<tr>
		<th>Серия</th>
		<th>для серии</th>
		<th>Номинальное напряжение</th>
		<th>Max. ток контакта</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>
<tr>
	<th rowspan="2">PF</th>
	<td>RT 8-pin</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180139').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style=''>PF-083BE (VE10)</a></td>
	<td>180139</td>
</tr>
<tr>
	<td>RT 11-pin, COMBI, KAPPA, PLUS</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180136').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style=''>PF-113BE/M (VE10)</a></td>
	<td>180136</td>
</tr>
<tr>
	<th>ES</th>
	<td>RT 8-pin, COMBI</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180041').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style='' class='hideImageWrapper' data-image-id='a62aec3f964e0ad763b6dd653e70771b'>
				ES 9
				<img src='/images/catalog/TELE/devices/ES_9_(VE10)_device.jpg' id='a62aec3f964e0ad763b6dd653e70771b' alt='ES 9' class='hideImage'/>
				</a></td>
	<td>180041</td>
</tr>
<tr>
	<th>R11X</th>
	<td>RT 11-pin, KAPPA, PLUS</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180055').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style='' class='hideImageWrapper' data-image-id='c38790999a6323a6b836381a9b6b1fe7'>
				R11X
				<img src='/images/catalog/TELE/devices/R11X_device.jpg' id='c38790999a6323a6b836381a9b6b1fe7' alt='R11X' class='hideImage'/>
				</a></td>
	<td>180055</td>
</tr>


<tr>
	<th rowspan="3">PYF</th>
	<td rowspan="3">RA, RM</td>
	<td rowspan="3">300V AC</td>
	<td>12A</td>
	<td><% product_id = Product.find_by(article: '180134').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style='' class='hideImageWrapper' data-image-id='bee4aadf5c13b07d13322fba8da201d0'>
				PYF-14BE (VE10)
				<img src='/images/catalog/TELE/devices/PYF-14BE_(VE10)_device.jpg' id='bee4aadf5c13b07d13322fba8da201d0' alt='PYF-14BE (VE10)' class='hideImage'/>
				</a></td>
	<td>180134</td>
</tr>
<tr>
	<td>12A</td>
	<td><% product_id = Product.find_by(article: '180145').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style='' class='hideImageWrapper' data-image-id='eebff1c07233f333030937648dab1e36'>
				PYF-14BE/3 (VE10)
				<img src='/images/catalog/TELE/devices/PYF-14BE_3_(VE10)_device.jpg' id='eebff1c07233f333030937648dab1e36' alt='PYF-14BE/3 (VE10)' class='hideImage'/>
				</a></td>
	<td>180145</td>
</tr>
<tr>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180148').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style='' class='hideImageWrapper' data-image-id='ee9098c2473c9375bfbc485a5b5f0f52'>
				PYF-14BE/3CC (VE10)
				<img src='/images/catalog/TELE/devices/PYF-14BE_3CC_(VE10)_device.jpg' id='ee9098c2473c9375bfbc485a5b5f0f52' alt='PYF-14BE/3CC (VE10)' class='hideImage'/>
				</a></td>
	<td>180148</td>
</tr>

<tr>
	<th>ES</th>
	<td>RA, RM</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180046').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style='' class='hideImageWrapper' data-image-id='7bcfc97b71bd74a5404a1d68e16a0153'>
				ES 15/4B
				<img src='/images/catalog/TELE/devices/ES_15_4B_device.jpg' id='7bcfc97b71bd74a5404a1d68e16a0153' alt='ES 15/4B' class='hideImage'/>
				</a></td>
	<td>180046</td>
</tr>
<tr>
	<th>RSS214</th>
	<td>RM</td>
	<td>300V AC</td>
	<td>6A</td>
	<td><% product_id = Product.find_by(article: '180050').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style=''>RSS214</a></td>
	<td>180050</td>
</tr>


</tbody>
</table>
