<br>
<table class="table table-striped tele-zebra" id="cols-3-4-5-align-center">
<caption>Миниатюрные промежуточные реле серии RM</caption>
<thead>
<tr>
	<th colspan="2">Номинальное напряжение</th>
	<th>LED</th>
	<th>Защитный диод</th>
	<th>Позолоченные контакты</th>
	<th style="width: 9em;">Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<th rowspan="10">AC</th>
	<th>12V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100612LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %><%= product_id %>'  title='' style=''>RM 512L</a></td>
	<td>100612LD</td>
</tr>

<tr>
	<th rowspan="3">24V</th>
	<td></td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100613').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 524</a></td>
	<td>100613</td>
</tr>
<tr>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100613LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 524L</a></td>
	<td>100613LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100613H').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 524.02L</a></td>
	<td>100613H</td>
</tr>

<tr>
	<th>48V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100614LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 548L</a></td>
	<td>100614LD</td>
</tr>

<tr>
	<th rowspan="2">115V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100618LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 615L</a></td>
	<td>100618LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100618H').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 615.02L</a></td>
	<td>100618H</td>
</tr>

<tr>
	<th rowspan="3">230V</th>
	<td></td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100619').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 730</a></td>
	<td>100619</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100619LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 730L</a></td>
	<td>100619LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100619HL').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 730.02L</a></td>
	<td>100619HL</td>
</tr>

<tr>
	<th rowspan="14">DC</th>
	<th rowspan="2">12V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100601LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 012L</a></td>
	<td>100601LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100601HD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 012.02LD</a></td>
	<td>100601HD</td>
</tr>

<tr>
	<th rowspan="4">24V</th>
	<td></td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100603').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 024</a></td>
	<td>100603</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100603LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 024L</a></td>
	<td>100603LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100604FD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 024LD</a></td>
	<td>100604FD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100603HD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 024.02LD</a></td>
	<td>100603HD</td>
</tr>

<tr>
	<th rowspan="2">48V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100602LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 048L</a></td>
	<td>100602LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100602HD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 048.02LD</a></td>
	<td>100602HD</td>
</tr>

<tr>
	<th rowspan="2">60V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100616LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 060L</a></td>
	<td>100616LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100616HD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 060.02LD</a></td>
	<td>100616HD</td>
</tr>


<tr>
	<th rowspan="2">110V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100617LD').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 110L</a></td>
	<td>100617LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100617HD*').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 110.02LD</a></td>
	<td>100617HD*</td>
</tr>


<tr>
	<th rowspan="2">220V</th>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100620LD').id %>
		<img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 220L</a></td>
	<td>100620LD</td>
</tr>
<tr>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100619HF').id %><img src='<%= quantity_image_for product_id %>'
		style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>RM 220.02LD</a></td>
	<td>100619HF</td>
</tr>
</tbody></table>

<%= render partial: 'shared/utils/tele_kolodki' %>
