</style>
<table class="table table-striped tele-zebra cols-5-align-center">
<caption>Реле для монтажа на печатную плату</caption>
<thead>
<tr>
	<th>Контакты</th>
	<th colspan="2">Номинальное напряжение</th>
	<th>Ток</th>
	<th>Позолоченные контакты</th>
	<th style="width: 7em;">Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<th rowspan="3">1 CO</th>
	<th rowspan="2">AC</th>
	<th>24V</th>
	<td>16A</td>
	<td></td>
	<td><%# product_id = Product.find_by(article: '100431').id %>
  <img src='/assets/grey.gif'
  style='width: 10px; height: 10px;' title=''/>
RP 524-1</td>
	<td>100431</td>
</tr>
<tr>
	<th>230V</th>
	<td>16A</td>
	<td></td>
	<td><%# product_id = Product.find_by(article: '100432').id %>
  <img src='/assets/grey.gif'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%#= product_id %>'  title='' style=''>RP 730-1</a></td>
	<td>100432</td>
</tr>
<tr>
	<th>DC</th>
	<th>24V</th>
	<td>16A</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100430').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 024-1</a></td>
	<td>100430</td>
</tr>

<tr>
	<th rowspan="7">2 CO</th>
	<th rowspan="4">AC</th>
	<th>24V</th>
	<td>8A</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100417').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 524-2</a></td>
	<td>100417</td>
</tr>
<tr>
	<th>115V</th>
	<td>8A</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100421').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 615-2</a></td>
	<td>100421</td>
</tr>
<tr>
	<th>230V</th>
	<td>8A</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100418').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 730-2</a></td>
	<td>100418</td>
</tr>
<tr>
	<th>230V</th>
	<td>8A</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100418H').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 730-hv</a></td>
	<td>100418H</td>
</tr>

<tr>
	<th rowspan="3">DC</th>
	<th>12V</th>
	<td>8A</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100420').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 012-2</a></td>
	<td>100420</td>
</tr>
<tr>
	<th>24V</th>
	<td>8A</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100416').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 024-2</a></td>
	<td>100416</td>
</tr>
<tr>
	<th>24V</th>
	<td>8A</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100416H').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>RP 024-hv</a></td>
	<td>100416H</td>
</tr>

</tbody></table>

<table class="table table-striped tele-zebra">
<caption>Колодки для промежуточных реле серии RP</caption>
<thead>
	<tr>
		<th>Серия</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tfoot><tr><td colspan="3"><ul>
		<li>Номинальное напряжение: 300V AC</li>
		<li>max. токов контактов: 12А</li>
		</ul>
		</td></tr></tfoot>
<tbody>
<tr>
	<th rowspan="2">PI</th>
	<td><% product_id = Product.find_by(article: '180137').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
	<a href='/products/<%= product_id %>'  title='' style=''>PI50BE (VE10)</a></td>
	<td>180137</td>
</tr>
<tr>
	<td><% product_id = Product.find_by(article: '180133').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>PI-50BE/3 (VE10)</a></td>
	<td>180133</td>
</tr>
<tr>
	<th>PSS</th>
	<td><% product_id = Product.find_by(article: '180056').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>PSS8/3 (7564)</a></td>
	<td>180056</td>
</tr>
</tbody></table>

<table class="table table-striped tele-zebra"><caption>Модули для колодок</caption>
<thead>
	<th>Устройство</th>
	<th>для серии</th>
	<th>номинальное напряжение</th>
	<th>Тип</th>
	<th>Артикул</th>
</thead>
<tbody>
<tr>
	<th rowspan="2">Диод</th>
	<th rowspan="2">PI</th>
	<td>6 – 230V DC (+A2)</td>
	<td><% product_id = Product.find_by(article: '180260').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M21P</a></td>
	<td>180260</td>
</tr>
<tr>
	<td>6 – 230V DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180261').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M21N</a></td>
	<td>180261</td>
</tr>
<tr>
	<th rowspan="2">LED (красный)</th>
	<th rowspan="2">PI</th>
	<td>6 – 24V AC/DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180265').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M61R</a></td>
	<td>180265</td>
</tr>
<tr>
	<td>110 – 230V AC/DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180268').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M63R</a></td>
	<td>180268</td>
</tr>
<tr>
	<th rowspan="2">LED (красный) + Диод</th>
	<th rowspan="2">PI</th>
	<td>6 – 24V DC (+A2)</td>
	<td><% product_id = Product.find_by(article: '180262').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M31R</a></td>
	<td>180262</td>
</tr>
<tr>
	<td>6 – 24V DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180263').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M41R</a></td>
	<td>180263</td>
</tr>
<tr>
	<th rowspan="2">LED (зелёный)</th>
	<th rowspan="2">PSDD</th>
	<td>110 – 230V AC</td>
	<td><% product_id = Product.find_by(article: '180307').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>EM 10</a></td>
	<td>180307</td>
</tr>
<tr>
	<td>6 – 24V AC/DC</td>
	<td><% product_id = Product.find_by(article: '180308').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>EM 11</a></td>
	<td>180308</td>
</tr>
<tr>
	<th>LED (зелёный) + Диод</th>
	<th>PSS</th>
	<td>6 – 24V DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180309').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>EM 12</a></td>
	<td>180309</td>
</tr>
<tr>
	<th rowspan="2">RC-Элемент</th>
	<th>PI</th>
	<td>110 – 240V AC</td>
	<td><% product_id = Product.find_by(article: '180264').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M53</a></td>
	<td>180264</td>
</tr>
<tr>
	<th>PSS</th>
	<td>110 – 230V AC</td>
	<td><% product_id = Product.find_by(article: '180300').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>EM 03</a></td>
	<td>180300</td>
</tr>
<tr>
	<th rowspan="4">Варистор</th>
	<th rowspan="2">PI</th>
	<td>24V AC</td>
	<td><% product_id = Product.find_by(article: '180266').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M71</a></td>
	<td>180266</td>
</tr>
<tr>
	<td>230V AC</td>
	<td><% product_id = Product.find_by(article: '180267').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M73</a></td>
	<td>180267</td>
</tr>
<tr>
	<th rowspan="2">PSS</th>
	<td>24V AC</td>
	<td><% product_id = Product.find_by(article: '180301').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>EM 04</a></td>
	<td>180301</td>
</tr>
<tr>
	<td>230V AC</td>
	<td><% product_id = Product.find_by(article: '180302').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>EM 05</a></td>
	<td>180302</td>
</tr>
<tr>
	<th>Варистор + LED (красный)</th>
	<th>PI</th>
	<td>110 – 230V AC</td>
	<td><% product_id = Product.find_by(article: '180276').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M93G</a></td>
	<td>180276</td>
</tr>
<tr>
	<th>Резистор</th>
	<th>PI</th>
	<td>110 – 230V AC</td>
	<td><% product_id = Product.find_by(article: '180269').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>TYPE M103</a></td>
	<td>180269</td>
</tr>

</tbody></table>

<table class="table table-striped tele-zebra"><caption>Аксессуары для колодок</caption>
<thead>
	<tr>
		<th></th>
		<th>для серии</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th rowspan="2">Фиксатор (пластик)</th>
		<td>PI50</td>
		<td><% product_id = Product.find_by(article: '180029').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>HB/RP 16</td>
		<td>180029</td>
	</tr>
	<tr>
		<td>PSS8/3</td>
		<td><%# product_id = Product.find_by(article: '180060').id %>
  <img src='/assets/grey.gif'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%#= product_id %>'  title='' style=''>HB/PSS</a></td>
		<td>180060</td>
	</tr>
	<tr>
		<th>Крышка</th>
		<td>PSS8/3</td>
		<td><% product_id = Product.find_by(article: '180057').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>BS/PSS (VE10)</a></td>
		<td>180057</td>
	</tr>
</tbody></table>

<table class="table table-striped tele-zebra">
<caption>Сборки реле</caption>
<thead>
	<tr>
		<th>Контакты</th>
		<th>Номинальное напряжение</th>
		<th>Колодка</th>
		<th>LED/варистор</th>
		<th>Защитный диод</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>
<tr>
	<th rowspan="5">2CO</th>
	<th>24V AC</th>
	<td>PSS8/3</td>
	<td>LED</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100686').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>
	SET RP524+LD+PSS8+HB (PQ10)</a></td>
	<td>100686</td>
</tr>
<tr>
	<th rowspan="2">24V DC</th>
	<td>PSS8/3</td>
	<td>LED</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100681').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>
	SET RP024+LD/FD+PSS8+HB (PQ10)</a></td>
	<td>100681</td>
</tr>
<tr>
	<td>ES 50</td>
	<td>LED</td>
	<td>&#9632;</td>
	<td><%# product_id = Product.find_by(article: '').id %>
  <img src='/assets/grey.gif'
  style='width: 10px; height: 10px;' title=''/>
	SET RP024+LD/FD+ES50+HB (PQ12)</td>
	<td></td>
</tr>
<tr>
	<th rowspan="2">230V AC</th>
	<td>PSS8/3</td>
	<td>LED</td>
	<td></td>
	<td><% product_id = Product.find_by(article: '100684').id %>
  <img src='<%= quantity_image_for product_id %>'
  style='width: 10px; height: 10px;' title=''/>
<a href='/products/<%= product_id %>'  title='' style=''>
	SET RP730+LD+PSS8+HB (PQ10)</a></td>
	<td>100684</td>
</tr>
<tr>
	<td>ES50/3</td>
	<td>варистор</td>
	<td></td>
	<td><%# product_id = Product.find_by(article: '').id %>
  <img src='/assets/grey.gif'
  style='width: 10px; height: 10px;' title=''/>
	SET RP730+LD/Varistor+ES50/3+HB (PQ12)</td>
	<td></td>
</tr>
</tbody></table>
