<table class="table table-striped tele-zebra">
<caption>Промышленные реле</caption>
<thead>
<tr>
	<th>Номинальное напряжение</th>
	<th>2 CO</th>
	<th>3 CO</th>
	<th>позолоч.</th>
	<th>LED</th>
	<th>Защитный диод</th>
	<th>Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<th colspan="8">Количество полюсов 8-pin</th>
</tr>
<tr>
	<td>12V AC</td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><%# product_id = Product.find_by(article: '10058LD').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%#= product_id %>'  title='' style=''>RT 1.2.012L</a></td>
	<td>10058LD</td>
</tr>
<tr>
	<td>24V AC</td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100507LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.2.024L</a></td>
	<td>100507LD</td>
</tr>
<tr>
	<td>110V AC</td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100505LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.2.110L</a></td>
	<td>100505LD</td>
</tr>
<tr>
	<td>230V DC</td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><%# product_id = Product.find_by(article: '180269').id %>
<img src='/assets/grey.gif'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.2.230L</a></td>
	<td></td>
</tr>
<tr>
	<td>12V DC</td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100502LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.2.012L</a></td>
	<td>100502LD</td>
</tr>
<tr>
	<td>24V DC</td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100516LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.2.024L</a></td>
	<td>100516LD</td>
</tr>

<tr>
	<th colspan="8">Количество полюсов 11-pin</th>
</tr>

<tr>
	<td>24V AC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100526LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.3.024L</a></td>
	<td>100526LD</td>
</tr>
<tr>
	<td>48V AC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100524LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.3.048L</a></td>
	<td>100524LD</td>
</tr>
<tr>
	<td>110V AC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100522LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.3.110L</a></td>
	<td>100522LD</td>
</tr>
<tr>
	<td>230V AC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100521').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.3.230</a></td>
	<td>100521</td>
</tr>
<tr>
	<td>230V AC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100521LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.3.230L</a></td>
	<td>100521LD</td>
</tr>
<tr>
	<td>230V AC</td>
	<td> </td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100521H').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 1.3.230.02L</a></td>
	<td>100521H</td>
</tr>
<tr>
	<td>12V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100536LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.012L</a></td>
	<td>100536LD</td>
</tr>
<tr>
	<td>24V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100535').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.024</a></td>
	<td>100535</td>
</tr>
<tr>
	<td>24V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100535LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.024L</a></td>
	<td>100535LD</td>
</tr>
<tr>
	<td>24V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100535FD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.024LD</a></td>
	<td>100535FD</td>
</tr>
<tr>
	<td>24V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td><% product_id = Product.find_by(article: '100535H').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.024.02LD</a></td>
	<td>100535H</td>
</tr>
<tr>
	<td>48V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100533LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.048L</a></td>
	<td>100533LD</td>
</tr>
<tr>
	<td>60V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100532LD').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.060L</a></td>
	<td>100532LD</td>
</tr>
<tr>
	<td>110V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100531').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.110</a></td>
	<td>100531</td>
</tr>
<tr>
	<td>220V DC</td>
	<td> </td>
	<td>&#9632;</td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><% product_id = Product.find_by(article: '100530').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>RT 2.3.220</a></td>
	<td>100530</td>
</tr>
</tbody></table>


<table class="table table-striped tele-zebra">
<caption>Колодки для реле</caption>
<thead>
	<tr>
		<th>Серия</th>
		<th>для серии</th>
		<th>Номинальное напряжение</th>
		<th>Max. ток контакта</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>
<tr>
	<th rowspan="2">PF</th>
	<td>RT 8-pin</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180139').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>PF-083BE (ES 8)</a></td>
	<td>180139</td>
</tr>
<tr>
	<td>RT 11-pin, COMBI, KAPPA, PLUS</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180136').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>PF-113BE/M (ES 12)</a></td>
	<td>180136</td>
</tr>
<tr>
	<th>ES</th>
	<td>RT 8-pin, COMBI</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180041').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>ES 9</a></td>
	<td>180041</td>
</tr>
<tr>
	<th>R11X</th>
	<td>RT 11-pin, KAPPA, PLUS</td>
	<td>300V AC</td>
	<td>10A</td>
	<td><% product_id = Product.find_by(article: '180055').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>R11X</a></td>
	<td>180055</td>
</tr>
</tbody></table>

<table class="table table-striped tele-zebra">
<caption>Модули</caption>
<thead>
<tr>
	<th></th>
	<th>для серии</th>
	<th>Номинальное напряжение</th>
	<th>Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<th rowspan="2">LED</th>
	<th rowspan="2">ES 9, PF113BEM</th>
	<td>6 — 24V AC/DC(+A1)</td>
	<td><% product_id = Product.find_by(article: '180234').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> TYPE 61 (TVL 3)</td>
	<td>180234</td>
</tr>
<tr>
	<td>110 — 230V AC/DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180235').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>TYPE 91 (TVL 4)</a></td>
	<td>180235</td>
</tr>
<tr>
	<th rowspan="2">Диод</th>
	<th rowspan="2">ES 9, PF113BEM</th>
	<td>6 — 230V DC (+A2)</td>
	<td><% product_id = Product.find_by(article: '180231').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>TYPE 11 (TVD 2)</a></td>
	<td>180231</td>
</tr>
<tr>
	<td>6 — 230V DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180230').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>TYPE 21 (TVD 1)</a></td>
	<td>180230</td>
</tr>
<tr>
	<th rowspan="2">LED+Диод</th>
	<th rowspan="2">ES 9, PF113BEM</th>
	<td>6 — 24V DC (+A2)</td>
	<td><% product_id = Product.find_by(article: '180233').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> TYPE 31 (TVL 2)</td>
	<td>180233</td>
</tr>
<tr>
	<td>6 — 24V DC (+A1)</td>
	<td><% product_id = Product.find_by(article: '180232').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> <a href='/products/<%= product_id %>'  title='' style=''>TYPE 41 (TVL 1)</a></td>
	<td>180232</td>
</tr>
<tr>
	<th>RC-элемент</th>
	<th>ES 9, PF113BEM</th>
	<td>110 — 240V AC</td>
	<td><% product_id = Product.find_by(article: '180236').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> TYPE 51 (TVR)</td>
	<td>180236</td>
</tr>
<tr>
	<th rowspan="2">Варистор</th>
	<th rowspan="2">ES 9, PF113BEM</th>
	<td>24V AC</td>
	<td><% product_id = Product.find_by(article: '180237').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> TYPE 71 (TVV 1)</td>
	<td>180237</td>
</tr>
<tr>
	<td>230V AC</td>
	<td><% product_id = Product.find_by(article: '180238').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/> TYPE 81 (TVV 2)</td>
	<td>180238</td>
</tr>
</tbody>
</table>
