<table class="table table-striped w100p"><tbody>
<tr>
	<td><img src="http://www/poligon.info/images/design/categories/TELE/DSW.jpg" class="show w200px" alt="Трансформатор тока"/></td>
	<td><img src="http://www/poligon.info/images/design/categories/TELE/WSW.jpg" class="show w200px" alt="Трансформатор тока"/></td>
</tr>
<tr>
	<td><a href="http://www/poligon.info/PDF/TELE/en_dsw60_80.pdf">Тех. документация по серии DSW</a></td>
	<td><a href="http://www/poligon.info/PDF/TELE/en_wsw60.pdf">Тех. документация по серии WSW</a></td>
</tr>
</tbody></table>

<p>Транформаторы тока серий WSW и DSW используются для расширения диапазона измерения <a href="/content/articles/review-of-current-monitoring-relays.php">реле контроля тока</a>, <a href="/categories/4992">реле контроля мощности</a> TELE (например <a href='/products/1249'  title='' style=''>G2IM5AL20 24-240VAC/DC</a>). </p>
<table class="table table-striped tele-zebra w100p"><caption>Разделительные трансформаторы тока (с первичной и вторичной обмотками)</caption>
<thead>
<tr>
	<th>Класс точности</th>
	<th>Номинальная мощность</th>
	<th>Номинальный ток первичной цепи</th>
	<th>Размеры (мм)</th>
	<th style="width: 150px;">Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<th rowspan="9">Класс 1</th>
	<td rowspan="9">2,5VA</td>
	<td>1А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498060').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 1A/5A 2,5VA</a>
	</td>
	<td>498060</td>
</tr>
<tr>
	<td>2,5А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498061').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 2,5A/5A 2,5VA</a>
	</td>
	<td>498061</td>
</tr>
<tr>
	<td>5А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498062').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 5A/5A 2,5VA</a>
	</td>
	<td>498062</td>
</tr>
<tr>
	<td>10А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498063').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 10A/5A 2,5VA</a>
	</td>
	<td>498063</td>
</tr>
<tr>
	<td>15А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498064').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 15A/5A 2,5VA</a>
	</td>
	<td>498064</td>
</tr>
<tr>
	<td>20А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498065').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 20A/5A 2,5VA</a>
	</td>
	<td>498065</td>
</tr>
<tr>
	<td>25А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498066').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 25A/5A 2,5VA</a>
	</td>
	<td>498066</td>
</tr>
<tr>
	<td>30А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498067').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 30A/5A 2,5VA</a>
	</td>
	<td>498067</td>
</tr>
<tr>
	<td>40А</td>
	<td>80х60х30</td>
	<td>
		<% product_id = Product.find_by(article: '498068').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>WSW 60 40A/5A 2,5VA</a>
	</td>
	<td>498068</td>
</tr>
</tbody></table>

<table class="table table-striped tele-zebra"><caption>Проходные трансформаторы тока</caption>
<thead>
<tr>
	<th>Класс точности</th>
	<th>Номинальная мощность</th>
	<th>Номинальный тока первичной цепи</th>
	<th>Размеры (мм)</th>
	<th style="width: 150px;">Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<th rowspan="15">Класс 1</th>
	<td>1,25VA</td>
	<td>60А</td>
	<td>33х33х50WE</td>
	<td>
		<% product_id = Product.find_by(article: '498070').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 60A/5A 1,25VA</a>
	</td>
	<td>498070</td>
</tr>
<tr>
	<td rowspan="2">2,5VA</td>
	<td>100А</td>
	<td>33х33х50</td>
	<td>
		<% product_id = Product.find_by(article: '498073').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 100A/5A 2,5VA</a>
	</td>
	<td>498073</td>
</tr>
<tr>
	<td>125А</td>
	<td>33х33х50</td>
	<td>
		<% product_id = Product.find_by(article: '498074').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 125A/5A 2,5VA</a>
	</td>
	<td>498074</td>
</tr>
<tr>
	<td>3,75VA</td>
	<td>150А</td>
	<td>33х33х50</td>
	<td>
		<% product_id = Product.find_by(article: '498075').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 150A/5A 3,75VA</a>
	</td>
	<td>498075</td>
</tr>
<tr>
	<td rowspan="3">5VA</td>
	<td>200А</td>
	<td>33х33х50</td>
	<td>
		<% product_id = Product.find_by(article: '498076').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 200A/5A 5VA</a>
	</td>
	<td>498076</td>
</tr>
<tr>
	<td>250А</td>
	<td>33х33х50</td>
	<td>
		<% product_id = Product.find_by(article: '498077').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 250A/5A 5VA</a>
	</td>
	<td>498077</td>
</tr>
<tr>
	<td>300А</td>
	<td>33х33х50</td>
	<td>
		<% product_id = Product.find_by(article: '498078').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 300A/5A 5VA</a>
	</td>
	<td>498078</td>
</tr>
<tr>
	<td rowspan="8">10VA</td>
	<td>400А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498081').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 400A/5A</a>
	</td>
	<td>498081</td>
</tr>
<tr>
	<td>500А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498085').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 500A/5A</a>
	</td>
	<td>498085</td>
</tr>
<tr>
	<td>600А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498082').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 600A/5A</a>
	</td>
	<td>498082</td>
</tr>
<tr>
	<td>750А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498080').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 750A/5A</a>
	</td>
	<td>498080</td>
</tr>
<tr>
	<td>800А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498084').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 800A/5A</a>
	</td>
	<td>498084</td>
</tr>
<tr>
	<td>1000А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498079').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 1000A/5A</a>
	</td>
	<td>498079</td>
</tr>
<tr>
	<td>1250А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498083').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 80 1250A/5A</a>
	</td>
	<td>498083</td>
</tr>
<tr>
	<td>1500А</td>
	<td>50,5х50,5х85</td>
	<td>
		<%# product_id = Product.find_by(article: '180029').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		DSW 80 1500A/5A
	</td>
	<td></td>
</tr>




<tr>
	<th rowspan="3">Класс 3</th>
	<td>1,25VA</td>
	<td>50А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498069').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 50A/5A 1,25VA</a>
	</td>
	<td>498069</td>
</tr>
<tr>
	<td rowspan="2">2,5VA</td>
	<td>75А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498071').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 75A/5A 2,5VA</a>
	</td>
	<td>498071</td>
</tr>
<tr>
	<td>80А</td>
	<td>50,5х50,5х85</td>
	<td>
		<% product_id = Product.find_by(article: '498072').id %>
<img src='<%= quantity_image_for product_id %>'
style='width: 10px; height: 10px;' title=''/>
		<a href='/products/<%= product_id %>'  title='' style=''>DSW 60 80A/5A 2,5VA</a>
	</td>
	<td>498072</td>
</tr>
</tbody></table>


<table class="table table-striped tele-zebra"><caption>Аксессуары</caption>
<thead>
<tr>
	<th></th>
	<th>Тип</th>
	<th>Артикул</th>
</tr>
<thead>
<tbody>
<tr>
	<td>Фиксатор (2шт.) для DSW и WSW</td>
	<%# product_id = Product.find_by(article: '498100').id %>
	<td><a href="/products/<%#= product_id %>">MC-SW</a></td>
	<td>498100</td>
</tr>
</tbody>
</table>
