<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-8 col-md-8">
      <h1 align="center">Служебный вход ООО "ПОЛИГОН"</h1>
      <% if user_signed_in? %>
          <b><%= hello_user %></b>
          <p>Вы уже получили доступ к служебному интерфейсу.</p>
          <%= link_to "Выйти", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin", role: "form") do |f| %>
          <h2 class="form-signin-heading">Введите Ваши данные</h2>
          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
          <br>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control", placeholder: "Пароль" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me, style: "margin-left: 0px; margin-top: 0px;" %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <%= f.submit "Войти", class: "btn btn-lg btn-primary btn-block" %>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
          <br>
          <%#= render "devise/shared/links" %>
        <% end %>
      <% end %>
      <hr>
    </div>
    <div class="col-xs-2 col-md-2"></div>
  </div>
</div>
