<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <h1>Служебный вход ООО "ПОЛИГОН"</h1>
      <% if user_signed_in? %>
          <b><%= hello_user %></b>
          <p>Вы уже получили доступ к служебному интерфейсу.</p>
          <%= link_to "Выйти", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin", role: "form") do |f| %>
          <h2 class="form-signin-heading">Введите Ваши данные</h2>
          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
          <br>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control", placeholder: "Пароль" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me, style: "margin-left: 0px; margin-top: 0px;" %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <%= f.submit "Войти", class: "btn btn-lg btn-primary btn-block" %>
          <br>
          <%#= render "devise/shared/links" %>
        <% end %>
      <% end %>
      <hr>
    </div>
  </div>
</div>
