<%= render "shared/static_page", :locals => { content: @staticContent,
                                              directory: 'company',
                                              page: 'program' } %>

<div style="position: relative; overflow: hidden; margin-top: 20px;">

<% vendors = {1=>142,7=>77, 9=>5583, 3=>5094, 2=>74, 4=>5414, 5=>5535,6=>5818,10=>5512,19=>6321,21=>4847,14=>6371} %>
<% @vendors.where(id: vendors.keys).uniq.each do |vendor| %>
    <% subCategories = Category.available.where(parent: vendors[vendor.id]) %>
    <div class="portfolio searchable" data-index="">
      <div class="wrap-border">     
        <div style="display: flex; height: 94px; justify-content: center; align-items: center;">      
          <% if vendor.logo == "" || vendor.logo.nil? %>
            <%= vendor.title %>
          <% else %>
            <%= image_tag(asset_path("/brands/"+vendor&.logo)) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="about-brand">
      <div style="padding: 20px;">
        <p class="grand"><b><%= vendor.title %></b></p>
        <% if vendor.description %>
          <p style="margin-top: 10px; margin-bottom: 10px;"><%= vendor.description %></p>
        <% end %>
        <p class="pseudo" style="padding-top: 5px; padding-bottom: 5px;"><b>Продукция</b></p>
        <ul class="list list-program" style="columns: 2; -webkit-columns: 2; -moz-columns: 2;">
          <% subCategories.each do |sc| %>
            <li><%= link_to sc.title, sc %></li>
          <% end %>
        </ul>
      </div>
    </div>

<% end %>
</div>