<% title = "Примеры применения" %>
<% generate_meta_from title %>

<div class="apply">
  <div class="container">
    <div class="row breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Решения и примеры применения', examples_path %>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="apply-search-block">
    <div class="container">
      <div class="row">
        <div class="apply-title col-sm-8 col-md-10">
          <h1>Решения и примеры применения</h1>
        </div>
        <div class="apply-clear col-sm-4 col-md-2">
          <button type="reset" id="examples-reset">Cбросить все Х</button>
        </div>
      </div>
      <div class="apply-search">
        <%= form_tag examples_path, method: "get", enforce_utf8: false do %>
          <% result = params[:search] || nil %>
          <%= text_field_tag :search, result, placeholder: "Поиск" %>
          <%= button_tag "", class: "search-button", name: nil %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="apply-menu-block">
    <div class="container">
      <ul class="apply-menu">
        <% @scopes.each do |scope| %>
          <li data-id="<%= scope.id %>" class="<% if scope.id.to_s == params[:scope] %>active<% end %>">
            <%= scope.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<%# <div class="apply-tags-block">
    <div class="container">
      <h3>Теги</h3>
      <ul class="apply-tags">
         @tags.each do |tag|
          <li> tag.name </li>
         end 
      </ul>
    </div>
  </div>
  %>



  <div class="inside-apply">
    <div class="container">
      <div class="row" id="examples-list">
        <%= render 'shared/examples_list', locals: {examples: @examples} %>
      </div>
    </div>
  </div>
</div>
