<div class="apply">
  <div class="container">
    <div class="row breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Решения и примеры применения', examples_path %>
          </li>
          <li class="breadcrumb-item">
            <%= @example.title %>
          </li>
        </ol>
      </nav>
    </div>

    <div class="apply-item">
      <div class="apply-title">
        <h1><%= @example.title %></h1>
      </div>
      <div class="apply-item-photos">
        <div class="row">
          <% @example.example_images.order('position ASC').each do |image| %>
            <div class="col-sm-6 col-md-3 apply-item-photo"> 
              <%= link_to image_tag(image&.image&.url, class: "img-responsive center-block product-image-container", alt: image&.alt ),
                          image&.image&.url, class: "fancybox", data: {rel: "li2ghtcase:app"} %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="apply-item-info">
        <div class="row">
          <div class="col-sm-4">
            <ul class="apply-item-list">
              <% if @example.scope.nil? %>
                <% scope_name = '' %>
              <% else %>
                <% scope_name = @example.scope.name %>
              <% end %>
              <li><strong>Область применения:</strong> <%= scope_name %></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="apply-item-list">
              <li><strong>Товарная группа:</strong><br>
                <%= @product_groups_string.html_safe %>
              </li>

              <% if @example.product %>
                <% if @example.product.article.nil? or @example.product.article == '' %>
                  <% product_name = @example.product.title %>
                <% else %>
                  <% product_name = ' (' + @example.product.article + ') ' + @example.product.title %>
                <% end %>
                <li><strong>Изделие:</strong><br>
                  <%= link_to product_name, category_product_path(id:@example.product, category_id: @example.product.category) %>
                </li>
              <% end %>

              <li><strong>Тех документация:</strong><br>
                <% if @example.product && @example.product.pdf_name != nil %>
                  <% product_pdf = @example.product.pdf_name %>
                  <% vendor_folder_name = (Vendor.find(@example.product.vendor_id)).folder_name %>
                  <% pdf_path = "http://176.53.160.235/PDF/" + vendor_folder_name + "/" + product_pdf %>
                  <p><a href="<%= pdf_path %>" target="_blank"><%= @example.product.pdf_name %></a></p>
                <% else %>
                  <p>Отсутствует</p>
                <% end %>
              </li>
              <li><strong>Теги: </strong><br>
                <%= @tags_string %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="apply-item-description">
        <div class="row">
          <div class="col-sm-2"><strong>Задача:</strong></div>
          <div class="col-sm-10">
            <%= @example.issue.html_safe %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><strong>Решение:</strong></div>
          <div class="col-sm-10">
            <%= @example.solution.html_safe %>
          </div>
        </div>
        <% if @example.advantages %>
          <div class="row">
            <div class="col-sm-2"><strong>Преимущества:</strong></div>
            <div class="col-sm-10">
              <%= @example.advantages.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
