<h2>Редактировать пример применения</h2>
<h3><%= @example.title %></h3>

<%= form_for @example, url: {action: "update", id: @example.id}, multipart: true do |f| %>
  <br>
  <br>
  <%= label_tag(:title, "Название:") %>
  <%= f.text_field :title, class: 'form-control' %><br>
  <%= label_tag(:slug, "URL") %>
  <%= f.text_field :slug, class: 'form-control' %><br>
  
  <%= label_tag(:scope_id, "Область применения:") %>
  <%= f.collection_select(:scope_id, Scope.all, :id, :name, class: 'form-control') %><span>&nbsp;&nbsp;</span><br><br>

  <%= f.label 'Товарные группы (через запятую):' %>
  <%= f.text_area :product_groups, size: "160x12", class: 'form-control', value: f.object.product_groups.map{|a| a.name}.join(",") %><br><br>


  <%= f.label 'Продукт' %>
  <% collection = "" %>
  <% products = Product.find(@example.product_id) if @example.product_id %>
  <% collection = options_from_collection_for_select([products], 'id', 'title', products.id) if @example.product_id %>

  <%= f.select :product_id, collection, { include_blank: true }, class: "form-control chosen chosen-ajax" %><br><br>

  <%= label_tag(:issue, "Задача:") %>
  <%= f.text_area :issue, size: "160x12", class: 'form-control ckeditor' %><br><br>

  <%= label_tag(:issue, "Решение:") %>
  <%= f.text_area :solution, size: "160x12", class: 'form-control ckeditor' %><br><br>

  <%= label_tag(:issue, "Преимущества:") %>
  <%= f.text_area :advantages, size: "160x12", class: 'form-control ckeditor' %><br><br>  

  <%= f.label 'Теги (через запятую):' %>
  <%= f.text_area :tags, value: @tags_string, class: "form-control", style: "height: 87px;" %><br><br>

  <%= f.submit "Сохранить", class: 'btn btn-info' %>

  <div>
    <div class="sortable-img-list" %>
    <ul class="sortable-images" product-id="<%= @example.id %>">
      <%= f.fields_for :example_images do |image| %>
        <%= render 'example_image_fields', f: image %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Добавить картинку', f, :example_images, class: "btn btn-default" %>
      </div>
    </ul>
    </div>
  </div>

<% end %>
