<div>
  <h2>Примеры применения</h2>
  <p><%= link_to 'Создать новый пример применения', new_admin_example_path, class: "btn btn-success" %></p>
  <br><br>
  <% if @examples.nil? %>
    Нет информации для отображения.
    <% else %>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Название</th>
        <th>Область применения</th>
        <th>Устройство</th>
        <th>Товарная группа</th>
        <th>Теги</th>
        <th>Редактирование</th>
        <th>Удаление</th>
      </tr>
      </thead>
      <% @examples.each do |admin_example| %>
        <%
          tags = Tag.includes(:examples).where("examples.id" => admin_example.id)
          example_tags = []
          tags.each do |tag|
            example_tags.push(tag.name)
          end
          tags_string = example_tags.join(", ")

          product_groups = ProductGroup.includes(:examples).where("examples.id" => admin_example.id)
          example_product_groups = []
          product_groups.each do |product_group|
            example_product_groups.push(product_group.name)
          end
          product_groups_string = example_product_groups.join(", ")
        %>
        <tr>
          <td>
            <%= admin_example.title %>
          </td>
          <td>
            <% if admin_example.scope.nil? %>
              <% scope_name = '' %>
            <% else %>
              <% scope_name = admin_example.scope.name %>
            <% end %>
            <%= scope_name %>
          </td>
          <td>
            <%= admin_example&.product&.title %>
          </td>
          <td>
            <%= product_groups_string %>
          </td>
          <td>
            <%= tags_string %>
          </td>
          <td>
            <%= link_to 'Редактировать', edit_admin_example_path(admin_example.id) %>
          </td>
          <td>
            <%= link_to 'Удалить', admin_example_path(admin_example.id), method: :delete, remote: true, :class => 'delete_example',
                        data: { confirm: "Вы уверены?" } %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
