<h2>Новый пример применения</h2>

<%= form_for @example, url: {action: "create"}, html: {method: 'POST'} do |f| %>
  <%= label_tag(:example_images, "Изображения:") %>
  <%= f.file_field :example_images, multiple: true %><br><br>
  <%= label_tag(:title, "Название:") %>
  <%= f.text_field :title, class: 'form-control' %><br><br>
  <%= label_tag(:scope_id, "Область применения:") %>
  <%= f.collection_select(:scope_id, Scope.all, :id, :name, class: 'form-control') %><span>&nbsp;&nbsp;</span>
  <%= label_tag(:product_id, "Устройство:") %>
  <%= f.collection_select(:product_id, Product.available.order(:title), :id, :title, class: 'form-control') %><br><br>
  <%= label_tag(:issue, "Задача:") %>
  <%= f.text_area :issue, size: "160x12", class: 'form-control' %><br><br>
  <%= label_tag(:issue, "Решение:") %>
  <%= f.text_area :solution, size: "160x12", class: 'form-control' %><br><br>
  <%= f.label 'Теги (через запятую):' %>
  <%= f.text_area :tags, value: '', class: "form-control", style: "height: 87px;"  %><br><br>
  <%= f.submit "Сохранить", class: 'btn btn-info' %>
<% end %>
