<header>
  <% title = "Сертификаты" %>
  <% generate_meta_from title %>
  <h1 align="center"><%= title %></h1>
  <p class="certificates-notes">Кликните название компании, чтобы увидеть список доступных сертификатов.</p>
  <p class="certificates-notes">Кликните кнопку "Скачать все PDF одним архивом" для вызова диалога сохранения архива.</p>
</header>

<div class="panel-group" id="accordion">
  <% @vendors.each_with_index do |vendor, index| %>
    <%# in_class = 'in' if index == 0 %>
    <hr>
    <div class="panel-heading">
      <h4 class="panel-title">
        <div>
          <div style="float: left;">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= vendor.id %>"
              title="Кликните чтобы отобразить/скрыть список сертификатов">
              <h3><%= vendor.title %></h3>
            </a>
          </div>
          <div style="float: right; padding-top: 20px;">
            <%= form_for :vendor_id,
              url:  { action:"download", controller: "certificates"},
              html: { method: :get} do |f| %>
              <%= f.hidden_field :vendor_id, value: vendor.id%>
              <%= f.submit "Скачать все PDF одним архивом", class: "btn btn-info" %>
            <% end %>
          </div>
          <div style="clear: both;"></div>
      </div>
      </h4>
    </div>

    <div id="<%= vendor.id %>" class="panel-collapse collapse <%#= in_class %>">
      <div class="panel-body">
        <% @certificates.each do |certificate| %>
        <ul style="list-style-type:none">
          <%  if vendor.id == certificate.vendor_id %>
            <li><%= render 'shared/certificates_list', locals: { certificate: certificate } %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
