<section class="module">

  <header>
    <h1>Каталог устройств</h1>
  </header>

  <section class="wraper">

    <%= render "shared/index_figure", locals: {
      image_path: "design/tele_cat_device.png",
      title: "TELE",
      description: "Реле времени и контроля из Австрии",
      link: categories_tele_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/comat-releco_cat_device.png",
      title: "COMAT-RELECO",
      description: "Промышленные промежуточные реле",
      link: categories_comat_releco_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/emko_cat_device.png",
      title: "EMKO",
      description: "Tемпературные датчики и и контроллеры",
      link: categories_emko_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/benedict_cat_device.png",
      title: "BENEDICT",
      description: "Контакторы, пускатели, защита",
      link: categories_benedict_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/citel_cat_device.png",
      title: "CITEL",
      description: "Устройства молниезащиты",
      link: categories_citel_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/graesslin_cat_device.png",
      title: "GRAESSLIN",
      description: "Tаймеры и фотореле. Сделано в Германии",
      link: categories_graesslin_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/sonder_cat_device.png",
      title: "SONDER",
      description: "Термостаты",
      link: categories_sonder_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/relequick_cat_device.png",
      title: "RELEQUICK",
      description: "Интерфейсные реле",
      link: categories_relequick_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/cbi_cat_device.png",
      title: "CBI ELECTRIC",
      description: "Профессиональные автоматические выключатели",
      link: categories_cbi_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/poligonspb_cat_device.png",
      title: 'НПФ "ПОЛИГОН"',
      description: "Производитель модульных устройств автоматики и защиты из Санкт-Петербурга",
      link: categories_poligonspb_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/huber-suhner_cat_device.png",
      title: 'HUBER+SUHNER',
      description: "ВЧ-разъемы, оптические компоненты",
      link: categories_huber_suhner_path,
      tag_class: "small3"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/tehnoplast_cat_device.png",
      title: 'TEHNOPLAST',
      description: "Электротехнические шкафы",
      link: categories_tehnoplast_path,
      tag_class: "small3"} %>

  </section>

</section>
