<style>
    h2 {
        font-family: 'Marck Script', cursive;
        font-size: 30px;
    }
</style>
<br>
<% subCategories = Category.where(parent: params[:id]) %>
<h2><%= Category.find(params[:id]).title %></h2>
<br>
<br>
<% subCategories.each do |sc| %>
    <p><%= link_to sc.title, sc %></p>
<% end %>
<br>
<br>
<% if (!Category.find(params[:id]).description.nil?) %>
    <div><%= Category.find(params[:id]).description.html_safe %></div>
<% end %>
<br>
<br>
<%= link_to 'К списку категорий', categories_path %>

<% if !@products.empty? %>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Название</th>
        <th>Краткое описание</th>
        <th>Наличие</th>
        <th>Стоимость</th>
      </tr>
      </thead>
      <% @products.each do |product_array| %>
          <tr>
            <td><%= link_to product_array[0].title, product_array[0] %></td>
            <td><%= product_array[0].description %></td>
            <td></td>
            <td><%= product_array[1] %> руб.</td>
          </tr>
      <% end %>
    </table>
<% end %>

