<h2><%= @recentCategory.title %></h2>

<ol class="breadcrumb">
  <li><%= link_to 'Каталог', categories_path %></li>
  <% @parents_array.reverse_each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ol>

<% if @subCategories.empty? %>
  <%= @recentCategory.description.html_safe if (!@recentCategory.description.nil?) %>
<% else %>
  <div class="row">

    <div class="col-md-3 categories-left"  >
      <ul class="nav nav-pills nav-stacked categories-navigation">
        <% @subCategories.each do |sc| %>
            <li><%= link_to sc.title, sc %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-9 categories-right" >
      <%= @recentCategory.description
                         .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
                         .gsub('src="/images', 'src="http://www.poligon.info/images')
                         .html_safe if !@recentCategory.description.nil? %>
    </div>

  </div>
<% end %>

<%= render "shared/products_table" %>
