<h2><%= @recentCategory.title %></h2>
<% array = [] %>
<ol class="breadcrumb">
  <% element = @recentCategory %>
  <% while element.parent != 0 %>
      <% array.push(element) %>
      <% element = Category.find(element.parent) %>
  <% end %>

  <li><%= link_to 'Каталог', categories_path %></li>
  <% array.reverse_each do |item| %>
      <li><%= link_to item.title, item %></li>
  <% end %>
</ol>
<% if @subCategories.empty? %>
    <% if (!@recentCategory.description.nil?) %>
        <div><%= @recentCategory.description.html_safe %></div>
    <% end %>
<% else %>
    <table>
      <tr>
        <td style="width: 35%; vertical-align: top;">
          <ul class="nav nav-pills nav-stacked" style="background-color: rgb(245, 245, 245);
                  margin-right: 20px; padding-top: 10px; padding-bottom: 10px;
                  border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
                  border-top-left-radius: 4px; border-top-right-radius: 4px;">
            <% @subCategories.each do |sc| %>
                <li><%= link_to sc.title, sc %></li>
            <% end %>
          </ul>
        </td>
        <td style="width: 65%; vertical-align: top;">
          <% if (!@recentCategory.description.nil?) %>
              <div><%= @recentCategory.description.html_safe %></div>
          <% end %>
        </td>
      </tr>
    </table>
<% end %>

<% if !@products.empty? %>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Название</th>
        <th>Краткое описание</th>
        <th>Наличие</th>
        <th>Стоимость</th>
      </tr>
      </thead>
      <% @products.each do |product_array| %>
          <tr>
            <td><%= link_to product_array[0].title, product_array[0] %></td>
            <td><%= product_array[0].description %></td>
            <td></td>
            <td><%= product_array[1] %> руб.</td>
          </tr>
      <% end %>
    </table>
<% end %>

