<h2><%= @recentCategory.title %></h2>
<% array = [] %>
<ol class="breadcrumb">
  <% element = @recentCategory %>
  <% while element.parent != 0 %>
      <% array.push(element) %>
      <% element = Category.find(element.parent) %>
  <% end %>

  <li><%= link_to 'Каталог', categories_path %></li>
  <% array.reverse_each do |item| %>
      <li><%= link_to item.title, item %></li>
  <% end %>
</ol>
<% if @subCategories.empty? %>
    <% if (!@recentCategory.description.nil?) %>
        <div><%= @recentCategory.description.html_safe %></div>
    <% end %>
<% else %>
    <table>
      <tr>
        <td style="width: 35%; vertical-align: top;">
          <ul class="nav nav-pills nav-stacked" style="background-color: rgb(245, 245, 245);
                  margin-right: 20px; padding-top: 10px; padding-bottom: 10px;
                  border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
                  border-top-left-radius: 4px; border-top-right-radius: 4px;">
            <% @subCategories.each do |sc| %>
                <li><%= link_to sc.title, sc %></li>
            <% end %>
          </ul>
        </td>
        <td style="width: 65%; vertical-align: top;">
          <% if (!@recentCategory.description.nil?) %>
              <div><%= @recentCategory.description
                       .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
                       .gsub('src="/images', 'src="http://www.poligon.info/images')
                       .html_safe %></div>
          <% end %>
        </td>
      </tr>
    </table>
<% end %>

<% if !@products.empty? %>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Изображение</th>
        <th>Название</th>
        <th>Краткое описание</th>
        <th>Наличие</th>
        <th>Поставка</th>
        <th>Стоимость</th>
      </tr>
      </thead>
      <% @products.each do |product_array| %>
          <tr>
            <% productImage = ImageFile.where('owner_id = ? and file_type_id = 1', product_array[0].id).first %>
            <% if productImage != nil %>
              <% imagePath = productImage.path.gsub!("c:\\poligon_images", "http://www.poligon.info/images").gsub!("\\", "/") %>
              <td><%= link_to image_tag(imagePath, class: "img-responsive center-block", :width => '50px'), imagePath, class: "fancybox" %></td>
          <% else %>
              <td></td>
              <% end %>
            <td><%= link_to product_array[0].title, product_array[0] %></td>
            <td><%= product_array[0].description %></td>
                  <% if !Quantity.find_by(product_id: product_array[0].id).nil? && Quantity.find_by(product_id: product_array[0].id).stock > 0 %>
                    <td style="text-align: center;"><%= image_tag("green.gif") %></td>
                    <td>Есть на складе</td>
                  <% else %>
                      <td style="text-align: center;"><%= image_tag("grey.gif") %></td>
                      <td><%= product_array[0].delivery_time %></td>
                  <% end %>
            <% unless product_array[1] == 0 %>
                <td><%= product_array[1] %> руб.</td>
            <% else %>
                <td style="align-content: center;">Звоните:<br>(812)325-42-20</td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>

