<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Short description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Retail price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Back', products_path %>
