<p id="notice"><%= notice %></p>
<%= render "shared/breadcrumb_search", locals: { product: @product } %>

<% image_path = "" %>
<% product_pdf   = DataFile.where("owner_id = ? and file_type_id = 2", @product.id).first %>
<% if !@productImage.nil? and @productImage.name != '' %>
  <% if @productImage.path[0] != 'c' %>
    <% image_path = @productImage.path.gsub("\\\\Server03\\бд_сайта\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
  <% else %>
    <% image_path = @productImage.path.gsub("c:\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
  <% end %>
<% end %>
<div class="card-block">
  <h1><%= @product.title %></h1>
  <div class="card">
    <div class="row product-card-content">
      <div class="col-md-4 card-gallery">
        <div class="xzoom-container">
          <%= link_to(image_tag('card_zoom.png', class: "zoomik", id: "zoomik", alt: ''), "#gallery", class: "zoom-ik") %>
          <div class="main-photo">
            <%= image_tag(image_path, class: "xzoom5", id: "xzoom-magnific", original: image_path, alt: '', style: "width: 271.984px;") %>
          </div>
          <div id="gallery" class="xzoom-thumbs">
            <% if !@productImage.nil? %>
              <%= link_to(image_tag(image_path, class: "xzoom-gallery xactive", width: '40', xpreview: image_path, title: '', alt: ''), image_path) %>
            <% else %>
              <%= image_tag("nophoto.png", class: "img-responsive center-block product-image-container") %>
            <% end %>
          </div>
          <div class="card-logo">
            <a href="<%= category_path(@product.vendor.code) %>" target="_blank">
              <%= image_tag(@product.vendor.logo, alt: '') %>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 card-info">
        <div class="card-top">
          <div class="card-duo">
            <div class="row">
              <div class="col-sm-7 card-duo-left">
                <div class="product-price">
                  Цена:
                  <!--<span class="product-old-price">-->
                    <!--<%# if @retail_price == 0 %>-->
                      <!--<span class="price">Звоните:<br>(812)325-42-20</span>-->
                    <!--<%# else %>-->
                      <!--<span class="price"><%#= @retail_price.round(2).to_s + ' руб.' %></span>-->
                    <!--<%# end %>-->
                  <!--</span>-->
                  <span class="product-new-price">
                  <% if @retail_price == 0 %>
                    <span class="price">Звоните:<br>(812)325-42-20</span>
                  <% else %>
                    <span class="price"><%= @retail_price.round(2).to_s + ' руб.' %></span>
                  <% end %>
                </span>
                </div>
                <div class="product-list">
                  <ul>
                    <li>
                      Наличие:
                      <% if !Quantity.find_by(product_id: @product.id).nil? && Quantity.find_by(product_id: @product.id).stock > 0 %>
                        <%= Quantity.find_by(product_id: @product.id).stock.to_s + ' шт.' %>
                      <% else %>
                        <i>Под заказ.</i>
                        <!--<i>Срок поставки: <%#= @product.delivery_time %></i>-->
                      <% end %>
                    </li>
                    <li>Страна бренда:
                      <%= @product.vendor.address %>
                    </li>
                    <li>Отгрузка кратно:  1шт.</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 card-duo-right">
                <div class="product-incart">
                  <%= form_tag(line_items_path, method: "post",  remote: true) do %>
                    <%= hidden_field_tag(:product_id, @product.id) %>
                    <%= hidden_field_tag(:price, @retail_price) %>
                    <%= hidden_field_tag(:minimum, 1) %>
                    <button type="submit" data-toggle="modal" data-target="#quick-cart">В корзину</button>
                    <div class="card-quan">
                      <%= number_field_tag(:quantity, 1, class: "product-quantity",  step: 1, min: 1, pattern: "^[0-9]+$") %> <span>шт.</span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text"><%= @product.description %></div>
          <div class="row product-options">
            <div class="col-xs-6 col-sm-4 product-option product-quick-delivery">
              <a href="#">Быстрая доставка</a>
              <div class="info"><span></span>
                <div class="info-text">
                  <p>Доставляем Деловыми линиями Major, СДЭК, Пони Экспресс. Возможна доставка до пункта выдачи. Отправка ежедневно.</p>
                  <a href="#">Более подробная инфомация</a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 product-option product-condition-payment">
              <a href="#">Условия оплаты</a>
              <div class="info"><span></span>
                <div class="info-text"><p>Тут другая подсказка</p></div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 product-option product-advant">
              <a href="#tab-advant" class="to-advant">Узнать о преимуществах</a>
            </div>
          </div>
        </div>
        <div class="card-middle">
          <div class="row">
            <div class="col-sm-6 card-order-info">
              <h4>Информация для заказа</h4>
              <p class="product-name">Наименование: <%= @product.title %></p>
              <p class="product-art">Артикул: <span><%= @product.article ? @product.article : '-' %></span></p>
              <p class="product-manuf">Производитель: <span><a href="<%= category_path(@product.vendor.code) %>"><%= @product.vendor.title %></a></span></p>
            </div>
            <div class="col-sm-6 card-order-docs">
              <div class="doc-button">
                <% if product_pdf != nil and product_pdf.path != "c:\\poligon_datasheets\\" and product_pdf.path != "\\\\Server03\\бд_сайта\\poligon_datasheets\\" %>
                  <%= link_to( "<span></span>Скачать документацию".html_safe, content_download_pdf_path(product_id: @product.id)) %>
                <% end %>
              </div>
              <div class="distr-button"><a href="<%= company_program_path %>" target="_blank"><span></span>Официальный дистрибьютор <%= @product.vendor.title %></a></div>
            </div>
          </div>
        </div>
        <div class="card-bottom">
          <div class="card-request">
            <div class="row">
              <div class="col-sm-9 card-request-text">Запросить проектные условия:
                <%= number_field_tag(:quantity, 1, class: "quantity-product",  step: 1, min: 1, pattern: "^[0-9]+$") %> <span> шт.</span>
              </div>
              <div class="col-sm-3 card-request-button">
                <%= button_tag "Запросить", data: { toggle: "modal", target: "#special" } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-description">
      <ul class="tabs card-tabs">
        <% if
           (!@product.full_description.nil? and !@product.full_description.empty?) or
           (!@sortedArray.nil? and !@sortedArray.empty?) or
           (!@functions.nil? and !@functions.empty?) or
           (!(prop_image_path_for(@product, 'plug', 3 )).nil?) or
           (!(prop_image_path_for(@product, 'dim', nil)).nil?)
        %>
          <li><p>Общая информация</p></li>
        <% end %>
        <% if !product_pdf.nil? and product_pdf.path != "c:\\poligon_datasheets\\" and product_pdf.path != "\\\\Server03\\бд_сайта\\poligon_datasheets\\" %>
          <li><p><span class="card-pdf">pdf</span>и сертификаты</p></li>
        <% end %>
        <li id="tab-advant"><p>Преимущества</p></li>
        <li><p>Цены и наличие</p></li>
        <li><a href="#fb-form">Задать вопрос о товаре</a></li>
      </ul>
      <div class="card-box">
        <div class="tab-content">
          <% if user_signed_in? %>
            <div class="tab-pane fade" id="product_data_tab">
              <%= render "shared/product_data_tab" %>
            </div>
            <div class="tab-pane fade in active" id="general_information_tab">
              <%= render "shared/product_full_description_tab" %>
              <%= render "shared/product_properties_tab" %>
              <%= render "shared/product_functions_tab" %>
              <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'plug', count: 3 } %>
              <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'dim', count: nil } %>
            </div>
          <% else %>
            <div class="tab-pane fade in active" id="general_information_tab">
              <%= render "shared/product_full_description_tab" %>
              <%= render "shared/product_properties_tab" %>
              <%= render "shared/product_functions_tab" %>
              <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'plug', count: 3 } %>
              <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'dim', count: nil } %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-box" style="display: none;">
        <div class="doc-button">
          <% if !product_pdf.nil? and product_pdf.path != "c:\\poligon_datasheets\\" and product_pdf.path != "\\\\Server03\\бд_сайта\\poligon_datasheets\\" %>
            <%= link_to( "<span></span>Скачать документацию".html_safe, content_download_pdf_path(product_id: @product.id)) %>
          <% end %>
        </div>
      </div>
      <div class="card-box" id="advant" style="display: none;">
        тут преимущества
      </div>
      <div class="card-box" style="display: none;">
        <div class="product-price">
          Цена:
          <!--<span class="product-old-price">-->
          <!--<%# if @retail_price == 0 %>-->
          <!--<span class="price">Звоните:<br>(812)325-42-20</span>-->
          <!--<%# else %>-->
          <!--<span class="price"><%#= @retail_price.round(2).to_s + ' руб.' %></span>-->
          <!--<%# end %>-->
          <!--</span>-->
          <span class="product-new-price">
                  <% if @retail_price == 0 %>
                    <span class="price">Звоните:<br>(812)325-42-20</span>
                  <% else %>
                    <span class="price"><%= @retail_price.round(2).to_s + ' руб.' %></span>
                  <% end %>
                </span>
        </div>
        <div class="product-list">
          <ul>
            <li>
              Наличие:
              <% if !Quantity.find_by(product_id: @product.id).nil? && Quantity.find_by(product_id: @product.id).stock > 0 %>
                <%= Quantity.find_by(product_id: @product.id).stock.to_s + ' шт.' %>
              <% else %>
                <i>Под заказ.</i>
                <!--<i>Срок поставки: <%#= @product.delivery_time %></i>-->
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/mainpage/modal_special", locals: {product: @product} %>