<p id="notice"><%= notice %></p>
<%= render "shared/breadcrumb_search", locals: { product: @product } %>

<% image_path = "" %>
<% vendorFolder = Vendor.where('id = ?', @product.vendor_id).first %>

<% if !@product.image_name_1.nil? and @product.image_name_1 != '' %>
  <% image_path = "/images/catalog/" + (vendorFolder.folder_name).to_s + "/devices/"+ (@product.image_name_1).to_s %>
<% else %>
  <% image_path = "nophoto.png" %>
<% end %>

<% if !@product.image_name_2.nil? and @product.image_name_2 != '' %>
  <% image_path2 = "/images/catalog/" + (vendorFolder.folder_name).to_s + "/devices/"+ (@product.image_name_2).to_s %>
<% else %>
  <% image_path2 = "nophoto.png" %>
<% end %>

<% if !@product.image_name_3.nil? and @product.image_name_3 != '' %>
  <% image_path3 = "/images/catalog/" + (vendorFolder.folder_name).to_s + "/devices/"+ (@product.image_name_3).to_s %>
<% else %>
  <% image_path3 = "nophoto.png" %>
<% end %>

<% if !@product.image_name_4.nil? and @product.image_name_4 != '' %>
  <% image_path4 = "/images/catalog/" + (vendorFolder.folder_name).to_s + "/devices/"+ (@product.image_name_4).to_s %>
<% else %>
  <% image_path4 = "nophoto.png" %>
<% end %>

<% if !@product.image_name_5.nil? and @product.image_name_5 != '' %>
  <% image_path5 = "/images/catalog/" + (vendorFolder.folder_name).to_s + "/devices/"+ (@product.image_name_5).to_s %>
<% else %>
  <% image_path5 = "nophoto.png" %>
<% end %>


<div class="card-block">
  <% unless @product.article.nil? || @product.article.blank? %>
    <% title = @productKind.title + " " + @product.title + "(" + @product.article + ")" %>
    <h1>
      <span style="color: black;" ><%= @productKind.title %></span>
      <b>
        <span style="color: red;" ><%= @product.title + " (" + @product.article + ")" %></span>
      </b>
    </h1>
  <% else %>
    <% title = @productKind.title + " " + @product.title %>
    <h4><b><%= @productKind.title %></b> <span style="color: red;" ><%= @product.title %></span></h4>
  <% end %>
  <% generate_meta_from title %>
  <div class="card">
    <div class="row product-card-content">
      <div class="col-md-4 card-gallery">
        <% if (image_path == "nophoto.png") &&
              (image_path2 == "nophoto.png") &&
              (image_path3 == "nophoto.png") &&
              (image_path4 == "nophoto.png") &&
              (image_path5 == "nophoto.png") %>
          <div class="product-photo">
            <div class="product-photo-img">
              <%= image_tag("nophoto.png", class: "xzoom52", original: "nophoto.png", alt: '', style: "width: 271.984px;") %>
            </div>
          </div>
        <% else %>
          <div class="xzoom-container">
            <% link_to(image_tag('card_zoom.png', class: "zoomik", id: "zoomik", alt: ''), "#gallery", class: "zoom-ik") %>
            
            <div class="main-photo">
            <% user_agent = UserAgent.parse(request.user_agent) %>
            <% xzoom_class = user_agent.browser == "Internet Explorer" ? "" : "xzoom5" %>
            
            <% if !@product.image_name_1.nil? and @product.image_name_1 != '' %>
              <%= image_tag(image_path, class: xzoom_class, id: "xzoom-magnific", original: image_path, alt: '', style: "width: 271.984px;") %>
              <% else %>
              <%= image_tag("nophoto.png", class: xzoom_class, id: "xzoom-magnific", original: "nophoto.png", alt: '', style: "width: 271.984px;") %>
              <% end %>
            </div>

             <div id="gallery" class="xzoom-thumbs">
              <% if !@product.image_name_1.nil? and @product.image_name_1 != '' %>
                <%= link_to(image_tag(image_path, class: "xzoom-gallery xactive", width: '40', xpreview: image_path, title: '', alt: ''), image_path) %>
              <% else %>
                <%= image_tag("nophoto.png", class: "xzoom-gallery xactive", width: '40', xpreview: image_path, title: '', alt: '') %>
              <% end %>

              <% if !@product.image_name_2.nil? and @product.image_name_2 != '' %>
                <%= link_to(image_tag(image_path2, class: "xzoom-gallery", width: '40', xpreview: image_path2, title: '', alt: ''), image_path2) %>
              <% end %>

              <% if !@product.image_name_3.nil? and @product.image_name_3 != '' %>
                <%= link_to(image_tag(image_path3, class: "xzoom-gallery", width: '40', xpreview: image_path3, title: '', alt: ''), image_path3) %>
              <% end %>

              <% if !@product.image_name_4.nil? and @product.image_name_4 != '' %>
                <%= link_to(image_tag(image_path4, class: "xzoom-gallery", width: '40', xpreview: image_path4, title: '', alt: ''), image_path4) %>
              <% end %>

              <% if !@product.image_name_5.nil? and @product.image_name_5 != '' %>
                <%= link_to(image_tag(image_path5, class: "xzoom-gallery", width: '40', xpreview: image_path5, title: '', alt: ''), image_path5) %>
              <% end %>
            </div>

            
            <div class="card-logo">
              <a href="<%= category_path(@product.vendor.code) %>" target="_blank"> <!-- а если nil? -->
                <%= image_tag("/brands/" + @product.vendor.logo, alt: '') %>
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-8 card-info">
        <div class="card-top">
          <div class="card-duo">
            <div class="row">
              <div class="col-sm-7 card-duo-left">
                <div class="product-price">
                  Цена:
                  <% if @product.special_price.zero? && @product.base_price.zero? %>
                    <span class="price">Звоните:<br>(812)325-42-20</span>
                  <% elsif !@product.special_price.zero? && !@product.base_price.zero? %>
                    
                    <span class="price price-red bold">
                      <%= calculate_price(@product, @product.special_price).round(2).to_s + ' руб.' %>
                      </span>
                    <span class="price line-through">
                      <%= calculate_price(@product, @product.base_price).round(2).to_s + ' руб.' %>
                    </span>
                  <% else %>
                    <span class="price">
                      <%= calculate_price(@product, @product.base_price).round(2).to_s + ' руб.' %>
                    </span>
                  <% end %>
                  
                </div>
                <div class="product-list">
                  <ul>
                    
                      Наличие:

                      <li class="product-presence" style="display: inline-block; margin-top: 0px; font-weight: 600; font-size: 14px;">
                      <% if signed_in? %>

                        <% if @product.stock && @product.stock > 0 %>
                          <span><%= image_tag("green.gif") %></span>
                          <span class="in_stock">В наличии</span>
                          <span><%= @product.stock.to_s + ' шт.' %></span>
                        <% else %>
                          <i>Под заказ.</i>
                          <i>Срок поставки: <%= @product.delivery_time %></i>
                        <% end %>

                      <% else %>

                        <% if !@product.stock.nil? || !@product.reserved.nil? || !@product.remove_stock.nil? %>
                          <span><%= image_tag("green.gif") %></span>
                          <span class="in_stock">В наличии</span>
                        <% elsif !@product.ordered_on_stock.nil? %>
                          <span class="ordered_on_stock">Ожидается</span>
                        <% else %>
                          <i>Под заказ.</i>
                          <i>Срок поставки: <%= @product.delivery_time %></i>
                        <% end %>

                      <% end %>
                    

                    </li>
                    <li>Страна бренда:
                      <%= @product.vendor.address %>
                    </li>
                    <li>Отгрузка кратно:  1шт.</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 card-duo-right">
                <div class="product-incart">
                  <%= form_tag(line_items_path, method: "post",  remote: true) do %>
                    <%= hidden_field_tag(:product_id, @product.id) %>
                    <%= hidden_field_tag(:price, @retail_price) %>
                    <%= hidden_field_tag(:minimum, 1) %>
                    <button type="submit" data-toggle="modal" data-target="#quick-cart">В корзину</button>
                    <div class="card-quan">
                      <%= number_field_tag(:quantity, 1, class: "product-quantity",  step: 1, min: 1, pattern: "^[0-9]+$") %> <span>шт.</span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text"><%= @product.description %></div>
          <div class="row product-options">
            <div class="col-xs-6 col-sm-4 product-option product-quick-delivery info">
              <a href="#">Быстрая доставка</a>
              <div class="info"><span></span>
                <div class="info-text">
                  <p><%= @fastDelivery.text_value.html_safe %></p>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 product-option product-condition-payment info">
              <a href="#">Условия оплаты</a>
              <div class="info"><span></span>
                <div class="info-text"><p><%= @deliveryInfo.text_value.html_safe %></p></div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 product-option product-advant">
              <a href="#tab-advant" class="to-advant">Узнать о преимуществах</a>
            </div>
          </div>
        </div>
        <div class="card-middle">
          <div class="row">
            <div class="col-sm-6 card-order-info">
              <h4>Информация для заказа</h4>
              <p class="product-name">Наименование: <%= @product.title %></p>
              <p class="product-art">Артикул: <span><%= @product.article ? @product.article : '‒' %></span></p>
              <p class="product-manuf">Производитель:
                <span>
                  <% unless @product&.vendor&.code.nil? %>
                    <a href="<%= category_path(@product&.vendor&.code) %>">
                      <%= @product.vendor&.title %>
                    </a>
                  <% else %>
                    <%= @product.vendor&.title %>
                  <% end %>
                </span>
              </p>
            </div>
            <div class="col-sm-6 card-order-docs">
              <div class="doc-button">
                <% if @product.pdf_name != nil and @product.pdf_name != "" %>
                  <% product_pdf = @product.pdf_name %>
                  <% vendor_folder_name = (Vendor.find(@product.vendor_id)).folder_name %>
                  <% pdf_path = "http://176.53.160.235/PDF/" + vendor_folder_name + "/" + product_pdf %>
                  <a href="<%= pdf_path %>"><span></span>Скачать документацию</a>
                <% end %>
              </div>
              <div class="distr-button"><a href="<%= company_program_path %>" target="_blank"><span></span>Официальный дистрибьютор <%= @product.vendor.title %></a></div>
            </div>
          </div>
        </div>
        <div class="card-bottom">
          <div class="card-request">
            <div class="row">
              <div class="col-sm-9 card-request-text">Запросить проектные условия:
                <%= number_field_tag(:quantity, 1, class: "quantity-product",  step: 1, min: 1, pattern: "^[0-9]+$") %> <span> шт.</span>
              </div>
              <div class="col-sm-3 card-request-button">
                <%= button_tag "Запросить", data: { toggle: "modal", target: "#special" } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-description">
      <ul class="tabs card-tabs">
        <% if
           (!@product.full_description.nil? and !@product.full_description.empty?) or
           (!@sortedArray.nil? and !@sortedArray.empty?) or
           (!@functions.nil? and !@functions.empty?) or
           (!(prop_image_path_for(@product, 'plug', 3 )).nil?) or
           (!(prop_image_path_for(@product, 'dim', nil)).nil?)
        %>
          <li><p>Общая информация</p></li>
        <% end %>
        <li><p><span class="card-pdf">pdf</span>и сертификаты</p></li>
        <li id="tab-advant"><p>Преимущества</p></li>
        <li><a href="#fb-form">Задать вопрос о товаре</a></li>
      </ul>
      <% if
         (!@product.full_description.nil? and !@product.full_description.empty?) or
             (!@sortedArray.nil? and !@sortedArray.empty?) or
             (!@functions.nil? and !@functions.empty?) or
             (!(prop_image_path_for(@product, 'plug', 3 )).nil?) or
             (!(prop_image_path_for(@product, 'dim', nil)).nil?)
      %>
        <div class="card-box">
          <div class="tab-content">
            <% if @product.full_description.nil? && @functions.empty? %>
              <% if @sortedArray.empty? || (@sortedArray.map{|a| a[2]}.uniq.size == 1 && @sortedArray.map{|a| a[2]}.uniq[0] == "") %>

                  <% @infoDefaultText = Setting.find_by(title: "infoDefaultText") %>
                  
                  <p class="content-text">
                    <%= @infoDefaultText.text_value.html_safe %>
                  </p>

              <% end %>
            <% end %>
            <% if user_signed_in? %>
              <div class="tab-pane fade" id="product_data_tab">
                <%= render "shared/product_data_tab" %>
              </div>
              <div class="tab-pane fade in active" id="general_information_tab">
                <%= render "shared/product_full_description_tab" %>
                <%= render "shared/product_properties_tab" %>
                <%= render "shared/product_functions_tab" %>
                <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'plug', count: 3 } %>
                <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'dim', count: nil } %>
              </div>
            <% else %>
              <div class="tab-pane fade in active" id="general_information_tab">
                <%= render "shared/product_full_description_tab" %>
                <%= render "shared/product_properties_tab" %>
                <%= render "shared/product_functions_tab" %>
                <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'plug', count: 3 } %>
                <%= render "shared/product_plugs_or_dimensions_tab", locals: { product: @product, pic_type: 'dim', count: nil } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

        <div class="card-box" style="display: none;">
          <% unless !@product.pdf_name.nil? and @product.pdf_name != "" %>
            <% @pdfDefaultText = Setting.find_by(title: "pdfDefaultText") %>
            <p style="margin-bottom: 15px;"><%= @pdfDefaultText.text_value.html_safe %></p>
          <% end %>
          <div class="doc-button">
            <% if !@product.pdf_name.nil? and @product.pdf_name != "" %>
              <% product_pdf = @product.pdf_name %>
              <% vendor_folder_name = @product.vendor.folder_name %>
              <% pdf_path = "/PDF/" + vendor_folder_name + "/" + product_pdf %>
              <a href="<%= pdf_path %>"><span></span>Скачать документацию</a>
              
            <% end %>
          </div>
          <div class="doc-button">
            <%= render "shared/category_catalogs_links", locals: {vendor_id: @product.vendor.code}  %>
          </div>
        </div>
      <div class="card-box" id="advant" style="display: none;">
        <% if @product.advantages.blank? && @product.advantage.blank? && @product.vendor.advantages.blank? %>
          <% @advantagesDefaultText = Setting.find_by(title: "advantagesDefaultText") %>
          <p style="margin-bottom: 15px;"><%= @advantagesDefaultText.text_value.html_safe %></p>
        <% end %>

        <% unless @product.advantages.blank? %>
          <%= @product&.advantages&.html_safe %>
          <br>
        <% end %>

        <% unless @product.advantage.blank? %>
          <%= @product.advantage&.content&.html_safe %>
          <br>
          <hr>
        <% end %>

        <% unless @product.vendor.advantages.blank? %>
          <%= @product&.vendor&.advantages&.html_safe %>
        <% end %>

      </div>

    </div>
  </div>
</div>

<%= render "shared/mainpage/modal_special", locals: {product: @product} %>