<% title = "Товары на складе" %>
<% generate_meta_from title %>

<div class="category">
  <h1><%= title %></h1>

  <%= render "shared/custom_search" %>
  <%= render "shared/xls_download" %>

  <%= render "shared/products_table" %>

  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @products %>
    </div>
    <%= will_paginate @products %>
  </div>
</div>