<p id="notice"><%= notice %></p>
<h1><%= @review.title %></h1>
<p>
  <%= @review.content.html_safe
      .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
      .gsub('src="/js', 'src="http://www.poligon.info/js')
      .gsub('src="/images', 'src="http://www.poligon.info/images')
      .html_safe %>
</p>

<p>
  <b>Дата создания:</b>
  <%= @review.created_at %>
</p>

<%= link_to 'К списку статей', reviews_path %>
<br>
<br>
<hr>
<br>

