<h1>Добавление нового слайда</h1>

<%= form_for @item, url: admin_slider_items_path(@item), :html => {:multipart => true} do |f| %>

  <p>
    <%= f.label "Ссылка" %>
    <%= f.text_field :url, class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Превью" %>
    <%= f.file_field :image, class: "inputfile inputfile-1", required: true %>
    <label for="slider_item_image"><span>+ Прикрепить файл</span></label>
  </p>

  <%= f.submit "Добавить слайд" %>
<% end %>
