<h1>Добавление нового буклета</h1>

<%= form_for @booklet, url: admin_booklets_path(@booklet), :html => {:multipart => true} do |f| %>
  
  <p>
    <%= f.label "Производитель" %><br>
    <%= f.select :vendor_id, Vendor.pluck(:title, :id), class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Название" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Описание" %>
    <%= f.text_area :description, class: "form-control", required: true %>
  </p>

  <p style="padding: 8px 0px;">
    <%= f.check_box :print_version %><%= f.label "Печатная версия" %>
  </p>

  <p style="padding: 8px 0px;">
    <%= f.check_box :vendor_show %><%= f.label "Показывать в КК" %>
  </p>

  <p>
    <%= f.label "Цвет блока" %>
    <%= f.text_field :block_color, class: "form-control minicolors", required: true %>
  </p>

  <p>
    <%= f.label "Цвет рамки" %>
    <%= f.text_field :border_color, class: "form-control minicolorsBg", required: true %>
  </p>

  <p>
    <%= f.label "Размер" %><br>
    <%= f.select :block_size, [['big', '0'],['small', '1']], class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Позиция" %><br>
    <%= f.number_field :position, class: "", required: true %>
  </p>

  <p>
    <%= f.label "Превью" %>
    <%= f.file_field :image, class: "inputfile inputfile-1", required: true %>
    <label for="booklet_image"><span>+ Прикрепить файл</span></label>
  </p>

  <p>
    <%= f.label "Файл каталога" %><br>
    <%= f.file_field :file, class: "inputfile inputfile-1", required: true %>
    <label for="booklet_file"><span>+ Прикрепить файл</span></label>
  </p>

  <%= f.submit "Добавить каталог" %>
<% end %>
