<%= form_for @booklet, url: admin_booklets_path(@booklet), :html => {:multipart => true} do |f| %>
  
  <p>
    <%= f.label "Производитель" %>
    <%= f.select :vendor_id, Vendor.pluck(:title, :id), required: true %>
  </p>

  <p>
    <%= f.label "Название" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Описание" %>
    <%= f.text_area :description, class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Печатная версия" %>
    <%= f.check_box :print_version %>
  </p>

  <p>
    <%= f.label "Показывать в КК" %>
    <%= f.check_box :vendor_show %>
  </p>

  <p>
    <%= f.label "Размер" %>
    <%= f.select :block_size, ['option1', 'option2'], class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Позиция" %>
    <%= f.number_field :position, class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Превью" %>
    <%= f.file_field :image, accept: "image/jpeg, image/jpg, image/gif, image/png", class: "form-control", required: true %>
  </p>

  <p>
    <%= f.label "Файл каталога" %>
    <%= f.file_field :file, class: "form-control", required: true %>
  </p>

  <%= f.submit "Добавить каталог" %>
<% end %>
