<p id="notice"><%= notice %></p>
<br>
<h1><%= @addition.title %></h1>
<p>
  <%= @addition.content.html_safe
      .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
      .gsub('src="/js', 'src="http://www.poligon.info/js')
      .gsub('src="/images', 'src="http://www.poligon.info/images')
      .html_safe %>
</p>

<p>
  <b>Дата создания:</b>
  <%= @addition.created_at %>
</p>

<%= link_to 'К списку дополнений', addition_path %>
<br>
<br>
<hr>
<br>

