<% title = "Скачать/заказать каталоги" %>
<% generate_meta_from title %>

<h1 align="center" class="normal"><%= title %></h1>

Быстрый переход: <% @vendors.each do |vendor| %> <a href="#<%= vendor.title %>" style="text-decoration: underline;"><%= vendor.title %></a><% end %>

<div style="margin-top: 20px">
  <% @vendors.each do |vendor| %>
  <div style="">
    <h2 id="<%= vendor.title %>"><%= vendor.title %></h2>
    
    <div class="booklet-list" style="display: flex;">

      <% vendor.booklets.each do |booklet| %>
        <% style = booklet.block_size == 0 ? "width: 25%" : "width: 50%" %>
        <div style="<%= style %>" class="booklet-wrapper">
          <div style="margin-right: 5px; border:1px solid black;" class="booklet-block">
            <h3><%= booklet.title %></h3>
            <%= image_tag(booklet&.image&.url) %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
  <% end %>
</div>

<hr>