<%= render("shared/mainpage/modal_cart") %>

<div class="category">
<% title = "Скачать/заказать каталоги" %>
<% generate_meta_from title %>

<h1 align="center" class="normal"><%= title %></h1>

</div>

Быстрый переход: <% @vendors.each do |vendor| %> <a href="#<%= vendor.title %>" style="text-decoration: underline;"><%= vendor.title %></a><% end %>

<%= form_tag({controller: "feedback", action: "catalogs_order"}, class: "captcha-form") do %>

<div style="margin-top: 20px">
  <% @vendors.each do |vendor| %>

  <div class="row" style="padding-bottom: 10px;">
  <div class="col-xs-12">
    <h2 id="<%= vendor.title %>"><%= vendor.title %></h2>
    
    <div class="booklet-list">


      <% vendor.booklets.each do |booklet| %>
        <% style = booklet.block_size == 1 ? "width: 25%" : "width: 50%" %>
        <% border_color = booklet.border_color || "000000" %>
        <% bcolor = "##{border_color}" %>
        <% background_color = booklet.block_color || "ffffff" %>
        <% bgcolor = "##{background_color}" %>

        <% if booklet.block_size == 1 %>
            <div style="<%= style %>" class="booklet-wrapper">
              <div style="margin-right: 5px; border:1px solid <%= bcolor %>; background: <%= bgcolor %>;" class="booklet-block">
                  <div class="booklet-top" style="width: 100%; display: flex; justify-content: center;">
                    <div style="width: 45%; display: block;"><%= image_tag(booklet&.image&.url) %></div>
                    <div style="width: 65%; display: block; padding: 6px 4px 2px 8px;" class="booklet-title"><b><%= booklet.title %></b></div>
                  </div>
                  <div class="booklet-bottom" style="height: 190px; padding-top: 5px; padding: 11px; font-size: 13px; line-height: 16px; display: flex;
    flex-direction: column;
    justify-content: space-between;">
                    <%= booklet.description %>
                    <div class="button-send">
                      <a class="download-btn" href="<%= booklet.file.url %>">Скачать</a>
                       <div style="margin-top: 10px; justify-content: center; display: flex;">
                        <%= check_box_tag "booklet_ids[]", booklet.id, false , class: "booklet-checkbox", id: "booklet_#{booklet.id}" %>
                        <%= label_tag "Заказать доставку" %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        <% else %>

          <div style="<%= style %>" class="booklet-wrapper">
            <div style="margin-right: 5px; border:1px solid <%= bcolor %>; background: <%= bgcolor %>;" class="booklet-block">
              <div class="booklet-top" style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 50%; display: block;"><%= image_tag(booklet&.image&.url) %></div>
                <div style="width: 50%; display: block; padding: 6px 4px 2px 8px;" class="booklet-title">
                  <b><%= booklet.title %></b><br>
                  <div class="booklet-bottom" style="height: 251px; padding-top: 5px; padding: 11px; font-size: 13px; line-height: 16px; display: flex;
    flex-direction: column;
    justify-content: space-between;">
                    <%= booklet.description %>
                    <div class="button-send">
                      <a class="download-btn" href="<%= booklet.file.url %>">Скачать</a>
                      <div style="margin-top: 10px; justify-content: center; display: flex;">
                        <%= check_box_tag "booklet_ids[]", booklet.id, false , class: "booklet-checkbox" %>
                        <%= label_tag "Заказать доставку" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      <% end %>

    <div id="request-booklets" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button class="x" id="close-booklets" type="button" data-dismiss="modal" aria-hidden="true"></button>

      <div class="modal-body">
        <div class="form-block">
          <div class="form-content">
            <h2>Заполните форму для доставки</h2>
            <br>

            <p style="margin-bottom: 10px; color:red;">Выбрано <span id="selected-count">0</span> каталогов</p>

            <div class="form-input req">
              <%= text_field_tag :name, "", class: "modal-input", placeholder: "Имя" %>
            </div>

            <div class="form-input req">
              <%= text_field_tag :last_name,"", class: "modal-input", placeholder: "Фамилия" %>
            </div>

            <div class="form-input req">
              <%= text_field_tag :company,"", class: "modal-input", placeholder: "Компания" %>
            </div>

            <div class="form-input req">
              <%= text_area_tag :address, "", class: "modal-input address-input", placeholder: "Адрес" %>
            </div>

            <div class="form-input req">
              <%= text_field_tag :phone,"", class: "modal-input", placeholder: "Телефон" %>
            </div>

            <div class="form-input req">
              <%= text_field_tag :email,"", class: "modal-input", placeholder: "E-mail" %>
            </div>

            <div class="form-input">
              <%= text_area_tag :comment,"", class: "modal-input address-input", placeholder: "Комментарий" %>
            </div>

            <div class="captcha">
              <%= recaptcha_tags callback: 'submitRecaptcha' %>
            </div>

            <div class="button-send"><%= button_tag "Заказать доставку" %></div>
            <div class="expl"><span>*</span> Поля обязательные для заполнения</div>

            <div class="modal-agree">Нажимая кнопку «Отправить» я даю согласие на <a href="<%= company_personal_path %>" target="_blank">обработку персональных данных.</a></div>
           

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
      <% render "shared/feedback/modal_request_booklets" %>

     
      
    </div>
    </div>
      </div>
      <% end %>

       <a data-toggle="modal" data-target="#request-booklets" class="request-booklets-modal"><span>Заказать доставку</span></a>

    </div>
  <% end %>

</div>

<hr>