<%= render("shared/mainpage/modal_cart") %>

<% title = "Скачать/заказать каталоги" %>
<% generate_meta_from title %>

<h1 align="center" class="normal"><%= title %></h1>

Быстрый переход: <% @vendors.each do |vendor| %> <a href="#<%= vendor.title %>" style="text-decoration: underline;"><%= vendor.title %></a><% end %>

<%= form_tag({controller: "feedback", action: "catalogs_order"}, class: "captcha-form") do %>

<div style="margin-top: 20px">
  <% @vendors.each do |vendor| %>

  <div class="row" style="padding-bottom: 10px;">
  <div class="col-xs-12">
    <h2 id="<%= vendor.title %>"><%= vendor.title %></h2>
    
    <div class="booklet-list">


      <% vendor.booklets.each do |booklet| %>
        <% style = booklet.block_size == 1 ? "width: 25%" : "width: 50%" %>

        <% if booklet.block_size == 1 %>
            <div style="<%= style %>" class="booklet-wrapper">
              <div style="margin-right: 5px; border:1px solid black;" class="booklet-block">
                  <div class="booklet-top" style="width: 100%; display: flex; justify-content: center;">
                    <div style="width: 45%; display: block;"><%= image_tag(booklet&.image&.url) %></div>
                    <div style="width: 65%; display: block; padding: 6px 4px 2px 8px;" class="booklet-title"><b><%= booklet.title %></b></div>
                  </div>
                  <div class="booklet-bottom" style="height: 190px; padding-top: 5px; padding: 11px; font-size: 13px; line-height: 16px; display: flex;
    flex-direction: column;
    justify-content: space-between;">
                    <%= booklet.description %>
                    <div class="button-send">
                      <a class="download-btn" href="<%= booklet.file.url %>">Скачать</a>
                       <div style="margin-top: 10px; justify-content: center; display: flex;">
                        <%= check_box_tag "booklet_ids[]", booklet.id, false , class: "booklet-checkbox" %>
                        <%= label_tag "Заказать доставку" %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        <% else %>

          <div style="<%= style %>" class="booklet-wrapper">
            <div style="margin-right: 5px; border:1px solid black;" class="booklet-block">
              <div class="booklet-top" style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 50%; display: block;"><%= image_tag(booklet&.image&.url) %></div>
                <div style="width: 50%; display: block; padding: 6px 4px 2px 8px;" class="booklet-title">
                  <b><%= booklet.title %></b><br>
                  <div class="booklet-bottom" style="height: 251px; padding-top: 5px; padding: 11px; font-size: 13px; line-height: 16px; display: flex;
    flex-direction: column;
    justify-content: space-between;">
                    <%= booklet.description %>
                    <div class="button-send">
                      <a class="download-btn" href="<%= booklet.file.url %>">Скачать</a>
                      <div style="margin-top: 10px; justify-content: center; display: flex;">
                        <%= check_box_tag "booklet_ids[]", booklet.id, false , class: "booklet-checkbox" %>
                        <%= label_tag "Заказать доставку" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      <% end %>

      <%= render "shared/feedback/modal_request_booklets" %>

     
      
    </div>
    </div>
      </div>
      <% end %>

       <a data-toggle="modal" data-target="#request-booklets" class="request-booklets-modal"><span>Заказать доставку</span></a>

    </div>
  <% end %>

</div>

<hr>