<br><br>
<h2>Получен заказ на отправку каталогов по почте</h2>
<br>
Имя: <%= @name %><br>
Фамилия: <%= @last_name %><br>
Компания: <%= @company %><br>
Адрес: <%= @address %><br>
E-mail: <%= @email %><br>
Комментарий: <%= @comment %><br>

<% @booklet_ids.each do |id| %>
  <% booklet = Booklet.find(id) %>
  <p><%= booklet.title %></p>
<% end %>
