<br>

<h1>
  Управление рассылкой новостей.
</h1>
<br>
<p>
  Здесь Вы можете оформить подписку на рассылку новостей и обновлений нашего сайта.
  Для этого введите Ваш e-mail в текстовое поле и нажмите кнопку "Подписаться".
  На указанный адрес Вам придёт уведомление о подписке. Для того, чтобы подтвердить
  Ваше намерение получать новостную рассылку с нашего сайта, перейдите по ссылке,
  указанной в письме для завершения регистрации.
<p>
<br>

<%= form_tag('/feedback/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
  <%= email_field("user_email", :email, {placeholder: "email address"}) %>
  <%= submit_tag("Подписаться") %>
<% end %>

<br>
<hr>
<br>
  <p>
  Если Вы уже подписаны на рассылку и желаете отказаться от неё, введите Ваш e-mail
  в текстовое поле и нажмите на кнопку "Отказаться". Для того, чтобы подтвердить
  Ваше намерение отказаться от новостной рассылки с нашего сайта, перейдите по ссылке,
  указанной в письме для завершения отмены подписки.
  </p>
  <br>

<%= form_tag('/feedback/unsubscribe', method: "post", id: "unsubscribe", remote: "true") do -%>
  <%= email_field("user_email", :email, {placeholder: "email address"}) %>
  <%= submit_tag("Отказаться") %>
<% end %>


