<!DOCTYPE html>
<html lang="ru">
<head>
  <%= meta_tags %>
  <title>Полигон - дистрибуция электротехники</title>
  <%= favicon_link_tag "favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32" %>
  <%= favicon_link_tag "favicon-16x16.png", rel: "icon", type: "image/png", sizes: "16x16" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<%= render "shared/yandex_metrika" %>
<%= render "shared/user_navbar" %>
<%= render "shared/mainpage/header",
           :teleSubCategories         => Category.available.where(parent: 142 ),
           :comatRelecoSubCategories  => Category.available.where(parent: 77),
           :emkoSubCategories         => Category.available.where(parent: 5583),
           :benedictSubCategories     => Category.available.where(parent: 5094),
           :citelSubCategories        => Category.available.where(parent: 74  ),
           :graesslinSubCategories    => Category.available.where(parent: 5414),
           :sonderSubCategories       => Category.available.where(parent: 5535),
           :relequickSubCategories    => Category.available.where(parent: 5818),
           :cbiSubCategories          => Category.available.where(parent: 5512),
           :polygonSubCategories      => Category.available.where(parent: 6321),
           :huberSuhnerSubCategories  => Category.available.where(parent: 4847),
           :tehnoplastSubCategories   => Category.available.where(parent: 6371) %>
<%= render "shared/mainpage/mobile_header",
           :teleSubCategories         => Category.available.where(parent: 142 ),
           :comatRelecoSubCategories  => Category.available.where(parent: 77),
           :emkoSubCategories         => Category.available.where(parent: 5583),
           :benedictSubCategories     => Category.available.where(parent: 5094),
           :citelSubCategories        => Category.available.where(parent: 74  ),
           :graesslinSubCategories    => Category.available.where(parent: 5414),
           :sonderSubCategories       => Category.available.where(parent: 5535),
           :relequickSubCategories    => Category.available.where(parent: 5818),
           :cbiSubCategories          => Category.available.where(parent: 5512),
           :polygonSubCategories      => Category.available.where(parent: 6321),
           :huberSuhnerSubCategories  => Category.available.where(parent: 4847),
           :tehnoplastSubCategories   => Category.available.where(parent: 6371) %>
<div class="container">
  <div class="row">
    <% if ['categories', 'publications'].include? controller_name%>

          <%= render partial: "shared/mainpage/flash_messages", flash: flash %>
          <%= render("shared/mainpage/modal_cart") %>
          <%= yield %>

    <% else %>
      <% if controller_name == 'orders' and action_name == 'new' %>
        <div class="col-sm-12 col-md-12 content">
          <div class="row">
            <%= render partial: "shared/mainpage/flash_messages", flash: flash %>
            <%= render("shared/mainpage/modal_cart") %>
            <%= yield %>
          </div>
          <% if controller_name == 'content' and action_name == 'home' %>
            <%= render "shared/mainpage/trio" %>
            <%= render "shared/mainpage/partners" %>
          <% else %>
            <%= render "shared/mainpage/trio" %>
          <% end %>
        </div>
      <% elsif controller_name == 'examples' %>
        <div class="col-sm-12 col-md-12 content">
          <div class="row">
            <%= render partial: "shared/mainpage/flash_messages", flash: flash %>
            <%= render("shared/mainpage/modal_cart") %>
            <%= yield %>
          </div>
          <% if controller_name == 'content' and action_name == 'home' %>
            <%= render "shared/mainpage/trio" %>
            <%= render "shared/mainpage/partners" %>
          <% else %>
            <%= render "shared/mainpage/trio" %>
          <% end %>
        </div>
      <% elsif controller_name == "search" %>
        </div>
        <div class="col-sm-12 col-md-12 content">
          <div class="">
            <%= render partial: "shared/mainpage/flash_messages", flash: flash %>
            <%= render("shared/mainpage/modal_cart") %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <div class="col-sm-4 col-md-3 aside">
          <%= render("shared/mainpage/category_menu") %>
        </div>
        <div class="col-sm-8 col-md-9 content">
          <% if controller_name == 'content' and action_name == 'home' %>
            <div class="row">
          <% else %>
            <div>
          <% end %>
            <%= render partial: "shared/mainpage/flash_messages", flash: flash %>
            <%= render("shared/mainpage/modal_cart") %>
            <%= yield %>
          </div>
          <% if controller_name == 'content' and action_name == 'home' %>
            <%= render "shared/mainpage/trio" %>
            <%= render "shared/mainpage/partners" %>
          <% else %>

          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if controller_name == 'content' and action_name == 'home' %>
  <%= render("shared/mainpage/articles") %>
  <%= render("shared/mainpage/examples") %>
  <%= render("shared/mainpage/news") %>
<% elsif controller_name == 'products' %>
  <%= render "shared/products/send_request" %>
<% elsif controller_name == "feedback" %>
  
<% end %>

<%= render("shared/mainpage/footer") %>
<%= render("shared/mainpage/bot_line") %>
<% unless controller_name == 'feedback' and action_name == 'booklets' %>
  <%= render("shared/mainpage/modal_dialog") %>
<% end %>

<!-- JavaScript placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
