<!DOCTYPE html>
<html lang="ru">
<head>
  <%= meta_tags %>
  <title>Полигон - дистрибуция электротехники</title>
  <%= favicon_link_tag "favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32" %>
  <%= favicon_link_tag "favicon-16x16.png", rel: "icon", type: "image/png", sizes: "16x16" %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<%= render "shared/yandex_metrika" %>
<%= render "shared/user_navbar" %>
<%= render "shared/mainpage/header",
           :teleSubCategories         => Category.available.where(parent: 142 ),
           :comatRelecoSubCategories  => Category.available.where(parent: 5933),
           :emkoSubCategories         => Category.available.where(parent: 5583),
           :benedictSubCategories     => Category.available.where(parent: 5094),
           :citelSubCategories        => Category.available.where(parent: 74  ),
           :graesslinSubCategories    => Category.available.where(parent: 5414),
           :sonderSubCategories       => Category.available.where(parent: 5535),
           :relequickSubCategories    => Category.available.where(parent: 5818),
           :cbiSubCategories          => Category.available.where(parent: 5512),
           :polygonSubCategories      => Category.available.where(parent: 6321),
           :huberSuhnerSubCategories  => Category.available.where(parent: 4847),
           :tehnoplastSubCategories   => Category.available.where(parent: 6925) %>
<%= render "shared/mainpage/mobile_header",
           :teleSubCategories         => Category.available.where(parent: 142 ),
           :comatRelecoSubCategories  => Category.available.where(parent: 5933),
           :emkoSubCategories         => Category.available.where(parent: 5583),
           :benedictSubCategories     => Category.available.where(parent: 5094),
           :citelSubCategories        => Category.available.where(parent: 74  ),
           :graesslinSubCategories    => Category.available.where(parent: 5414),
           :sonderSubCategories       => Category.available.where(parent: 5535),
           :relequickSubCategories    => Category.available.where(parent: 5818),
           :cbiSubCategories          => Category.available.where(parent: 5512),
           :polygonSubCategories      => Category.available.where(parent: 6321),
           :huberSuhnerSubCategories  => Category.available.where(parent: 4847),
           :tehnoplastSubCategories   => Category.available.where(parent: 6925) %>
<div class="container">
  <div class="row">
    <% if controller_name == 'categories' %>
      <div class="col-sm-12 col-md-12 content">
        <div class="row">
          <% flash.each do |key, value| %>
            <br><div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="col-sm-4 col-md-3 aside">
        <%= render("shared/mainpage/category_menu") %>
      </div>
      <div class="col-sm-8 col-md-9 content">
        <div class="row">
          <% flash.each do |key, value| %>
            <br><div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
          <%= yield %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if controller_name == 'content' and action_name == 'home' %>
  <%= render("shared/mainpage/articles") %>
  <%= render("shared/mainpage/apply") %>
  <%= render("shared/mainpage/news") %>
<% end %>

<% if controller_name == 'products' %>
  <%= render "shared/products/send_request" %>
<% else %>
  <%= render "shared/mainpage/trio" %>
  <%= render "shared/mainpage/partners" %>
<% end %>

<%= render("shared/mainpage/footer") %>
<%= render("shared/mainpage/bot_line") %>
<%= render("shared/mainpage/modal_dialog") %>

<!-- JavaScript placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
