<!DOCTYPE html>
<html lang="ru">
<head>
  <%= meta_tags %>
  <title>Полигон - дистрибуция электротехники</title>
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<%= render "shared/yandex_metrika" %>
<%= render "shared/mainpage/header" %>
<%= render "shared/mainpage/mobile_header" %>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 aside">
      <%= render("shared/mainpage/category_menu") %>
    </div>
    <div class="col-sm-8 col-md-9 content">
      <div class="row">
        <%= yield %>
      </div>
      <%= render("shared/mainpage/trio") %>
      <%= render("shared/mainpage/partners") %>
    </div>
  </div>
</div>

<%= render("shared/mainpage/articles") %>
<%= render("shared/mainpage/apply") %>
<%= render("shared/mainpage/news") %>
<%= render("shared/mainpage/footer") %>
<%= render("shared/mainpage/bot_line") %>
<%= render("shared/mainpage/modal_dialog") %>

<!-- JavaScript placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
